
{% extends "layouts/baseLogin.html" %}

{% block title %} Access Request Form {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
<!-- Specific JS goes HERE -->
{% block javascripts %}<script src="/static/assets/js/modules/security/validations.js"></script>{% endblock javascripts %}

{% block content %}

    <div class="col-md-12">
        <img src="/static/assets/img/JC-Energy-Logo-Full.png" class="navbar-brand mt-5">
    </div>

    <div class="card text-white border border-dark">
    <div class="card-header bg-dark2"  >
    <script language="JavaScript">
        {% if msg %}
        swal("Error", '{{ msg }}', "error");
         {% endif %}
    </script>
          {% if msg %}
                            <span class="text-danger">{{ msg | safe }}</span>
                        {% else %}
                            <span style="color: white">
                              <h2 class="h2">{% block titulo %}Access Request Form{% endblock %}</h2>
                            </span>
                        {% endif %}
     <span class="text-danger">{{ form.email.errors }}</span>
    </div>
    <div class="card-body">
        <form  method="post" id="lanpageform" role="form" onsubmit="return getEmail() && getPhone() && getPasswordValidation()">
            {% csrf_token %}
            <div id="primerafase">
                <span class="h3 text-dark" style="text-align: left;">Personal Information.</span>
                <div class="form-row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="nombre">First Name</label>
                            <input  type="text" class="form-control" id="nombre" name="nombre" pattern="[A-Za-z]{1,45}" maxlength="45"  required/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="apellido">Last Name</label>
                            <input  type="text" class="form-control" id="apellido" name="apellido" pattern="[A-Za-z]{1,45}" maxlength="45"  required/>
                        </div>
                    </div>
                    {% if emailposition %}
                     <div class="col-md-4">
                        <div class="form-group">
                            <label for="email_pri">Primary Email:</label>
                            <input  type="email" class="form-control" id="email_pri" name="email_pri" maxlength="50"  required/>
                        </div>
                    </div>
                    {% endif %}
                </div>
            {% block emailandidentity %}{% endblock emailandidentity %}
                <span class="h3 text-dark" style="text-align: left;">Location.</span>
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="direccion">Address</label>
                            <input  type="text" class="form-control" id="direccion" name="direccion"  maxlength="200"  required/>
                        </div>
                    </div>
                </div>
            {% block telefono %}
                {% if reason %}
                 <span class="h3 text-dark" style="text-align: left;">Reason for the request.</span>
                <div class="form-row justify-content-center">
                     <div class="col-md-6">
                <div class="form-group">
    <label for="motivo_solicitud">I am interested in?</label>
    <textarea class="form-control" id="motivo_solicitud" name="motivo_solicitud" rows="4" required></textarea>
  </div>
                     </div>
                </div>
                {% endif %}
                {% endblock telefono %}
            </div>
        <div id="segundafase">

              {% block registrofull %}

                  {% endblock registrofull %}

        </div>
            <div class="form-group row mt-2">
                            <div class="col-3 offset-4">
                                <button type="submit" class="btn bg-dark2 btn-block btn-md" style="color: white">Submit</button>
                                &nbsp; &nbsp;
                            </div>
                        </div>
        <input type="hidden" id="correos" name="correos" value="asdX">
            <input type="hidden" name="telefonos" id="telefonos" value="asdX">
            <input type="hidden" name="email" id="email_user" value="asdX">
        </form>
    </div>
    <div class="card-footer bg-dark2">
        <div class="h5">© Copyright 2021 | JC Energy | ALL RIGHTS RESERVED.</div>
    </div>
</div>

{% endblock content %}

