# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log

# venv
env
venv

# other
.DS_Store

# javascript
package-lock.json

staticfiles/*
!staticfiles/.gitkeep 
.vscode/symbols.json

#migrations
modules/app/migrations/
modules/academic/migrations/
modules/registration/migrations/
modules/security/migrations/
modules/planning/migrations/
modules/communication/migrations/
core/db.py
.idea/