<div class="form-row">
    <h2>Options</h2>
</div>

<div class="form-row col-md-12">
    <div class="form-group col-md-12">
        <label for="optionText">Option text</label>
        <textarea name="optionText" class="form-control" id="optionText" cols="100" rows="4" placeholder="Write here the text for the options"></textarea>
    </div>
</div>   
{% comment %}    
<div class="form-row col-md-12">
    <div class="form-group col-md-6">
        <div class="custom-control custom-checkbox ml-2">
            <input type="checkbox" class="custom-control-input" name="checkCorrectOptionCB" id="checkCorrectOptionCB">
            <label class="custom-control-label" for="checkCorrectOptionCB">Correct option?</label>
         </div>
    </div>
</div>
  {% endcomment %}

<div class="form-row col-md-12">
    <div class="form-group col-md-12 d-flex justify-content-start">
        <button class="btn btn-success mt-4" id="addRow">
            Add option <i class="fas fa-arrow-down ml-1"></i>

        </button>     
                            

    </div>
</div>

<div class="form-row col-md-12 text-center">
    <div class="form-group col-md-12">
        <div class="table-responsive">
            <table class="table table-sm table-bordered table-striped table-hover">
                <thead class="form-group col-md-12">
                    <tr>
                        <th>
                            Option text
                        </th>
                        <th>
                            Correct option
                        </th>                     
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody  id="tableContentSimple">
                   
                </tbody>
            </table>
        </div>
    </div>
</div>  
    