<div class="modal-content">

    <div class="modal-header">
        <h4 style="left: initial;" class="modal-title"></h4>  
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
  
        <div class="modal-body">
       

                <div class="row justify-content-center">
                            <div class="form-group col-md-12">
                                <div id="chart-container" style="height: 20rem;">
                                    <canvas id="lineChart"></canvas>
                                </div>
                            </div>
                        
                        
                
                
                </div>
                <br>
                <br>

                <br>
                <br>


                   <div class="row justify-content-center" style="text-align: center;">
                          {% for item in dataResults %}
                        <div class="form-group col-md-12">
                               Your result for block<b> {{item.fk_bloque}} </b> were in the category <b> {{item.escalaOpcion}}</b>
                               <br>
                               {{item.comentario}}
                               
                               <br>
                               {% if item.fk_estructura_programa != None %}
                               We have a suggestion for you to get better results the time:
                               <br>
                              <b> {{item.fk_estructura_programa}} </b>
                              <br>
                              {% if Examen.usuario == publico %}
                              Get yout self enroll by clicking here <button type="button" class="btn btn-success" onclick="matricular({{item.fk_estructura_programa.pk}})">Apply</button>
                              {%endif%}
                              <br>
                              <br>
                              <br>
                               {%endif%}
                            </div>



                          {% endfor %}
                        
                        
                
                
                </div>

        </div>
        
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
                <i class="fas fa-arrow-left mr-2"></i>Back
            </button>

        </div>
  
</div><!-- /.modal-content -->