<div class="modal-content">
   <div class="modal-header">
      <h5 class="modal-title"><strong>Course</strong></h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
      </button>
   </div>
   <form id="formCurso" class="form">
      <div class="modal-body">
         <div class="form-row">
            <div class="form-group col-6">
               <label for="programCourse" class="col-form-label">Program</label>
               <select class="form-control" name="programCourse" id="programCourse" onchange="changeProgram()">
                  <option value="null" {% if not modeloAbuelo %}selected{% endif %} disabled>Select a program</option>
                  {% for item in programs %}
                  <option value="{{item.pk}}" {% if modeloAbuelo %}{% if modeloAbuelo.fk_estructura_padre_id == item.pk %}selected{% endif %}{% endif %}>{{item.descripcion}}</option>
                  {% endfor%}
               </select>
            </div>
            <div class="form-group col-6">
               <label for="processCourse" class="col-form-label">Process</label>
               <select class="form-control" name="processCourse" id="processCourse" onchange="changeProcess()" required>
                  <option value="null" {% if not modeloPadre %}selected{% endif %} disabled>Select a process</option>
                  {% for item in processes %}
                  <option value="{{item.pk}}" {% if modeloPadre %}{% if modeloPadre.fk_estructura_padre_id == item.pk %}selected{% endif %}{% endif %}>
                     {{item.descripcion}}</option>
                  {% endfor%}
               </select>
            </div>
         </div>
         <div class="form-row">
            <div class="form-group col-6">
               <label for="padreCourse" class="col-form-label">Unit</label>
               <select class="form-control" name="padreCourse" id="padreCourse" required>
                  <option value="null" {% if not modelo %}selected{% endif %} disabled>Select an unit</option>
                  {% for item in units %}
                  <option value="{{item.pk}}" {% if modelo %}{% if modelo.fk_estructura_padre_id == item.pk %}selected{% endif %}{% endif %}>
                     {{item.descripcion}}</option>
                  {% endfor%}
               </select>
            </div>
            <div class="form-group col-6">
               <label for="urlCourse" class="col-form-label">URL</label>
               <input type="text" class="form-control" name="urlCourse" id="urlCourse" placeholder="Enter a valid URL"
                  required value="{% if modelo %}{{ modelo.url}}{% endif %}">
            </div>

         </div>
         <div class="form-row">
            <div class="form-group col-6">
               <label for="titleCourse" class="col-form-label">Title</label>
               <input type="text" class="form-control" id="titleCourse" name="titleCourse"
                  placeholder="Enter a title for this course" required
                  value="{% if modelo %}{{ modelo.descripcion }}{% endif %}">
            </div>
            <div class="form-group col-6">
               <label for="tagCourse" class="col-form-label">Tag</label>
               <input type="text" class="form-control" id="tagCourse" name="tagCourse"
                  placeholder="Enter a abbreviation to identify this course" required
                  value="{% if modeloCurso %}{{ modeloCurso.abrev_curso}}{% endif %}">
            </div>
         </div>
         <div class="form-row">
            <div class="form-group col-6">
               <label for="codeCourse" class="col-form-label">Code</label>
               <input type="text" class="form-control" id="codeCourse" name="codeCourse"
                  placeholder="Enter a code to identify this course" required
                  value="{% if modeloCurso %}{{ modeloCurso.codigo_curso}}{% endif %}">
            </div>
            <div class="form-group col-6">
               <label for="creditos" class="col-form-label">Credits</label>
               <input type="number" class="form-control" name="creditos" id="creditos" placeholder="1" required
                  value="{% if modelo %}{{ modelo.peso_creditos }}{% endif %}">
            </div>
         </div>
         <div class="form-row">
            <div class="form-group col-12">
               <label for="descriptionCourse" class="col-form-label">Description</label>
               <textarea class="form-control" name="descriptionCourse" id="descriptionCourse"
                  placeholder="Enter a description here" required>{% if modeloCurso %}{{ modeloCurso.desc_curso}}{% endif %}</textarea>
            </div>
         </div>
         <div class="form-row">
            <div class="form-group col-6">
               <label for="statusCourse" class="col-form-label">Status</label>
               <select class="form-control" name="statusCourse" id="statusCourse">
                  <option value="null" {% if not modeloCurso %}selected{% endif %} disabled>Select a status</option>
                  {% for item in status %}
                  <option value="{{item.pk}}" {% if modeloCurso %}{% if modeloCurso.fk_estatus_curso_id == item.pk %}selected{% endif %}{% endif %}>{{item.desc_elemento}}</option>
                  {% endfor%}
               </select>
            </div>
            <div class="form-group col-6">
               <label for="diponibleCourse" class="col-form-label">Available from</label>
               <input type="date" class="form-control" name="disponibleCourse" id="disponibleCourse" required
                  value="{% if modeloCurso %}{{ modeloCurso.disponible_desde|date:'Y-m-d'}}{% endif %}">
            </div>
         </div>
         <div class="form-row">
            <div class="form-group col-6">
               <div class="custom-control custom-checkbox ml-2">
                  <input type="checkbox" class="custom-control-input" name="checkExpertCB" id="checkExpertCB" {% if modeloCurso %}{% if modeloCurso.tipo_evaluacion %} checked {% endif %}{% endif %}>
                  <label class="custom-control-label" for="checkExpertCB">Expert test</label>
               </div>
            </div>
            <div class="form-group col-6">
               <div class="custom-control custom-checkbox ml-2">
                  <input type="checkbox" class="custom-control-input" name="checkDurationCB" id="checkDurationCB"
                     onclick="toggleTime()" {% if modeloCurso %}{% if modeloCurso.duracion %} checked {% endif %}{% endif %}>
                  <label class="custom-control-label" for="checkDurationCB">Handle duration</label>
               </div>
            </div>
         </div>
         <div class="form-row">
            <div class="form-group col-6">
               <label for="durationCourse" class="col-form-label">Duration</label>
               <input type="number" class="form-control" name="durationCourse" id="durationCourse" placeholder="0"
                  required {% if modeloCurso %} {% if modeloCurso.duracion %} value="{{ modeloCurso.duracion}}" {%else%} disabled {% endif %}{% else %} disabled {% endif %}>
            </div>
            <div class="form-group col-6">
               <label for="timeCourse" class="col-form-label">Time</label>
               <select class="form-control" name="timeCourse" id="timeCourse" {% if modeloCurso %}{% if not modeloCurso.fk_tipo_duracion%}disabled{% endif %}{% else %}disabled{% endif %}>
                  <option value="null" selected disabled>Select a type time</option>
                  {% for item in tipoDuracion %}
                  <option value="{{item.pk}}" {% if modeloCurso %}{% if modeloCurso.fk_tipo_duracion == item.pk %}selected{% endif %}{% endif %}>{{item.desc_elemento}}</option>
                  {% endfor%}
               </select>
            </div>
         </div>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-danger" data-dismiss="modal"><i
               class="fas fa-arrow-left mr-2"></i>Back</button>
         <button type="submit" class="btn btn-primary">Save<i class="fas fa-save ml-2"></i></button>
      </div>
   </form>
</div>
