<div class="modal-content">

    <div class="modal-header">
        <h4 style="left: initial;" class="modal-title"></h4>  
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
  
        <div class="modal-body">
       

                <div class="row justify-content-center">
                            <div class="form-group col-md-12">
                                <div id="chart-container" style="height: 20rem;">
                                    <canvas id="lineChart"></canvas>
                                </div>
                            </div>
                        
                        
                
                
                </div>

        </div>
        
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
                <i class="fas fa-arrow-left mr-2"></i>Back
            </button>

        </div>
  
</div><!-- /.modal-content -->