
    <thead id="tablaHead">
        <tr>
            {% for key, value in keys.items %}
                <th id={{ key }} class={% if key == orden %}descendiente{% endif %}>{{ value }}</th>
            {% endfor %}
            
            {% if not tipo == 'tablaSchedule' %}

                <th>Action</th>

            {% endif %}
            
        </tr>
    </thead>
    <tbody>  
        {% for p in plan %}  
            <tr> 
                {% for key, value in keys.items %}
                    <td>
                        {% if search and p|get_attr:key|tostring|matches:search %}

                            {{ p|get_attr:key|tostring|replaces:search|safe }}
                        
                        {% else %}

                            {{ p|get_attr:key }}

                        {% endif %}
                    </td>
                {% endfor %}


                {% if not tipo == 'tablaSchedule' %}

                    {% for key, value in keys.items %}

                        {% if forloop.first %}

                            {% if not tipo  %}

                                <td>  
                                    <button onclick="modalCall('{{  p|get_attr:key }}')" class="btn btn-icon btn-sm btn-info" title="Edit"><i class="fas fa-edit"></i></button>  
                                    <button onclick="eliminar('{{  p|get_attr:key }}')" class="btn btn-icon btn-sm btn-danger ml-1" title="Remove"><i class="fas fa-trash-alt"></i></button>
                                </td>  

                            {% elif tipo == 'Schedule' %}

                                <td>  
                                    <a href="{% url urlEdit p|get_attr:key %}" class="btn btn-icon btn-sm btn-success" title="Add"><i class="fas fa-plus align-middle mt-1"></i></a>

                                    {% if p|get_attr:key|hasPrograms %}
                                
                                        <a href="#" class="btn btn-icon btn-sm btn-warning" id="{{p|get_attr:key}}" title="Show"><i class="fas fa-clipboard align-middle mt-1"></i></a>

                                    {% endif %}

                                </td>  
                                
                            {% endif %}

                        {% endif %}

                    {% endfor %}

                {% endif %}


            </tr>  
        {% empty %}

            <tr><td colspan="100%"><h2>No matching records found</h2></td></tr> 

        {% endfor %} 
        
        {% if not tipo == 'tablaSchedule' %}

            <tr><td>{{ plan }}</td></tr> 
        
        {% endif %}

    </tbody>  