{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

    <div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Profiles</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="{% url 'home' %}">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<span>Planning</span>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="{% url 'showProfilage' %}">Profile</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Edit</a>
					</li>
				</ul>
			</div>
			<div class="page-category">
           	 	<div class="card">
					<div class="card-header">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <h2 class="card-text mt-2">
                                   Set profiles
                                </h2>
                            </div>
                        </div>
					</div>
                    {% include 'planning/formularios.html' with form=form %} 

				</div>        
      		</div>
		</div>
	</div>
	
{% endblock content %}

<!-- Specific Page JS goes HERE  planning/edit-->
{% block javascripts %}

<script>
	
	// metodos errores campos formulario
	var t;    
	function myCallback()
	{
		$.ajax({
			data: $('#formulario').serialize()+"&id={{ id }}",
			url: "{% url 'validate_username' %}",
			success: function (response) {
				if (response.message != null) {
					$('#id_username').removeClass('is-valid').addClass('is-invalid');
					if(!$('#usernameError').length)
						$('#id_username').after('<div class="invalid-feedback d-block" id="usernameError">' + response.message + '</div>')
				}
				else if($('#id_username').val()){
					$('#id_username').removeClass('is-invalid').addClass('is-valid');
					if($('#usernameError').length)
						$('#usernameError').remove();

				}else{
					$('#id_username').removeClass('is-invalid').removeClass('is-valid');
					if($('#usernameError').length)
						$('#usernameError').remove();

				}

			},
			error: function (response) {
				console.log(response.responseJSON.errors)
			}
		});
	}

	$(document).ready(function () {
		$('#id_username').keyup(function () {  
		
			if ( t )
			{
				clearTimeout( t );
				t = setTimeout( myCallback, 1000 );
			}
			else
			{
				t = setTimeout( myCallback, 1000 );
			}

			return false;
		});
		
	})

	// metodos filtro combo
	$("#formulario").on('click', ".input-group-prepend", function(e){

		if(document.getElementById('myBrowser')==null){
			// console.log( $(this).attr('name'))

			// console.log($(this).prev().attr('name'))
			const d = $(this)
			
			$.ajax({
					type: "POST",
					url: "{% url 'renderListasCombos' %}", 
					data : {    
					clave: $(this).prev().attr('name'),
					tipo: 'TablasConfiguracion',
					csrfmiddlewaretoken: '{{ csrf_token }}',
				},
				success: function (response) {

					// document.getElementById('paginas').innerHTML = response.paginas;
					// document.getElementById('tablaContenido').innerHTML = response.contenido;
					// // console.log(response.contenido)
					d.before(response.lista)
					$("#myBrowser").focus()

				},
				error: function () {}
			});

		}
	})	

	$("#formulario").on('focusout', "#myBrowser", function(e){

		$('#browsers').remove()

		$('#myBrowser').remove()

	})


	$("#formulario").on('input keydown', "#myBrowser", function(e){

		let val = this.value;
		let id

		if($('#browsers option').filter(function(){return this.value.toUpperCase() === val.toUpperCase()}).length && e.keyCode == 13) {
			
			id = $('#browsers option').filter(function(){return this.value.toUpperCase() === val.toUpperCase()})[0].id

			$('#myBrowser').prev().val(id)

			$('#myBrowser').blur()

		}

	});

</script>

{% endblock javascripts %}
