{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content">
		<div class="page-inner animated fadeInDown">
			<div class="page-header">
				<h4 class="page-title">Profilages</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="{% url 'home' %}">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<span>Planning</span>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="{% url 'showCompetenceAdq' %}">Competence</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Edit</a>
					</li>
				</ul>
			</div>
			<div class="page-category d-flex justify-content-center">
           	 	<div class="card" style="width: 50rem;">
					<div class="card-header" style="background-color: #1a2035 !important;
					color: white;">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <h2 class="card-text mt-2">
                                   Set competence
                                </h2>
                            </div>
                        </div>
					</div>
                    {% include 'planning/formularios.html' with form=form %} 
				</div>        
      		</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


	<script>

		//cargar competencias si se selecciono un publico
		const select = document.getElementById('id_fk_publico');

		$('document').ready(function(){

			if(!select.value){
				
				$('#id_fk_competencia').empty().append('<option selected="selected" value>Select a Public</option>');

			}

		});


		$("#formulario").on('change', "#id_fk_publico", function(e){

			if(select.value && "{{ request.user.is_staff }}".toLowerCase()==='true' && select.length > 2){
				
				$.ajax({
					type: "POST",
					data: {
						"id": select.value, 
                        csrfmiddlewaretoken: '{{ csrf_token }}',

					},
					url: "{% url 'renderListasPublic' %}",
					success: function (response) {

						document.getElementById('id_fk_competencia').innerHTML = response.competence

					},
					error: function (response) {
						console.log(response.responseJSON.errors)
					}
				});

			}

		});



		
	

	// metodos filtro combo
	$("#formulario").on('click', ".input-group-prepend", function(e){

		if(document.getElementById('myBrowser')==null){
			// console.log( $(this).attr('name'))

			console.log($(this).prev().attr('name'))
			const d = $(this)
			
			$.ajax({
					type: "POST",
					url: "{% url 'renderListasCombos' %}", 
					data : {    
					clave: $(this).prev().attr('name'),
					tipo:  $(this).prev().attr('name') ==='fk_competencia' ? 'CompetenciasReq' : $(this).prev().attr('name') === 'fk_publico' ? 'Publico' : 'TablasConfiguracion',
					csrfmiddlewaretoken: '{{ csrf_token }}',
				},
				success: function (response) {

					// document.getElementById('paginas').innerHTML = response.paginas;
					// document.getElementById('tablaContenido').innerHTML = response.contenido;
					// // console.log(response.contenido)
					d.before(response.lista)
					$("#myBrowser").focus()

				},
				error: function () {}
			});

		}
	})	

	$("#formulario").on('focusout', "#myBrowser", function(e){

		$('#browsers').remove()

		$('#myBrowser').remove()

	})

	$("#formulario").on('input keydown', "#myBrowser", function(e){

		let val = this.value;
		let id

		if($('#browsers option').filter(function(){return this.value.toUpperCase() === val.toUpperCase()}).length && e.keyCode == 13) {
			
			id = $('#browsers option').filter(function(){return this.value.toUpperCase() === val.toUpperCase()})[0].id

			$('#myBrowser').prev().val(id).change()

			$('#myBrowser').blur()

		}

	});

	</script>

{% endblock javascripts %}
