{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Profilages</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="{% url 'home' %}">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<span>Planning</span>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="{% url 'showCompetenceAdq' %}">Competence</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Edit</a>
					</li>
				</ul>
			</div>
			<div class="page-category">
           	 	<div class="card">
					<div class="card-header">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <h2 class="card-text mt-2">
                                   Set competence
                                </h2>
                            </div>
                        </div>
					</div>
                    {% include 'planning/formularios.html' with form=form %} 
				</div>        
      		</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


	<script>

		const select = document.getElementById('id_fk_publico');

		$('document').ready(function(){

			if(!select.value){
				
				$('#id_fk_nivel').empty().append('<option selected="selected" value>Select a Public</option>');
				$('#id_fk_competencia').empty().append('<option selected="selected" value>Select a Public</option>');

			}


		});


		select.addEventListener('change',function(){

			if(select.value && "{{ request.user.is_staff }}".toLowerCase()==='true' && select.length > 2){
				
				$.ajax({
					data: "id=" + select.value,
					url: "{% url 'renderListasPublic' %}",
					success: function (response) {

						document.getElementById('id_fk_competencia').innerHTML = response.competence
						document.getElementById('id_fk_nivel').innerHTML = response.levels

					},
					error: function (response) {
						console.log(response.responseJSON.errors)
					}
				});

			}

		});

	</script>

{% endblock javascripts %}
