<div class="form-group row">
    <form type="get" action="." class="col-md-2">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fas fa-search"></i>
                </span>
            </div>
            <input id="search_box" type="text" name="search_box"  placeholder="Search..." class="form-control" value="{{ search }}" {% if search %}autofocus{% endif %}>
        </div>
    </form>
</div>
