<div class="card-body">
    <form method="post" action="" id="formulario">

        {% csrf_token %}

        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    {% for p in form %}  
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-list"></i>
                                    </span>
                                </div>
                                {{ p }}
                            </div>
                        </div>
                    {% endfor %} 
                </div>
            </div>
        </div>
        <div class="card-action">
            <button type="submit" class="btn bg-dark2 btn-lg btn-block d-flex" style="color: white">Submit</button>
        </div>
        <div class="card-action">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
        
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
        
            {% endif %}
        </div>
    </form>


</div>
{% include 'planning/mensajes.html' %}  