

{% if tipo != 'Schedule' %}

    {% if defecto %}

        <option value selected>{{ defecto }}</option>
    
    {% endif %}
    
    {% for p in lista %}  
        
        {% if tipo == 'CompetenciasReq' %}

    <option value={{ p.idcompetenciasreq }}>{{ p.desc_competencia }}</option>

        {% elif tipo == 'Profile' %}

    <option value={{ p.idperfil }}>{{ p.deescripcion }}</option>

        {% elif tipo == 'Estructuraprograma' %}

    <option value={{ p.idestructuraprogrmas }}>{{ p.descripcion }}</option>

        {% elif tipo == 'cursos_prerequisitos' %}

    <option value={{ p.fk_estructura_programa_pre.idestructuraprogrmas }}>{{ p.fk_estructura_programa_pre.descripcion }}</option>

        {% endif %}

    {% endfor %} 

{% else %}
    {% comment %} 
        <ul class="list-group">
        {% for p in lista %}  

            <li class="list-group-item d-flex justify-content-between align-items-center listaCompetencia" id="{{p.idcompetenciasreq}}">

            {{p.desc_competencia}}

                {% if resultados|get_list:forloop.counter %}
                
                    <span class="badge badge-success badge-pill">

                        <i class="fas fa-check-circle"></i>

                    </span>

                {% else %}

                    <span class="badge badge-danger badge-pill">

                        <i class="fas fa-times-circle"></i>

                    </span>

                {% endif %}

            </li>

        {% endfor %} 

        </ul>
    {% endcomment %}

        {% for p in lista %}  
            <div class="row justify-content-center listaCompetencia" id="{{p.idcompetenciasreq}}">
                <div class="col-10">
                    <div class="card card-stats card-round border">
                        <div class="card-body">
                            <div class="row">
                                
                                {% if resultados|get_list:forloop.counter %}
                                
                                    <div class="col-5">
                                        <div class="icon-big text-center">
                                            <i class="flaticon-success text-success"></i>
                                        </div>
                                    </div>
            
                                {% else %}
            
                                    <div class="col-5">
                                        <div class="icon-big text-center">
                                            <i class="flaticon-error text-danger"></i>
                                        </div>
                                    </div>
            
                                {% endif %}
                                
                                <div class="col-7 col-stats">
                                    <div class="numbers">
                                        <h4 class="card-title">{{p.desc_competencia}}</h4>
                                    </div>
                                </div>
            
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %} 

{% endif %}

