{% extends "layouts/base.html" %}

{% block title %}{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %} 
{% block content %}

	<div class="content" id="contenedor">
		<div class="page-inner animated fadeInRight">
			<div class="page-header">
				<h4 class="page-title">Public</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="{% url 'home' %}">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="{% url 'indexSettings' %}">Settings</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href=".">Public</a>
					</li>
				</ul>
			</div>
            {% include 'planning/filtro.html' %}
			<div class="page-category" id="prueba">
                <div class="card">
                    <div class="card-header">
                        <div class="form-row">
                            <div class="form-group d-flex">
                                <h2 class="card-text mt-2">
                                List of public
                                </h2>

                            </div>

                        </div>
                        
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped table-borderless table-component-like text-center" id="tablaContenido">

                                {% include 'planning/contenidoTablaPublic.html' with plan=plan tipo=tipo %}   

                            </table>
                        </div>
                    </div>
                    <div class="card-footer" id="paginas"> 

                        {% include 'planning/paginas.html' with plan=plan %} 

                    </div> 
                </div>           
      		</div>
		</div>
	</div>

    {% include 'planning/mensajes.html' %}


    <div class="modal fade" tabindex="-1" id="myModal" role="dialog" aria-hidden="true">
        <div id="addNewModalContent" class="modal-dialog modal-dialog-centered" role="document">

            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Set role</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    
                    <select class="form-control" id="roles">

                    </select>
                    <input type="hidden">

                </div>

                <div class="modal-footer mt-3">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-arrow-left mr-2"></i>Close</button>
                    <button type="button" class="btn btn-primary" id="botonGuardar"><i class="fas fa-save mr-2"></i>Save</button>
                </div>

            </div>
            
        </div>
    </div>

{% endblock content %}
	
<!-- Specific Page JS goes HERE  planning-->
{% block javascripts %}



<script>
        

        const bloquear = (id) => {

            swal({
                    title: "Are you sure?",
                    text: "Do you want to lock this user?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,

            }).then((willDelete) => {

                    if(willDelete){
                            $.ajax({
                            type: "POST",
                            url: "{% url urlRemove %}",
                            data: {
                                'csrfmiddlewaretoken': '{{ csrf_token }}',
                                'id': id,
                            },
                            dataType: "json",
                            success: function (data) {
                                if(data.mensaje && data.mensaje === 'self' || data.mensaje === 'verification')
                                    
                                    swal({
                                            title: "Alert?",
                                            text: data.mensaje === 'self'?"You can't look your account?":"This account needs to be verified",
                                            icon: "warning",})
                                else
                                    $('#paginas').find('.active').find('.page-link').trigger('click')
                                
                            },
                            failure: function () {
                                swal("failure");
                            }
                        });

                    }
                });
            } 
        const desbloquear = (id) => {

            swal({
                    title: "Are you sure?",
                    text: "Do you want to unlock this user?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,

            }).then((willDelete) => {

                    if(willDelete){
                            $.ajax({
                            type: "POST",
                            url: "{% url urlEdit %}",
                            data: {
                                'csrfmiddlewaretoken': '{{ csrf_token }}',
                                'id': id,
                            },
                            dataType: "json",
                            success: function (data) {
                                $('#paginas').find('.active').find('.page-link').trigger('click')
                                
                            },
                            failure: function () {
                                swal("failure");
                            }
                        });

                    }
                });
            } 

        const modalRol = (id) => {
        
            $.ajax({
                type: "POST",
                data: {
                    id: id,
                    csrfmiddlewaretoken: '{{ csrf_token }}',

                },
                url: "{% url 'listaRol' %}",
                success: function (response) {

                    if(response.html && response.html === 'self')
                                    
                        swal({
                            title: "Alert?",
                            text: "You can't set your role?",
                            icon: "warning",})
                    else{
                        
                        document.getElementById('roles').innerHTML = response.html;
                        $("#myModal").modal('show');
                        $("#myModal input").val(id);

                    }

                },
                error: function (response) {
                    console.log(response.responseJSON.errors)
                }
            });

        } 
            
    //paginaciones
    $('#paginas').on('click', ".page-link", function(e){
        e.preventDefault();
        let page = $(this).attr('href').replace ( /[^\d.]/g, '' );
            $.ajax({
                    type: "POST",
                    url: "{% url 'paginar' %}", 
                    data : {    
                    page : page, 
                    filtro : $('#search_box').val(), 
                    tipo: "Public",
                    orden: orden,
                    tipoOrden: $("#tablaContenido").hasClass("descendiente")?"-":"",
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function (response) {

                    document.getElementById('paginas').innerHTML = response.paginas;
                    document.getElementById('tablaContenido').innerHTML = response.contenido;
                    // console.log(response.contenido)

                },
                error: function () {}
            });

    }); 

    //metodos para filtro
    let t;    
        function myCallback()
        {
            let txt = $('#search_box').val();
                $.ajax({
                        type: "POST",
                        url: "{% url 'paginar' %}", 
                        data : {    
                        filtro : txt, 
                        tipo: "Public",
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (response) {

                        document.getElementById('paginas').innerHTML = response.paginas;
                        document.getElementById('tablaContenido').innerHTML = response.contenido;
                        // // console.log(response.contenido)

                    },
                    error: function () {}
                });
        }

    $(document).ready(function () {
        $('#search_box').keyup(function (e) {  

            if (e.keyCode === 13) {

                if (t){
                    
                    clearTimeout( t );
                    t = null;
                    myCallback();
                }

            }

            else

                if ( t )
                {
                    clearTimeout( t );
                    t = setTimeout( myCallback, 1000 );
                }
                else
                {
                    t = setTimeout( myCallback, 1000 );
                }

            return false;
        });
        
    })
    //llama boton x
    document.getElementById('search_box').addEventListener('input', function(e) { 
        if(e.currentTarget.value == "") {
            myCallback();
        }
    })

    
    let orden="", tipoOrden="";
    
    //metodos para ordenar las tablas por columna
    $("#tablaContenido").on('click', "th", function(e){

        if($(this).attr("id"))
            var ord=""
        if($("#tablaContenido").hasClass("descendiente"))

            $('#tablaContenido').removeClass('descendiente');

        else{
            ord="-"
            $('#tablaContenido').addClass('descendiente');
        }

        orden = $(this).attr("id")
        if(orden === 'telefonos' || orden === 'idpublico' || orden === 'nombre' || orden === 'apellido' || orden === 'correos') orden = 'Publico__'+orden
        if(orden === 'fk_rol_usuario' || orden === 'fk_status_cuenta') orden = 'CtaUsuario__'+orden+'__desc_elemento'
        if(orden === 'username') orden = 'user__'+orden
        // let page = $('#paginas .page-item.active').children('a').attr('href').replace ( /[^\d.]/g, '' );
        $.ajax({
                type: "POST",
                url: "{% url 'paginar' %}", 
                data : {    
                orden: orden,
                // page: page,
                tipoOrden: ord,
                filtro : $('#search_box').val(), 
                tipo: "Public",
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function (response) {

                document.getElementById('paginas').innerHTML = response.paginas;
                document.getElementById('tablaContenido').innerHTML = response.contenido;
                // console.log(response.contenido)

            },
            error: function () {}
        });

    });



    //metodo guardar y validar 
    $('#myModal').on('click', '#botonGuardar', function (e) {
        let rolSlected = $('#myModal select option:selected').val()
        let id = $('#myModal input').val()
        $.ajax({
            type: "POST",
            url: "{% url 'setRole' %}",
            data : {
                id: id,
                rol: rolSlected,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            dataType: "json",
            success: function (response) {

                if(!response.mensaje){
                    $('#paginas').find('.active').find('.page-link').trigger('click')
                    $('#myModal').modal('hide')

                }
                
            },
            failure: function () {
                swal("failure");
            }
        });
    })


    
</script>

{% endblock javascripts %}






