{% extends "layouts/base.html" %}

{% block title %}{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %} 
{% block content %}

	<div class="content" id="contenedor">
		<div class="page-inner animated fadeInRight">
			<div class="page-header">
				<h4 class="page-title">Profiles</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="{% url 'home' %}">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<span>Planning</span>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href=".">Profiles</a>
					</li>
				</ul>
			</div>
            {% include 'planning/filtro.html' %}
			<div class="page-category" id="prueba">
                <div class="card">
                    <div class="card-header">
                        <div class="form-row">
                            <div class="form-group d-flex">
                                <h2 class="card-text mt-2">
                                List of profiles
                                </h2>

                            </div>
                            <div class="form-group d-flex ml-auto">
                            
                                <button class="btn btn-success" id="addButton">Add profile <i class="fas fa-plus ml-1"></i></button>

                            </div>

                        </div>
                        
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped table-borderless table-component-like text-center" id="tablaContenido">
                                
                                {% include 'planning/contenidoTabla.html' with plan=plan %}   

                            </table>
                        </div>
                    </div>
                    <div class="card-footer" id="paginas">
                        {% include 'planning/paginas.html' with plan=plan %}   
                    </div> 
                </div>           
      		</div>
		</div>
	</div>

    {% include 'planning/mensajes.html' %}   




    
<div class="modal fade" tabindex="-1" id="myModal" role="dialog" aria-hidden="true">
    <div id="addNewModalContent" class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Set profiles</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="modalBody">

            </div>

            <div class="modal-footer mt-3">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-arrow-left mr-2"></i>Back</button>
                <button type="button" class="btn btn-primary" id="botonGuardar"><i class="fas fa-save mr-2"></i>Save</button>
            </div>

        </div>
        
    </div>
</div>

{% endblock content %}
	
<!-- Specific Page JS goes HERE  planning-->
{% block javascripts %}

    <script>


        //metodos para las validaciones

        $(document).on('input', "#id_desc_corta", function(e){

            $("#id_desc_corta").parent().parent().removeClass('has-error');
            $("#error2").remove()


        })

        $(document).on('change', "#id_fk_rama", function(e){

            $("#id_fk_rama").parent().parent().removeClass('has-error');
            $("#error3").remove()

        })

        //metodos para pasar al siguiente
        
        $("#myModal").on('keydown', "#id_username", function(e){

            if(e.keyCode == 13) 
                
                $("#id_desc_corta").focus()

        });

        $("#myModal").on('keydown', "#id_desc_corta", function(e){

            if(e.keyCode == 13) 
                
                $("#id_fk_rama").focus()

        });   

        $("#myModal").on('keydown', "#id_fk_rama", function(e){

            if(e.keyCode == 13) 

                $("#botonGuardar").trigger('click')

        });

        //mostrar modal
        let idEdit, nameEdit
        $(document).on('click', '#addButton', function (e) {
            modalCall(null)
        })

        function modalCall(id) {
            idEdit = id
            setLoading()
            $.ajax({
                type: "POST",
                url: "{% url 'modalForm' %}",
                data: {
                    'idModal': id,
                    'tipoModal': '{{categoria}}',
                    'csrfmiddlewaretoken': '{{ csrf_token }}',

                },
                dataType: "json",
                success: function (response) {
                    
        		    document.getElementById('modalBody').innerHTML = response.formulario
                    nameEdit = response.nombre
        		    $('#myModal').modal('show')
                    stopLoading()
                   
                    
                },
                failure: function () {
                    swal("failure");
                    stopLoading()
                }
            });

        }

        $('#myModal').on('shown.bs.modal', function () {
            $("#id_username").focus();
        })

        //metodo guardar y validar 
        $('#myModal').on('click', '#botonGuardar', function (e) {

            if(!$("#id_username").val() || !$("#id_desc_corta").val() || !$("#id_fk_rama").val() || $('#myModal').find('.has-error').length) {


                if(!$("#id_fk_rama").val()){
                    
                    $("#error3").remove()
                    $("#id_fk_rama").parent().parent().addClass('has-error');
                    $("#id_fk_rama").parent().after('<label id="error3">Select a profile branch</label>')
                    $("#id_fk_rama").focus()
                    
                }

                if(!$("#id_desc_corta").val()){
                    
                    $("#error2").remove()
                    $("#id_desc_corta").parent().parent().addClass('has-error');
                    $("#id_desc_corta").parent().after('<label id="error2">Enter a profile description</label>')
                    $("#id_desc_corta").focus()
                
                }

                if(!$("#id_username").val()){
                    
                    $("#error1").remove()
                    $("#id_username").parent().parent().addClass('has-error');
                    $("#id_username").parent().after('<label id="error1">Enter a profile name</label>')
                    $("#id_username").focus()

                }else if($("#id_username").parent().parent().hasClass('has-error')){

                    // $("#id_username").focus()
                }

            }else{

                setLoading()
                $.ajax({
                    type: "POST",
                    url: "{% url 'createProfile' %}",
                    data: idEdit ? $('#formulario').serialize()+'&idEdit='+idEdit : $('#formulario').serialize(),
                    dataType: "json",
                    success: function (response) {

                        if(!response.mensaje){
                            $('#paginas').find('.active').find('.page-link').trigger('click')
                            $('#myModal').modal('hide')

                        }
                        
                        stopLoading()
                    },
                    failure: function () {
                        swal("failure");
                        stopLoading()
                    }
                });
            }
        })


        // metodos descripciones unicas
        var time;    
        function tiempo()
        {
            if(!nameEdit || nameEdit !== $('#id_username').val()){

                setLoading()
                $.ajax({
                    data: $('#formulario').serialize()+"&id={{ id }}",
                    url: "{% url 'validate_username' %}",
                    success: function (response) {
                        if (response.message != null) {
                            $("#error1").remove()
                            $("#id_username").parent().parent().addClass('has-error');
                            $("#id_username").parent().after('<label id="error1">'+response.message+'</label>')
                        }
                        else if($('#id_username').val()){
                            $("#id_username").parent().parent().removeClass('has-error');
                            $("#error1").remove()

                        }else{
                            $("#id_username").parent().parent().removeClass('has-error');
                            $("#error1").remove()

                        }
                        stopLoading()

                    },
                    error: function (response) {
                        console.log(response.responseJSON.errors)
                        stopLoading()
                    }
                });
            }
                
        }

        $(document).ready(function () {

            $('#myModal').on('keyup', '#id_username', function () {  

                $("#id_username").parent().parent().removeClass('has-error');
                $("#error1").remove()

                if ( time )
                {
                    clearTimeout( time );
                    time = setTimeout( tiempo, 1000 );
                }
                else
                {
                    time = setTimeout( tiempo, 1000 );
                }

                return false;
            });
            
        })



        //eliminar perfil
        const eliminar = (id) => {

            alerta(3).then((willDelete) => {

                if(willDelete){

                    setLoading()
                    $.ajax({
                        type: "POST",
                        url: "{% url urlRemove %}",
                        data: {
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                            'id': id,
                        },
                        dataType: "json",
                        success: function (response) {
                            $('#paginas').find('.active').find('.page-link').trigger('click')
                            stopLoading()
                            
                        },
                        failure: function () {
                            swal("failure");
                            stopLoading()
                        }
                    });

                }
            });
        } 

        //paginacion
        $('#paginas').on('click', ".page-link", function(e){
            e.preventDefault();
            var page = $(this).attr('href').replace ( /[^\d.]/g, '' );
            setLoading()
            $.ajax({
                    type: "POST",
                    url: "{% url 'paginar' %}", 
                    data : {    
                    page : page, 
                    orden: orden,
                    tipoOrden: $("#tablaContenido").hasClass("descendiente")?"-":"",
                    filtro : $('#search_box').val(), 
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function (response) {

                    document.getElementById('paginas').innerHTML = response.paginas;
                    document.getElementById('tablaContenido').innerHTML = response.contenido;
                    stopLoading()

                },
                error: function () {
                    stopLoading()
                }
            });

        }); 

        //metodos para filtro
        var t;    
        function myCallback()
        {
            var txt = $('#search_box').val();
            setLoading()
            $.ajax({
                    type: "POST",
                    url: "{% url 'paginar' %}", 
                    data : {    
                    filtro : txt, 
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function (response) {

                    document.getElementById('paginas').innerHTML = response.paginas;
                    document.getElementById('tablaContenido').innerHTML = response.contenido;
                    stopLoading()

                },
                error: function () {
                    stopLoading()
                }
            });
        }

        $(document).ready(function () {
            
            $('#search_box').keyup(function (e) {  

                if (e.keyCode === 13) {

                    if (t){
                        
                        clearTimeout( t );
                        t = null;
                        myCallback();
                    }

                }
                
                else

                    if ( t )
                    {
                        clearTimeout( t );
                        t = setTimeout( myCallback, 1000 );
                    }
                    else
                    {
                        t = setTimeout( myCallback, 1000 );
                    }

                return false;
            });
            
        })

        document.getElementById('search_box').addEventListener('input', function(e) { 
            if(e.currentTarget.value == "") {
                myCallback();
            }
        })


        //ordenar tabla dependiendo de la primera fila
        let orden="", tipoOrden="";

        $("#tablaContenido").on('click', "th", function(e){

            if($(this).attr("id"))

                var ord=""
                if($("#tablaContenido").hasClass("descendiente"))

                    $('#tablaContenido').removeClass('descendiente');

                else{
                    ord="-"
                    $('#tablaContenido').addClass('descendiente');
                }
                orden = $(this).attr("id")

                setLoading()
                $.ajax({
                        type: "POST",
                        url: "{% url 'paginar' %}", 
                        data : {    
                        orden: orden,
                        tipoOrden: ord,
                        filtro : $('#search_box').val(), 
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (response) {

                        document.getElementById('paginas').innerHTML = response.paginas;
                        document.getElementById('tablaContenido').innerHTML = response.contenido;
                        stopLoading()

                    },
                    error: function () {
                        stopLoading()
                    }
                });

        });




        
	// metodos filtro combo
	$("#myModal").on('click', ".input-group-prepend", function(e){

        if(document.getElementById('myBrowser')==null){
            // console.log( $(this).attr('name'))

            // console.log($(this).prev().attr('name'))
            const d = $(this)
            
            setLoading()
            $.ajax({
                    type: "POST",
                    url: "{% url 'renderListasCombos' %}", 
                    data : {    
                    clave: $(this).prev().attr('name'),
                    tipo: 'TablasConfiguracion',
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function (response) {

                    // document.getElementById('paginas').innerHTML = response.paginas;
                    // document.getElementById('tablaContenido').innerHTML = response.contenido;
                    // // console.log(response.contenido)
                    d.before(response.lista)
                    $("#myBrowser").focus()
                    stopLoading()

                },
                error: function () {
                    stopLoading()
                }
            });

        }
    })	

    $("#myModal").on('focusout', "#myBrowser", function(e){

        $('#browsers').remove()

        $('#myBrowser').remove()

    })


    $("#myModal").on('input keydown', "#myBrowser", function(e){

        let val = this.value;
        let id

        if($('#browsers option').filter(function(){return this.value.toUpperCase() === val.toUpperCase()}).length && e.keyCode == 13) {
            
            id = $('#browsers option').filter(function(){return this.value.toUpperCase() === val.toUpperCase()})[0].id

            $('#myBrowser').prev().val(id)

            $('#myBrowser').blur()

            $("#id_fk_rama").parent().parent().removeClass('has-error');
            $("#error3").remove()

        }

    });

    </script>

{% endblock javascripts %}






