{% extends "layouts/base.html" %}

{% block title %}{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner animated fadeInRight">
			<div class="page-header">
				<h4 class="page-title">Competences</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="{% url 'home' %}">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<span>Planning</span>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Competence</a>
					</li>
				</ul>
			</div>
            {% include 'planning/filtro.html' %}
			<div class="page-category">
           	 	<div class="card">
					<div class="card-header">
                        <div class="form-row">
                            <div class="form-group d-flex">
                                <h2 class="card-text mt-2">
                                   List of competences
                                </h2>
    
                            </div>
                            <div class="form-group d-flex ml-auto">
                               
                                <button class="btn btn-success" id="addButton">Add competences <i class="fas fa-plus ml-1"></i></button>
    
                            </div>

                        </div>
						
					</div>
					<div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped table-borderless table-component-like text-center" id="tablaContenido">

                                {% include 'planning/contenidoTabla.html' with plan=plan %}   
                                    
                            </table>
                        </div>
					</div> 
                    <div class="card-footer" id="paginas">
                        {% include 'planning/paginas.html' with plan=plan %}   
                    </div> 
				</div>        
      		</div>
		</div>
	</div>
    {% include 'planning/mensajes.html' %}   


    
    <div class="modal fade" tabindex="-1" id="myModal" role="dialog" aria-hidden="true">
        <div id="addNewModalContent" class="modal-dialog modal-dialog-centered" role="document">

            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Set competences</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body" id="modalBody">

                </div>

                <div class="modal-footer mt-3">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-arrow-left mr-2"></i>Back</button>
                    <button type="button" class="btn btn-primary" id="botonGuardar"><i class="fas fa-save mr-2"></i>Save</button>
                </div>

            </div>
            
        </div>
    </div>


{% endblock content %}
	
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


<script>
        


    //metodos para las validaciones

    $(document).on('change', "#id_fk_publico", function(e){

        $("#id_fk_publico").parent().parent().removeClass('has-error');
        $("#error1").remove()

    })

    $(document).on('change', "#id_fk_competencia", function(e){

        $("#id_fk_competencia").parent().parent().removeClass('has-error');
        $("#error2").remove()

    })

    $(document).on('change', "#id_fk_nivel", function(e){

        $("#id_fk_nivel").parent().parent().removeClass('has-error');
        $("#error3").remove()

    })

    $(document).on('input', "#id_periodo", function(e){

        $("#id_periodo").parent().parent().removeClass('has-error');
        $("#error4").remove()


    })

    $(document).on('input', "#id_experiencia", function(e){

        $("#id_experiencia").parent().parent().removeClass('has-error');
        $("#error5").remove()


    })

    $(document).on('change', "#id_fk_tipo_duracion", function(e){

        $("#id_fk_tipo_duracion").parent().parent().removeClass('has-error');
        $("#error6").remove()

    })

    //metodos para pasar al siguiente

    $("#myModal").on('keydown', "#id_fk_publico", function(e){

        if(e.keyCode == 13) 
            
            $("#id_fk_competencia").focus()

    });

    $("#myModal").on('keydown', "#id_fk_competencia", function(e){

        if(e.keyCode == 13) 
            
            $("#id_fk_nivel").focus()

    });   

    $("#myModal").on('keydown', "#id_fk_nivel", function(e){

        if(e.keyCode == 13) 
            
            $("#id_periodo").focus()

    });  

    $("#myModal").on('keydown', "#id_periodo", function(e){

    if(e.keyCode == 13) 
        
        $("#id_experiencia").focus()

    });   

    $("#myModal").on('keydown', "#id_experiencia", function(e){

    if(e.keyCode == 13) 
        
        $("#id_fk_tipo_duracion").focus()

    });  

    $("#myModal").on('keydown', "#id_fk_tipo_duracion", function(e){

        if(e.keyCode == 13) 

            $("#botonGuardar").trigger('click')

    });

    //mostrar modal
    let idEdit, nameEdit
    $(document).on('click', '#addButton', function (e) {
        modalCall(null)
    })

    function modalCall(id) {
        idEdit = id
        setLoading()
        $.ajax({
            type: "POST",
            url: "{% url 'modalForm' %}",
            data: {
                'idModal': id,
                'tipoModal': '{{categoria}}',
                'csrfmiddlewaretoken': '{{ csrf_token }}',

            },
            dataType: "json",
            success: function (response) {
                
                document.getElementById('modalBody').innerHTML = response.formulario
                nameEdit = response.nombre
                $('#myModal').modal('show')
                stopLoading()
            
                
            },
            failure: function () {
                swal("failure");
                stopLoading()
            }
        });

    }

    $('#myModal').on('shown.bs.modal', function () {

        $("#id_fk_publico").focus();

        select = document.getElementById('id_fk_publico');

        if(!select.value){
            
            $('#id_fk_competencia').empty().append('<option selected="selected" value>Select a Public</option>');

        }
    })

    //metodo guardar y validar 
    $('#myModal').on('click', '#botonGuardar', function (e) {

        if(!$("#id_fk_publico").val() || !$("#id_fk_competencia").val() || !$("#id_fk_nivel").val() || !$("#id_periodo").val() || !$("#id_experiencia").val() || !$("#id_fk_tipo_duracion").val()) {

            if(!$("#id_fk_tipo_duracion").val()){
                
                $("#error6").remove()
                $("#id_fk_tipo_duracion").parent().parent().addClass('has-error');
                $("#id_fk_tipo_duracion").parent().after('<label id="error6">Select a duration type</label>')
                $("#id_fk_tipo_duracion").focus()
                
            }

            if(!$("#id_experiencia").val()){
                
                $("#error5").remove()
                $("#id_experiencia").parent().parent().addClass('has-error');
                $("#id_experiencia").parent().after('<label id="error5">Enter your experience amount</label>')
                $("#id_experiencia").focus()
            
            }

            if(!$("#id_periodo").val()){
                
                $("#error4").remove()
                $("#id_periodo").parent().parent().addClass('has-error');
                $("#id_periodo").parent().after('<label id="error4">Enter a period</label>')
                $("#id_periodo").focus()

            }

            if(!$("#id_fk_nivel").val()){
                
                $("#error3").remove()
                $("#id_fk_nivel").parent().parent().addClass('has-error');
                $("#id_fk_nivel").parent().after('<label id="error3">Select your level for the selected competence</label>')
                $("#id_fk_nivel").focus()

            }

            if(!$("#id_fk_competencia").val()){
                
                $("#error2").remove()
                $("#id_fk_competencia").parent().parent().addClass('has-error');
                $("#id_fk_competencia").parent().after('<label id="error2">Select a competence</label>')
                $("#id_fk_competencia").focus()

            }

            if(!$("#id_fk_publico").val()){
                
                $("#error1").remove()
                $("#id_fk_publico").parent().parent().addClass('has-error');
                $("#id_fk_publico").parent().after('<label id="error1">Select a public</label>')
                $("#id_fk_publico").focus()

            }

        }else{
            setLoading()
            $.ajax({
                type: "POST",
                url: "{% url 'createCompetenceAdq' %}",
                data: idEdit ? $('#formulario').serialize()+'&idEdit='+idEdit : $('#formulario').serialize(),
                dataType: "json",
                success: function (response) {

                    if(!response.mensaje){
                        $('#paginas').find('.active').find('.page-link').trigger('click')
                        $('#myModal').modal('hide')

                    }
                    stopLoading()
                },
                failure: function () {
                    swal("failure");
                    stopLoading()
                }
            });
        }
    })

    

		//cargar competencias si se selecciono un publico
    let select

    $("#myModal").on('change', "#id_fk_publico", function(e){

        if(select.value && "{{ request.user.is_staff }}".toLowerCase()==='true' && select.length > 2){
            
            setLoading()
            $.ajax({
                type: "POST",
                data: {
                    "id": select.value, 
                    csrfmiddlewaretoken: '{{ csrf_token }}',

                },
                url: "{% url 'renderListasPublic' %}",
                success: function (response) {

                    document.getElementById('id_fk_competencia').innerHTML = response.competence
                    stopLoading()

                },
                error: function (response) {
                    console.log(response.responseJSON.errors)
                    stopLoading()
                }
            });

        }

    });


    //metodo para eliminar
    const eliminar = (id) => {

        alerta(3).then((willDelete) => {

            if(willDelete){

                setLoading()
                $.ajax({
                    type: "POST",
                    url: "{% url urlRemove %}",
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'id': id,
                    },
                    dataType: "json",
                    success: function (data) {
                        $('#paginas').find('.active').find('.page-link').trigger('click')
                        stopLoading()
                    },
                    failure: function () {
                        swal("failure");
                        stopLoading()
                    }
                });

            }
        });
    } 

    
    $('#paginas').on('click', ".page-link", function(e){
        e.preventDefault();
        var page = $(this).attr('href').replace ( /[^\d.]/g, '' );
        setLoading()
        $.ajax({
                type: "POST",
                url: "{% url 'paginar' %}", 
                data : {    
                page : page, 
                filtro : $('#search_box').val(), 
                tipo: "competenciaadq",
                orden: orden,
                tipoOrden: $("#tablaContenido").hasClass("descendiente")?"-":"",
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function (response) {

                document.getElementById('paginas').innerHTML = response.paginas;
                document.getElementById('tablaContenido').innerHTML = response.contenido;
                // console.log(response.contenido)
                stopLoading()

            },
            error: function () {
                stopLoading()
            }
        });

    }); 

    //metodos para filtrar
    var t;    
    function myCallback()
    {
        var txt = $('#search_box').val();
        setLoading()
        $.ajax({
            type: "POST",
            url: "{% url 'paginar' %}", 
            data : {    
                filtro : txt, 
                tipo: "competenciaadq",
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function (response) {

                document.getElementById('paginas').innerHTML = response.paginas;
                document.getElementById('tablaContenido').innerHTML = response.contenido;
                // // console.log(response.contenido)
                stopLoading()

            },
            error: function () {
                stopLoading()
            }
        });
    }

    $(document).ready(function () {
        $('#search_box').keyup(function (e) {  

            if (e.keyCode === 13) {

                if (t){
                    
                    clearTimeout( t );
                    t = null;
                    myCallback();
                }

            }

            else

                if ( t )
                {
                    clearTimeout( t );
                    t = setTimeout( myCallback, 1000 );
                }
                else
                {
                    t = setTimeout( myCallback, 1000 );
                }

            return false;
        });
        
    })
    
    document.getElementById('search_box').addEventListener('input', function(e) { 
        if(e.currentTarget.value == "") {
            myCallback();
        }
    })

    
    //metodos para ordenar
    let orden="", tipoOrden="";
    $("#tablaContenido").on('click', "th", function(e){

    if($(this).attr("id"))
        var ord=""
        if($("#tablaContenido").hasClass("descendiente"))

            $('#tablaContenido').removeClass('descendiente');

        else{
            ord="-"
            $('#tablaContenido').addClass('descendiente');
        }
        orden = $(this).attr("id")
        setLoading()
        $.ajax({
            type: "POST",
            url: "{% url 'paginar' %}", 
            data : {    
                orden: orden,
                tipoOrden: ord,
                filtro : $('#search_box').val(), 
                tipo: "competenciaadq",
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function (response) {

                document.getElementById('paginas').innerHTML = response.paginas;
                document.getElementById('tablaContenido').innerHTML = response.contenido;
                // console.log(response.contenido)
                stopLoading()

            },
            error: function () {
                stopLoading()
            }
        });

    });


        

	// metodos filtro combo
	$("#myModal").on('click', ".input-group-prepend", function(e){

        if(document.getElementById('myBrowser')==null){
            // console.log( $(this).attr('name'))

            console.log($(this).prev().attr('name'))
            const d = $(this)
            
            setLoading()
            $.ajax({
                    type: "POST",
                    url: "{% url 'renderListasCombos' %}", 
                    data : {    
                    clave: $(this).prev().attr('name'),
                    tipo:  $(this).prev().attr('name') ==='fk_competencia' ? 'CompetenciasReq' : $(this).prev().attr('name') === 'fk_publico' ? 'Publico' : 'TablasConfiguracion',
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function (response) {

                    // document.getElementById('paginas').innerHTML = response.paginas;
                    // document.getElementById('tablaContenido').innerHTML = response.contenido;
                    // // console.log(response.contenido)
                    d.before(response.lista)
                    $("#myBrowser").focus()
                    stopLoading()

                },
                error: function () {
                    stopLoading()
                }
            });

        }
    })	

    $("#myModal").on('focusout', "#myBrowser", function(e){

        $('#browsers').remove()

        $('#myBrowser').remove()

    })

    $("#myModal").on('input keydown', "#myBrowser", function(e){

        let val = this.value;
        let id

        if($('#browsers option').filter(function(){return this.value.toUpperCase() === val.toUpperCase()}).length && e.keyCode == 13) {
            
            id = $('#browsers option').filter(function(){return this.value.toUpperCase() === val.toUpperCase()})[0].id

            $('#myBrowser').prev().val(id).change()

            $('#myBrowser').prev().parent().parent().removeClass('has-error');
            $('#myBrowser').parent().next().remove()

            $('#myBrowser').prev().focus()

        }

    });

</script>

{% endblock javascripts %}