{% extends "layouts/base.html" %}

{% block title %}{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Starter page</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="index.html">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<span>Module name</span>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Page 1</a>
					</li>
				</ul>
			</div>
			<div class="page-category">
        <h2>Enrollment Applications</h2>
		<div > 
			<div class="dropdown" id="panelBuscar">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="glyphicon glyphicon-search"></i> Filter
                   
                </button>
                <div class="dropdown-menu">
                    <div class="panel">
                        <div class="panel-body">
                            <form id="buscar" name="buscar" method="POST" action=".">
				{% csrf_token %}
                                 
                            <table style="width:100%">
                           
                                <tr>
                                    <td>Initial Date</td>
                                    <td></td>
                                    <td>
                                        <input id="fechaInicial" name="fechaInicial" type="date" class="form-control" >
                                    </td>
                                </tr>
                                <tr>
                                    <td>Final Date</td>
                                    <td></td>
                                    <td>
                                        <input id="fechaFinal" name="fechaFinal" id type="date" class="form-control" >
                                    </td>
                                </tr>
                               
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        

                                        <input type="submit" class="btn btn-primary" value="Filter" >
                                        &nbsp;
                                        <input type="button" onclick="reload()" class="btn btn-default" value="Clean">

                                    </td>
                                </tr>
                            </table>
                        </form>
                        </div>
                    </div>
                </div>

            </div>

            <div class="animated fadeInRight">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <table class="table table-striped table-hover">
                            <thead>
            
                                <tr>
                                    <th style="width: 65px;"></th>
                                   
                                    <th>Description</th>
                                    <th>Credits </th>
                                    <th>Price</th>
                                    
                                    <th></th>

                                  
                                </tr>
                            </thead>
                            <tbody class="data-cargando">
                                {% for mat in cursos %}
            
                                <tr style="cursor:pointer;" id="{{mat.idmatricula_alumnos}}"  onclick="showModal(id)" >
                                    <td ></td>
                                   <td>{{mat}}</td>
                                   <td>{{mat.peso_creditos}}</td>

                                   <td></td>
                                   



                                    <td>
                                     
                                   
                                    </td>
                                </tr>

                                {% endfor %}
                            </tbody>
                        </table>

                        {% comment "Optional note" %}
                        
                        <div class="pagination" style="text-align: center;">
                            <span class="step-links" style="display:table;
                            margin:0 auto; ">
                                {% if matriculasList.has_previous %}
                                    <a href="?page=1">&laquo; first</a>
                                    <a href="?page={{ matriculasList.previous_page_number }}">previous</a>
                                {% endif %}
                        
                                <span class="current">
                                    Page {{ matriculasList.number }} of {{ matriculasList.paginator.num_pages }}.
                                </span>
                        
                                {% if matriculasList.has_next %}
                                    <a href="?page={{ matriculasList.next_page_number }}">next</a>
                                    <span class="fa-fast-forward"></span>
                                    <a  href="?page={{ matriculasList.paginator.num_pages }}">last &raquo;</a>
                                {% endif %}
                            </span>
                        </div>

                       {% endcomment %}
                       

                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                            {% if matriculasList.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1">&laquo; First</a>

                               </li>
                                <li class="page-item">
                                  

                                <a class="page-link" href="?page={{ matriculasList.previous_page_number }}">Previous</a>
                              </li>
                            {% else %}
                                <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                              </li>
                            {% endif %}
                    
                            {% if matriculasList.number|add:'-4' > 1 %}
                                <li class="page-item"><a class="page-link" href="?page={{ matriculasList.number|add:'-5' }}">&hellip;</a></li>
                            {% endif %}
                    
                            {% for i in matriculasList.paginator.page_range %}
                                {% if matriculasList.number == i %}
                                    <li class="page-item active" aria-current="page">
                                  <span class="page-link">
                                    {{ i }}
                                    <span class="sr-only">(current)</span>
                                  </span>
                                </li>
                                {% elif i > matriculasList.number|add:'-5' and i < matriculasList.number|add:'5' %}
                                     <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                    
                            {% if matriculasList.paginator.num_pages > matriculasList.number|add:'4' %}
                               <li class="page-item"><a class="page-link" href="?page={{ matriculasList.number|add:'5' }}">&hellip;</a></li>
                            {% endif %}
                    
                            {% if matriculasList.has_next %}
                                <li class="page-item">
                                <a class="page-link" href="?page={{ matriculasList.next_page_number }}">Next</a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" href="?page={{ matriculasList.paginator.num_pages }}">Last &raquo;</a>
                              </li>

                            {% else %}
                                <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                              </li>
                            {% endif %}
                          </ul>
                        </nav>

                        <div class="clearfix"></div>
            
                    </div>
                </div>
            
            
            </div>
            














	   
		</div>			            
      </div>
		</div>
	</div>


<script>

var matricula=0;
function showModal(id){
    matricula=id;






let url='MatriculacionAdminModal/?matricula='+id;
fetch(url,{
	mode: 'no-cors',
  method: 'get'
}).then(function(result){

return result.text();

}).then(function(result){
	
	let unit=document.getElementById("modalContent").innerHTML=result;

});
    $("#AdministrarMatricula").modal("show");
    
  
}

function enviar(){

var xhr = new XMLHttpRequest();
xhr.open("POST", "updateEnrollment/"); 
xhr.onload = function(event){ 
alert("Success, server responded with: " + event.target.response); // raw response
location.href = "" ;
}; 
// or onerror, onabort
var formData = new FormData(document.getElementById("enroll")); 
formData.append('id', matricula);
xhr.send(formData);




}

function reload(){

    window.location.href="{% url 'EnrollmentList'%}";
}


</script>


<!--Buscar Personas DB Modal-->
<div class="modal fade" tabindex="-1" role="dialog" id="AdministrarMatricula">
    <div class="modal-dialog" role="document" id="modalContent">
     
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

<!-- /.modal -->
{% endblock content %}
	
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
