{% extends "layouts/base.html" %}

{% block title %}{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Enrollment</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="{% url 'home' %}">
                     <i class="flaticon-home"></i>
                  </a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<span>Registration</span>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Page 1</a>
					</li>
				</ul>
			</div>
			<div class="page-category">
		<div class="col-md-12 d-flex justify-content-center" > 
			
	   <form id="enroll" name="enroll" onsubmit="enviar();return false">
				{% csrf_token %}


		

		<div class="row">
	   <label>Program</label>
			   
		 <select class="form-control" id="program" name="program" onchange="programChange()" required >
			<option value="" selected>      </option>

			 {% for mat in structuraProg %}
			 {% if mat.precio != None %}

			 <option value="{{mat.idestructuraprogrmas}}"> {{mat}}</option>

			 {% endif %}
			 {% endfor %}
      

		 </select>
		</div>
       <br>

		<div id="listaProcess"  class="row">
			<label>Process</label>
					
			  <select class="form-control" id="cbProcess" name="cbProcess"  onchange="processChange()">
				<option value="" selected> </option>

	 
			
		   
	 
			  </select>
			 </div>
			 <br>

			 <div class="row" >
				<label>Unit</label>
						
				  <select class="form-control" id="cbUnit" name="cbUnit" onchange="unitChange()">
					<option value="" selected> </option>

		 
					
			   
		 
				  </select>
				 </div>
				 <br>

				 <div class="row">
					<label>Course</label>
							
					  <select class="form-control" id="cbCourse" name="cbCourse" onchange="courseChange()">
						<option value="" selected>   </option>

			 
						
				   
			 
					  </select>
					 </div>
             <br>
	{% comment %}
		<div class="row">
		<label>Enrollment Type</label>
			   
		<select class="form-control" id="type" name="type" required >
			<option value="" selected> </option>


			 {% for mat in tipoPrograma %}
			 <option value="{{mat.id_tabla}}"> {{mat}}</option>
			 {% endfor %}
      

		 </select>
		</div>
{% endcomment %}

      <br>
         <br>


		<div class="row">
			<input type="submit" value="Save application">
				   
			
			</div>
	   
	   
	   
	
			
		</div> 
	
	   </form>
		</div>			            
      </div>
		</div>
	</div>
<script>

window.addEventListener("load", function(event) {
    console.log("'Todos los recursos terminaron de cargar!");
	program.value='';
	type.value='';
  });
 
function programChange(){
	
	cbProcess.value='';
	cbCourse.value='';
	cbUnit.value=-'';
	let proceso=document.getElementById("cbProcess").innerHTML="";
	let unidad=document.getElementById("cbUnit").innerHTML="";
	let curso=document.getElementById("cbCourse").innerHTML="";
               
let program=document.getElementById("program").value;


if (program=='')
{
	return;

}

let url='ComboOptions/?structuraProg='+program;
fetch(url,{
	mode: 'no-cors',
  method: 'get'
}).then(function(result){

return result.text();

}).then(function(result){
	
	let cbProcess=document.getElementById("cbProcess").innerHTML=result;

});

}

function processChange(){
	cbUnit.value='';
	cbCourse.value='';
	let unidad=document.getElementById("cbUnit").innerHTML="";
	let curso=document.getElementById("cbCourse").innerHTML='';

	let process=document.getElementById("cbProcess").value;






let url='ComboOptions/?structuraProg='+process;
fetch(url,{
	mode: 'no-cors',
  method: 'get'
}).then(function(result){

return result.text();

}).then(function(result){
	
	let unit=document.getElementById("cbUnit").innerHTML=result;

});


}

function unitChange(){
	cbCourse.value='';
	let curso=document.getElementById("cbCourse").innerHTML='';

	let unit=document.getElementById("cbUnit").value;






let url='ComboOptions/?structuraProg='+unit;
fetch(url,{
	mode: 'no-cors',
  method: 'get'
}).then(function(result){

return result.text();

}).then(function(result){
	
	let unit=document.getElementById("cbCourse").innerHTML=result;

});

}

function courseChange(){}


function enviar(){

	var xhr = new XMLHttpRequest();
xhr.open("POST", "save/"); 
xhr.onload = function(event){ 
alerta(1); // raw response
window.location.href="{% url 'MyEnrollments'%}";


   // alert("Success, server responded with: " + event.target.response); // raw response
}; 
// or onerror, onabort
var formData = new FormData(document.getElementById("enroll")); 
xhr.send(formData);
  
}


</script>

{% endblock content %}
	
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
