{% extends "layouts/base.html" %}

{% block title %}{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner animated fadeInRight">
			<div class="page-header">
				<h4 class="page-title">Enrollment</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="{% url 'home' %}">
                     <i class="flaticon-home"></i>
                  </a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<span>Registration</span>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="{% url 'enrollment' %}">Enrollment</a>
					</li>
				</ul>
			</div>
			<div class="page-category col-md-12 d-flex justify-content-center">
				<div class="d-flex justify-content-center mt-2"> 
	   				<form id="enroll" name="enroll" onsubmit="enviar();return false">
						{% csrf_token %}
						<div class="card" style="width: 30rem;">
							<div class="card-header" style="background-color: #1a2035 !important;
							color: white;">
								<h2>Create enrollment</h2>
							</div>
							<div class="card-body">
							<div class="form-row d-flex justify-content-end">
							   <b> Price:</b> <span id="priceSpan"> </span>&nbsp; $
								</div>
								<div class="form-row">
									<div class="form-group col-md-12">
										<label for="program">Program</label>
										 <select class="form-control" id="program" name="program" onchange="programChange(this)" required >
											<option value="" selected>      </option>
											 {% for mat in structurasAll %}
												 {% if mat.precio != None %}
												   {% if mat.fk_estructura_padre == None %}
									
													 <option value="{{mat.idestructuraprogrmas}}"> {{mat}}</option>
													 {% endif %}
												{% endif %}
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="form-row" id="listaProcess">
									<div class="form-group col-md-12">
										<label>Process</label>
										<select class="form-control" id="cbProcess" name="cbProcess"  onchange="processChange(this)">
											<option value="" selected> </option>
										</select>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-md-12">
										<label>Unit</label>
										<select class="form-control" id="cbUnit" name="cbUnit" onchange="unitChange(this)">
											<option value="" selected> </option>		 
										</select>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-md-12">
										<label>Course</label>
										<select class="form-control" id="cbCourse" name="cbCourse" onchange="courseChange(this)">
											<option value="" selected>   </option>		   		 
										</select>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-md-12">
										{% comment %}
		
										<label>Enrollment Type</label>
										<select class="form-control" id="type" name="type" required >
											<option value="" selected> </option>
											{% for mat in tipoPrograma %}
												<option value="{{mat.id_tabla}}"> {{mat}}</option>
											{% endfor %}
										</select>
		
										{% endcomment %}
									</div>
								</div>
							</div>
							<div class="card-footer">
								<div class="form-row d-flex justify-content-end">
									<button  type="submit" class="btn btn-primary" value="Save application">Save<i class="fas fa-save ml-2"></i></button>
								</div>
							</div>
						</div>		
	   				</form>
				</div>			            
     		</div>
		</div>
	</div>
<script>
let  dictPrograma=new Object();

{% for mat in structurasAll %}


if('{{mat.descuento}}'!=null && '{{mat.descuento}}'!='None'){
	dictPrograma[ {{mat.pk}} ]='{{mat.precio}}'-'{{mat.precio}}'*0.01*'{{mat.descuento}}';

}else{

	dictPrograma[ {{mat.pk}} ]='{{mat.precio}}'
}
{% endfor %}



window.addEventListener("load", function(event) {
   // console.log("'Todos los recursos terminaron de cargar!");
	program.value='';
	//type.value='';
  });
 
function programChange(combo){
	if(!combo.value==''){
		priceSpan.innerHTML=dictPrograma[combo.value];

	}else{
		priceSpan.innerHTML='';

	}
	
	cbProcess.value='';
	cbCourse.value='';
	cbUnit.value=-'';
	let proceso=document.getElementById("cbProcess").innerHTML="";
	let unidad=document.getElementById("cbUnit").innerHTML="";
	let curso=document.getElementById("cbCourse").innerHTML="";
               
let program=document.getElementById("program").value;


if (program=='')
{
	return;

}

let url='ComboOptions/?structuraProg='+program;
fetch(url,{
	mode: 'no-cors',
  method: 'get'
}).then(function(result){

return result.text();

}).then(function(result){
	
	let cbProcess=document.getElementById("cbProcess").innerHTML=result;

});

}

function processChange(combo){
	cbUnit.value='';
	cbCourse.value='';
	let unidad=document.getElementById("cbUnit").innerHTML="";
	let curso=document.getElementById("cbCourse").innerHTML='';

	let process=document.getElementById("cbProcess").value;
	priceSpan.innerHTML=dictPrograma[combo.value];






let url='ComboOptions/?structuraProg='+process;
fetch(url,{
	mode: 'no-cors',
  method: 'get'
}).then(function(result){

return result.text();

}).then(function(result){
	
	let unit=document.getElementById("cbUnit").innerHTML=result;

});


}

function unitChange(combo){
	cbCourse.value='';
	let curso=document.getElementById("cbCourse").innerHTML='';

	let unit=document.getElementById("cbUnit").value;

	priceSpan.innerHTML=dictPrograma[combo.value];





let url='ComboOptions/?structuraProg='+unit;
fetch(url,{
	mode: 'no-cors',
  method: 'get'
}).then(function(result){

return result.text();

}).then(function(result){
	
	let unit=document.getElementById("cbCourse").innerHTML=result;

});

}

function courseChange(combo){


	priceSpan.innerHTML=dictPrograma[combo.value];

}


function enviar(){
setLoading()
	var xhr = new XMLHttpRequest();
xhr.open("POST", "save/"); 
xhr.onload = function(event){ 
//stopLoading()
//	console.log(event.target.response);
stopLoading()

	if(event.target.response==2){
		alertaMensajitos(5,'There was a error with you application','You already have a application including this structure');
		return
	}

	
alerta(1); // raw response
window.location.href="{% url 'MyEnrollments'%}";


   // alert("Success, server responded with: " + event.target.response); // raw response
}; 
// or onerror, onabort
var formData = new FormData(document.getElementById("enroll")); 
formData.append('origen', 1);

xhr.send(formData);
  
}


</script>

{% endblock content %}
	
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
