{% extends "layouts/base.html" %}

{% block title %}{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner animated fadeInRight">
			<div class="page-header">
				<h4 class="page-title">Enrollment Applications</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="{% url 'home' %}">
                            <i class="flaticon-home"></i>
                        </a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<span>Registration</span>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Enrollment Applications</a>
					</li>
				</ul>
			</div>

			<div class="page-category">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="card">
                            <div class="card-header">
                                    <div class="dropdown" id="panelBuscar">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <i class="glyphicon glyphicon-search"></i> Filter
                                           
                                        </button>
                                        <div class="dropdown-menu" id="drop1">
                                            <div class="panel">
                                                <div class="panel-body">
                                                    <form id="buscar" name="buscar" method="POST" action=".">
                                                  {% csrf_token %}
                                                         
                                                    <table style="width:100%">
                                                   
                                                   
                                                        <tr>
                                                            <td class="p-2">Enrollment Status</td>
                                                            <td></td>
                                                            <td class="p-2">
                                                                
                                                                <select id="idStatus" name="idStatus"   class="form-control" >
                                                                    <option value="" selected> </option>
                                                        
                                                        
                                                                     {% for mat in status %}
                                                                     <option value="{{mat.id_tabla}}"  {% if mat.id_tabla == selectedStatus  %} selected {% endif %} > {{mat}}</option>
                                                                     {% endfor %}
                                                              
                                                        
                                                                 </select>
                                                            </td>
                        
                                                  
                                                           
                                                            
                                                        </tr>
                                                        {% comment %}
                                                        <tr>
                                                            <td class="p-2">Enrollment Type</td>
                                                            <td></td>
                                                            <td class="p-2">
                                                                <select  id="idTipo" name="idTipo"   class="form-control">
                                                                    <option value="" selected> </option>
                                                        
                                                        
                                                                     {% for mat in types%}
                                                                     
                                                                     <option value="{{mat.id_tabla}}"  {% if mat.id_tabla == selectedType  %} selected {% endif %}> {{mat}}</option>
                                                                     {% endfor %}
                                                              
                                                        
                                                                 </select>
                                                            </td>
                                                          
                                                            
                                                        </tr>
                                                        {% endcomment %}
                        
                                                        <tr>
                                                            <td class="p-2">Initial Date</td>
                                                            <td></td>
                                                            <td class="p-2">
                                                                <input id="fechaInicial" name="fechaInicial" value="{{FechaInicial}}" type="date" class="form-control" >
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="p-2">Final Date</td>
                                                            <td></td>
                                                            <td class="p-2">
                                                                <input id="fechaFinal" name="fechaFinal" value={{FechaFinal}} id type="date" class="form-control" >
                                                            </td>
                                                        </tr>
                                                       
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td class="p-2">
                                                                
                        
                                                                <input type="submit" class="btn btn-primary" value="Filter" >
                                                                &nbsp;
                                                                <input type="button" onclick="reload()" class="btn btn-default" value="Clean">
                        
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </form>
                                                </div>
                                            </div>
                                        </div>
                                           
                                    </div>

                            </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover table-borderless table-component-like text-center">
                                            <thead>
                                                <tr>
                                                    <th style="width: 65px;"></th>
                                                    <th>Applicant</th>
                                                    <th>Status </th>
                                                    <th>Date of application</th>
                                                    <th>Program</th>
                                                    <th>Payment</th>
                                                    <th></th>
                                                    <th></th>   
                                                </tr>
                                            </thead>
                                            <tbody class="data-cargando">
                                                {% for mat in matriculasList %}
                            
                                                <tr style="cursor:pointer;" id="{{mat.idmatricula_alumnos}}"   >
                                                    <td ></td>
                                                   <td>{{mat.fk_publico}}</td>
                                                   <td>{{mat.fk_status_matricula}}</td>
                
                                                   <td>{{mat.fecha_matricula}}</td>
                                                   <td>{{mat.fk_estruc_programa}}</td>
                                                   {% if mat.fk_status_matricula.valor_elemento == 'EstatusEspera'%}
                                                   <td onclick="showModalPago('{{mat.fk_estruc_programa.idestructuraprogrmas}}' )">
                                                       <span class="fas fa-credit-card">Payment </span>
                                                   </td>
                                                   {% else %}
                                                   <td>
            
                                                   </td>
                                                  {% endif %}
            
                                                   {% comment %}
                                                   <td onclick="showModalPago('{{mat.fk_estruc_programa.idmatricula_alumnos}}' )">
                                                    <span class="fas fa-edit"> Editar </span>
                                                </td>
                                                {% endcomment %}
                
                                                    <td></td>
                                                </tr>
                
                                                {% endfor %}
                                            </tbody>
                                        </table>       
                                    </div>

                                </div>
                                <div class="card-footer">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-center">
                                        {% if matriculasList.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page=1">&laquo; First</a>
            
                                           </li>
                                            <li class="page-item">
                                              
            
                                            <a class="page-link" href="?page={{ matriculasList.previous_page_number }}">Previous</a>
                                          </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                          </li>
                                        {% endif %}
                                
                                        {% if matriculasList.number|add:'-4' > 1 %}
                                            <li class="page-item"><a class="page-link" href="?page={{ matriculasList.number|add:'-5' }}">&hellip;</a></li>
                                        {% endif %}
                                
                                        {% for i in matriculasList.paginator.page_range %}
                                            {% if matriculasList.number == i %}
                                                <li class="page-item active" aria-current="page">
                                              <span class="page-link">
                                                {{ i }}
                                                <span class="sr-only">(current)</span>
                                              </span>
                                            </li>
                                            {% elif i > matriculasList.number|add:'-5' and i < matriculasList.number|add:'5' %}
                                                 <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                
                                        {% if matriculasList.paginator.num_pages > matriculasList.number|add:'4' %}
                                           <li class="page-item"><a class="page-link" href="?page={{ matriculasList.number|add:'5' }}">&hellip;</a></li>
                                        {% endif %}
                                
                                        {% if matriculasList.has_next %}
                                            <li class="page-item">
                                            <a class="page-link" href="?page={{ matriculasList.next_page_number }}">Next</a>
                                          </li>
                                          <li class="page-item">
                                            <a class="page-link" href="?page={{ matriculasList.paginator.num_pages }}">Last &raquo;</a>
                                          </li>
            
                                        {% else %}
                                            <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                                          </li>
                                        {% endif %}
                                      </ul>
                                    </nav>
            

                                </div>
                        </div> 
                    </div>
                </div>  	   
		    </div>			               
         </div>
	</div>
	

	


<script>

var matricula=0;


function showModalMatricula(id){
    matricula=id;






let url="{% url 'ModalAdmin'%}"+'?matricula='+id+'&admin=0';
fetch(url,{
	mode: 'no-cors',
  method: 'get'
}).then(function(result){

return result.text();

}).then(function(result){
	
	let unit=document.getElementById("modalContentMatricula").innerHTML=result;

});
    $("#AdministrarMatricula").modal("show");
    
  
}

function showModal(id){
    matricula=id;






let url='MatriculacionAdminModal/?matricula='+id;
fetch(url,{
	mode: 'no-cors',
  method: 'get'
}).then(function(result){

return result.text();

}).then(function(result){
	
	let unit=document.getElementById("modalContent").innerHTML=result;

});
    $("#AdministrarMatricula").modal("show");
    
  
}

function enviar(){

var xhr = new XMLHttpRequest();
xhr.open("POST", "updateEnrollment/"); 
xhr.onload = function(event){ 
alerta("Success, server responded with: " + event.target.response); // raw response
location.href = "" ;
}; 
// or onerror, onabort
var formData = new FormData(document.getElementById("enroll")); 
formData.append('id', matricula);
xhr.send(formData);




}

function reload(){

    window.location.href="{% url 'MyEnrollments'%}";
}


</script>

<!--Buscar Personas DB Modal-->
<div class="modal fade" tabindex="-1" role="dialog" id="AdministrarMatricula">
    <div class="modal-dialog" role="document" id="modalContentMatricula">
     
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

<!-- /.modal -->


<!--Buscar Personas DB Modal-->
<div class="modal fade" tabindex="-1" role="dialog" id="PayMatricula">
    <div class="modal-dialog modal-lg" role="document" id="modalContent">
     
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

<!-- /.modal -->


<!--Buscar Personas DB Modal-->
<div class="modal fade" tabindex="-1" role="dialog" id="PayMatriculaPaypal">
    <div class="modal-dialog modal-lg" role="document" id="modalContentPaypal">
     
        
      
  <div class="modal-content" onload="Carga()">
    <div class="modal-header">
        <h4 style="left: initial;" class="modal-title">Enrollment Details</h4>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        
            <div class="row">
                
                    <div class="col-12">
                        
                           
                   
                 
                    <div class="form-group">
                        <div >
                            <div class="">
                                <div class="">
                
                                   <div id="smart-button-container">
                  <div style="text-align: center;">
                  
                
                       <div id="smart-button-container">
                  <div style="text-align: center;">
                    <div id="paypal-button-container"></div>
                  </div>
                </div>
                
                
                         
                
                                    <center>
                                     <input type="hidden" id="dato" value= "{{ precio }}"/>
                                        <p><strong> Amount to Pay: <span id="precioPaypal">  </span></strong></p>
                                    </center>
                                    <div class="clearfix"></div>
                                    </div>
                            </div>
                        
                        
                        </div>
                        
                
                
                   
                    </div>			            
                  </div>


                    </div>
                     
                       
                      
                    </div>


                
                
            

            </div>
         
        
    </div>
    <div class="modal-footer">
      
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>


    </div>
</div>


        </div><!-- /.modal-content -->
    


<!-- /.modal -->

 

<div class="modal fade" tabindex="-1" role="dialog" id="TrMatriculaTr">
         <form id="enrollTr" class="form" method="POST" enctype="multipart/form-data" onsubmit="cgPayTr();return false">

    <div class="modal-dialog modal-lg" role="document" id="modalContentTr">
     
        
      
  <div class="modal-content" onload="Carga2()">
    <div class="modal-header">
        <h4 style="left: initial;" class="modal-title">Enrollment Details</h4>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
           {% csrf_token %}  
            <div class="row">
                
                    <div class="col-5">
                        
        <div id="formCurso" class="form"> Payment details
      <div class="modal-body" style="height:400px; overflow-y: scroll;">
         <div class="form-row">
            <div class="form-group col-12">
               <label for="titleCourse" class="col-form-label">Amount to pay:</label>
               <span id="Amount" name="Amount" > </span>
                 
            </div>
             </div>
             <div class="form-row">
            <div class="form-group col-12">
               <label for="titleCourse" class="col-form-label">Name</label>
               <input type="text" class="form-control n" id="Name" name="Name"
                  placeholder="Enter your name" value="Banesco" readonly required>
            </div>
             </div>
             <div class="form-row">
            <div class="form-group col-12">
               <label for="titleCourse" class="col-form-label">Account Number</label>
               <input type="text" class="form-control i" id="Transaction" name="Transaction"
                  placeholder="Enter referral code" value="1025422415252245" readonly required>
            </div>
             </div>
             <div class="form-row">
            <div class="form-group col-12">
               <label for="titleCourse" class="col-form-label">Unique identifier</label>
               <label for="titleCourse" class="col-form-label">(Put this code on you transaccion description)</label>

               <input type="text" class="form-control a" id="hashID" nama="Payment"
                  placeholder="Enter payment date" value="" readonly required>
            
            </div>
             <button type="button" class="btn btn-success b" onclick="" id="">Copy data</button>
             <span id="message"></span>
             </div>
         
        </div>
      </div>
                   
                    </div>
                     
                        <div class="col-7">
                        
                         <div id="formCurso" class="form">Proof of payment
      <div class="modal-body" style="height:400px; overflow-y: scroll;">
         
         <input type="hidden" name="MAX_FILE_SIZE" value="4194304" />
                       {% comment %} <input type="file" /> {% endcomment %}
                       <input type="file" id="seleccionArchivos" name="imagenRuta" id="imagenRuta" accept="image/*" required>
                      <br><br>
                        <!-- La imagen que vamos a usar para previsualizar lo que el usuario selecciona -->
                       <img id="imagenPrevisualizacion" width="400px" header="400px">
                     
                       
                     
         
         <div class="form-row">
            <div class="form-group col-12">
               <label for="descriptionCourse" class="col-form-label">Reference number</label>
               <textarea class="form-control" id="descriptionCourse" required name="reference" placeholder="reference number description"></textarea>
            </div>
         </div>
         
      </div>

      <div class="modal-footer">
         {% comment %} <button type="button" class="btn btn-danger" data-dismiss="modal">
         <i
               class="fas fa-arrow-left mr-2"></i>Back</button> {% endcomment %}
         {% comment %} <button type="submit" class="btn btn-primary">Save<i class="fas fa-save ml-2"></i></button> {% endcomment %}
      </div>
   </div>

                   
                    </div>
                      
                    </div>


       
  
           
      
           
            </div>
         


         
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save<i class="fas fa-save ml-2"></i></button>
      
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>


    </div>
</div>

</form>

        </div><!-- /.modal-content -->







<script>
    var PrecioMatricula=0;
    var matricula=0;
    var HashCode="";
    function showModalPago(id){
        matricula=id;
    
    
    let url='ModalPay/?matricula='+id;
    fetch(url,{
        mode: 'no-cors',
      method: 'get'
    }).then(function(result){
    
    return result.text();
    
    }).then(function(result){
        
        let unit=document.getElementById("modalContent").innerHTML=result;
    
    });
        $("#PayMatricula").modal("show");
        
        matricula=id;
    
    
    let url2='GetPrice/?matricula='+id;
    fetch(url2,{
        mode: 'no-cors',
      method: 'get'
    }).then(function(result){
    
    return result.text();
    
    }).then(function(result){
        
        let unit2=result;
        PrecioMatricula=unit2;

        precio(unit2);
    
    });
        
        

       
      
    }
    
    function showModalPaypal(id){
        matricula=id;
    
    
        if(id==1){
       $("#PayMatriculaPaypal").modal("show");
       document.getElementById('precioPaypal').innerHTML=PrecioMatricula;

      
    }

      if(id==2){
              $("#TrMatriculaTr").modal("show");
             
   let url='hashPay/';
   // let url='ModalPay/?matricula='+id;
    fetch(url,{
        mode: 'no-cors',
      method: 'get'
    }).then(function(result){
    
    return result.text();
    
    }).then(function(result){

       //alert(result) 
        hashID.value = result;
        HashCode=result
       document.getElementById('Amount').innerHTML=PrecioMatricula;
        idHash = result;
     
    });
   
        }
       
      
    }
    
    
       
      
    
    
    
    
    
    </script>
    
    
    <script>
    
    
    function enviardt(a){
     //function enviar(a){
        un.value=g1;
     cant.value=g2; 
         if (a==1)
        {
            
     location.href = "{%url 'ModalPayDetail'%}" ;
        } 
        
        else if(a==2)
        {
    
    location.href = "{%url 'ModalPayDetail2'%}" ;
        } 
    
    
    }
    
    
    
    </script>
    
    
<script>


    function enviarST(){
    
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "updateEnrollment/"); 
    xhr.onload = function(event){ 
    alert("Success, server responded with: " + event.target.response); // raw response
    location.href = "" ;
    }; 
    // or onerror, onabort
    var formData = new FormData(document.getElementById("enroll")); 
    formData.append('id', matricula);
    xhr.send(formData);
    
    
    
    
    }
    
    
    
    </script>
    
     <script src="https://www.paypal.com/sdk/js?client-id=sb&enable-funding=venmo&currency=USD" data-sdk-integration-source="button-factory"></script>
      <script>
      var cantidad = document.getElementById("dato");
      
      var cc = dato.value;

      function precio(usd){
          cc=usd;
      

      }
        function initPayPalButton() {
          paypal.Buttons({
            style: {
              shape: 'pill',
              color: 'black',
              layout: 'vertical',
              label: 'pay',
              
            },
            
    
            createOrder: function(data, actions) {
              return actions.order.create({
                purchase_units: [{"amount":{"currency_code":"USD","value":cc}}]
              });
            },
    
            onApprove: function(data, actions) {
              return actions.order.capture().then(function(orderData) {
                
                // Full available details
               // console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                
               // console.log(orderData.status);
                console.log(orderData.payer.email_address);
                console.log(orderData.payer.payer_id);
                
                console.log(orderData.purchase_units[0].payments.captures[0].status);
                // []
               console.log(orderData.purchase_units[0].payments.captures[0].id);
               console.log(orderData.purchase_units[0].payments.captures[0].final_capture);
               console.log(orderData.purchase_units[0].payments.captures[0].amount.value);
               console.log(orderData.purchase_units[0].payments.captures[0].amount.currency_code);
                
                
    
                // Show a success message within this page, e.g.
                const element = document.getElementById('paypal-button-container');
                element.innerHTML = '';
                element.innerHTML = '<h3>Thank you for your payment!</h3>';
               
                var  statusPay=(orderData.purchase_units[0].payments.captures[0].final_capture);


                if(statusPay==true){
                        var xhr = new XMLHttpRequest();
                        xhr.open("POST", "InsertPayTr/"); 
                        xhr.onload = function(event){ 
                        //alert("Success, server responded with: " + event.target.response); // raw response
                        alerta(1);
                        reload();
                        }; 
                        // or onerror, onabort
                        var formData = new FormData(document.getElementById("enrollTr")); 
                        formData.append('hash', HashCode);
                        formData.append('matricula', matricula);
                        formData.append('precio', PrecioMatricula);
                        formData.append('origen', 1);
                        formData.append('reference', orderData.purchase_units[0].payments.captures[0].id);



                        xhr.send(formData);

                    }


                       

    
                // Or go to another URL:  actions.redirect('thank_you.html');
                
              });
            },
    
            onError: function(err) {
              console.log(err);
            }
          }).render('#paypal-button-container');
        }
        initPayPalButton();
      </script>
    
<script>


function cgPayTr(){



var xhr = new XMLHttpRequest();
xhr.open("POST", "InsertPayTr/"); 
xhr.onload = function(event){ 
//alert("Success, server responded with: " + event.target.response); // raw response
alerta(1);
reload();
}; 
// or onerror, onabort
var formData = new FormData(document.getElementById("enrollTr")); 
formData.append('hash', HashCode);
formData.append('matricula', matricula);
formData.append('precio', PrecioMatricula);
formData.append('origen', 3);


xhr.send(formData);




}



const $seleccionArchivos = document.querySelector("#seleccionArchivos"),
$imagenPrevisualizacion = document.querySelector("#imagenPrevisualizacion");

// Escuchar cuando cambie
$seleccionArchivos.addEventListener("change", () => {
// Los archivos seleccionados, pueden ser muchos o uno
const archivos = $seleccionArchivos.files;
// Si no hay archivos salimos de la función y quitamos la imagen
if (!archivos || !archivos.length) {
$imagenPrevisualizacion.src = "";
return;
}
// Ahora tomamos el primer archivo, el cual vamos a previsualizar
const primerArchivo = archivos[0];
// Lo convertimos a un objeto de tipo objectURL
const objectURL = URL.createObjectURL(primerArchivo);
// Y a la fuente de la imagen le ponemos el objectURL
$imagenPrevisualizacion.src = objectURL;
// imagenRuta.value=objectURL;
Amount.value = pagotr;
hashID.value = idHash
//alert (pagotr);
});

</script>
    
{% endblock content %}
	
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
