{% extends "layouts/base.html" %}

{% block title %}{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner animated fadeInRight">
			<div class="page-header">
				<h4 class="page-title">Enrollment Applications</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="{% url 'home' %}">
                            <i class="flaticon-home"></i>
                        </a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<span>Registration</span>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="{% url 'ManagePersons' %}">Enrollment Applications</a>
					</li>
				</ul>
			</div>
			<div class="page-category">
                <div class="">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="card">
                                <div class="card-header">
                                    <div class="dropdown" id="panelBuscar">
                                        <button   class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <i class="glyphicon glyphicon-search"></i> Filter
                                        
                                        </button>
                                        <div class="dropdown-menu">
                                            <div class="panel">
                                                <div class="panel-body">
                                                    <form id="buscar" name="buscar" method="POST" action=".">
                                                        {% csrf_token %}
                    
                                                        <table style="width:100%">                                            
                                                            <tr>
                                                                <td class="p-2">Initial Date for Registration</td>
                                                                <td></td>
                                                                <td class="p-2">
                                                                    <input id="fechaInicialPersona" name="fechaInicialPersona" value="{{fechaInicialPersona}}" type="date" class="form-control" >
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="p-2">Final Date for Registration</td>
                                                                <td></td>
                                                                <td class="p-2">
                                                                    <input id="fechaFinalPersona" name="fechaFinalPersona" value="{{fechaFinalPersona}}" type="date" class="form-control" >
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="p-2">Name</td>
                                                                <td></td>
                                                                <td class="p-2">
                                                                    <input id="personaBuscarNombrePersona" name="personaBuscarNombrePersona" value="{{personaBuscarNombrePersona}}" type="text" class="form-control" >
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="p-2">Id Number</td>
                                                                <td></td>
                                                                <td class="p-2">
                                                                    <input id="idNumberPersona" name="idNumberPersona" value="{{idNumberPersona}}"  type="text" class="form-control" >
                                                                </td>
                                                            </tr>
                                                   
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td class="p-2">
                                                                    <input type="submit" class="btn btn-primary" value="Filter" >
                                                                    &nbsp;
                                                                    <input type="button" onclick="reload()" class="btn btn-default" value="Clean">
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-component-like table-borderless text-center">
                                            <thead>
                                                <tr>
                                                    <th style="width: 65px;"></th>
                                                    <th>Names</th>
                                                    <th>Id Number</th>
                                                    <th>Date of Registration</th>
                                                    <th></th>
                                                    <th></th>  
                                                    <th></th>       
                                                </tr>
                                            </thead>
                                            <tbody class="data-cargando">
                                                {% for person in publicoObject %}
                            
                                                <tr style="cursor:pointer;"  >
                                                    <td ></td>
                                                   <td>{{person}}</td>
                                                   <td>{{person.docto_identidad}}</td>
                                                   <td>{{person.fecha_registro}}</td>
                                                   <td> 
                                                        <a href="javascript:void(0);"  id="{{person.idpublico}}"  onclick="showModal(id)" ><i class="fa fa-plus"></i> Add Enrollment</a>
                                                    </td>
                                                   <td>  
                                                        <form id="PersonaForm" name="PersonaForm" action="{% url 'EnrollmentList'%}" onsubmit=" return ManagePersonas('{{person.idpublico}}')" method="POST">
                                                            {% csrf_token %}
                                                            <input type="hidden" value="0" id="PersonId"
                                                            name="PersonId">
                                                        
                
                                                            <a  href="javascript:void(0);" onclick="sendForm('{{person.idpublico}}')" id="{{person.idpublico}}" ><i class="fa fa-tasks"></i> Manage Enrollments</a>
                
                                                        </form>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                
                                                {% endfor %}
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                                <div class="card-footer">
                                    
                                     <nav aria-label="Page navigation example">
                                         <ul class="pagination justify-content-center">
                                         {% if publicoObject.has_previous %}
                                             <li class="page-item">
                                                 <a class="page-link" href="?page=1">&laquo; First</a>
                                             </li>
                                             <li class="page-item">
                                                 <a class="page-link" href="?page={{ publicoObject.previous_page_number }}">Previous</a>
                                             </li>
                                         {% else %}
                                             <li class="page-item disabled">
                                                 <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                             </li>
                                         {% endif %}
                                 
                                         {% if publicoObject.number|add:'-4' > 1 %}
                                             <li class="page-item"><a class="page-link" href="?page={{ publicoObject.number|add:'-5' }}">&hellip;</a></li>
                                         {% endif %}
                                 
                                         {% for i in publicoObject.paginator.page_range %}
                                             {% if publicoObject.number == i %}
                                             <li class="page-item active" aria-current="page">
                                               <span class="page-link">
                                                 {{ i }}
                                                 <span class="sr-only">(current)</span>
                                               </span>
                                             </li>
                                             {% elif i > publicoObject.number|add:'-5' and i < publicoObject.number|add:'5' %}
                                                 <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                             {% endif %}
                                         {% endfor %}
                                 
                                         {% if publicoObject.paginator.num_pages > publicoObject.number|add:'4' %}
                                            <li class="page-item"><a class="page-link" href="?page={{ publicoObject.number|add:'5' }}">&hellip;</a></li>
                                         {% endif %}
                                 
                                         {% if publicoObject.has_next %}
                                             <li class="page-item">
                                                 <a class="page-link" href="?page={{ publicoObject.next_page_number }}">Next</a>
                                             </li>
                                             <li class="page-item">
                                                 <a class="page-link" href="?page={{ publicoObject.paginator.num_pages }}">Last &raquo;</a>
                                             </li>
             
                                         {% else %}
                                             <li class="page-item disabled">
                                                 <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                                             </li>
                                         {% endif %}
                                         </ul>
                                     </nav>
                                     <div class="clearfix"></div>

                                </div>
                            </div>
                          
                           
                
                        </div>
                    </div>
                </div>
            </div>
 
		</div>			            
    </div>
	
<script>
var Persona=0;

function sendForm(id){
    Persona=id;

    
   
    //$(this).append('<input type="hidden" name="idPersona" id="idPersona" value="value"  /> ');
    document.getElementById('PersonId').value=Persona;
   // alert(document.getElementById('idPersona').value)

    document.getElementById("PersonaForm").submit();

}

$('#PersonaForm').submit(function(eventObj) {
  
});
function ManagePersonas(id){
    Persona=id;
    



}


function showModal(id){
    Persona=id;
    

let url='MatriculacionAddModal/';
fetch(url,{
	
}).then(function(result){

return result.text();

}).then(function(result){
	
	let unit=document.getElementById("modalContent").innerHTML=result;

});
    $("#AdministrarMatricula").modal("show");
    
  
}


function enviar(){

var xhr = new XMLHttpRequest();
xhr.open("POST", "save/"); 
xhr.onload = function(event){ 
//alert("Success, server responded with: " + event.target.response); // raw response
alerta(1); // raw response

$("#AdministrarMatricula").modal('toggle');

}; 
// or onerror, onabort
var formData = new FormData(document.getElementById("enroll")); 
formData.append('id', Persona);

xhr.send(formData);

}



</script>



<script>


    window.addEventListener("load", function(event) {
        console.log("'Todos los recursos terminaron de cargar!");
        program.value=-1;
        type.value=-1;
      });
     
    function programChange(){
        
        cbProcess.value=-1;
        cbCourse.value=-1;
        cbUnit.value=-1;
                   
    let program=document.getElementById("program").value;
    
    
    if (program<=0)
    {
        
    //let listaProcess=document.getElementById("listaProcess");
    ////listaProcess.style.visibility=false;
    }
    
    let url='ComboOptions/?structuraProg='+program;
    fetch(url,{
        mode: 'no-cors',
      method: 'get'
    }).then(function(result){
    
    return result.text();
    
    }).then(function(result){
        
        let cbProcess=document.getElementById("cbProcess").innerHTML=result;
    
    });
    
    }
    
    function processChange(){
        cbUnit.value=-1;
        cbCourse.value=-1;
    
        let process=document.getElementById("cbProcess").value;
    
    
    
    
    
    
    let url='ComboOptions/?structuraProg='+process;
    fetch(url,{
        mode: 'no-cors',
      method: 'get'
    }).then(function(result){
    
    return result.text();
    
    }).then(function(result){
        
        let unit=document.getElementById("cbUnit").innerHTML=result;
    
    });
    
    
    }
    
    function unitChange(){
        cbCourse.value=-1;
    
        let unit=document.getElementById("cbUnit").value;
    
    
    
    
    
    
    let url='ComboOptions/?structuraProg='+unit;
    fetch(url,{
        mode: 'no-cors',
      method: 'get'
    }).then(function(result){
    
    return result.text();
    
    }).then(function(result){
        
        let unit=document.getElementById("cbCourse").innerHTML=result;
    
    });
    
    }
    
    function courseChange(){}
    
    
function reload(){

window.location.href="{% url 'ManagePersons'%}";
}
    
    
    </script>



<!--  Modal-->
<div class="modal fade" tabindex="-1" role="dialog" id="AdministrarMatricula">
    <div class="modal-dialog" role="document" id="modalContent">
     
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

<!-- /.modal -->
{% endblock content %}
	
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
