{% extends "layouts/base.html" %}

{% block title %}{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
 
	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Starter page</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="index.html">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<span>Module name</span>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Page 1</a>
					</li>
				</ul>
			</div>
			<div class="page-category">
        <h2>Enrollment Applications</h2>
		<div > 
			<div class="dropdown" id="panelBuscar">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="glyphicon glyphicon-search"></i> Filter
                   
                </button>
                <div class="dropdown-menu">
                    <div class="panel">
                        <div class="panel-body">
                            <form id="buscar" name="buscar" method="POST" action=".">
				{% csrf_token %}
                                 
                            <table style="width:100%">
                           
                                <tr>
                                    <td>Initial Date</td>
                                    <td></td>
                                    <td>
                                        <input id="fechaInicial" name="fechaInicial" type="date" class="form-control" >
                                    </td>
                                </tr>
                                <tr>
                                    <td>Final Date</td>
                                    <td></td>
                                    <td>
                                        <input id="fechaFinal" name="fechaFinal" id type="date" class="form-control" >
                                    </td>
                                </tr>
                               
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        

                                        <input type="submit" class="btn btn-primary" value="Filter" >
                                        &nbsp;
                                        <input type="button" onclick="reload()" class="btn btn-default" value="Clean">

                                    </td>
                                </tr>
                            </table>
                        </form>
                        </div>
                    </div>
                </div>

            </div>
             <input type="hidden" id="dato" value= "{{ listaPrecio }}"/>
            <div class="animated fadeInRight">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">


                         
                        <table class="table table-striped table-hover">
                            <thead>
                               <input type="hidden" id="dato2" value= "{{ ax }}"/>
                                <tr>
                                    <th style="width: 65px;"></th>
                                   
                                    <th>Users</th>
                                    <th>Date</th>
                                    
                                    <th>Reference</th>
                                    <th>Method</th>
                                    <th>Pay</th>
                                    {% comment %} <th>Hash</th> {% endcomment %}
                                    <th>Status</th>
                                    <th>Image</th>
                                    
                                    <th></th>

                                  
                                </tr>
                            </thead>
                            <tbody class="data-cargando">
                           
                           
                                {% for mat in structuras %}
                                <tr style="cursor:pointer;" id=""  onclick="" >
                                    <td ></td>
                                   <td>{{mat.Nombre }}  {{ mat.Apellido}}</td>
                                   <td>{{mat.fecha_pago}}</td>
                                    
                                   <td>{{mat.referencia}}</td>
                                   <td>
                                   {% if mat.fk_metodopago_id == 1 %}
                                   {{"Paypal"}}
                                   {% elif mat.fk_metodopago_id == 2 %}
                                   {{"Credit card"}}
                                   {% elif mat.fk_metodopago_id == 3 %}
                                   {{"Transfer"}}
                                   {% endif %}
                                   </td>
                                    
                                  <td >
                                      
                                      
                                          
                                          
                                          {{ mat.monto_cancel }}
                                          


                                       
                                   </td>

                                   {% comment %} <td>{{mat.codigo_hash}}</td> {% endcomment %}


                                   <td id="precio" name="precio" onclick="editarm('{{mat.idmatricula_pagos}}','{{mat.status_pay}}' )">
                                    <input type="hidden" id="{{  mat.idmatricula_pagos }}" value="{{  mat.status_pay }}"/>
                                    {{mat.status_pay}}
                                    </td>

                                   <td onclick="verI('{{mat.url_imagen}}')">
                                   {{mat.url_imagen}}</td>
                                   
                                        
                                        

                                    <td>
                                     
                                   
                                    </td>
                                </tr>


                                {% endfor %}
                            </tbody>
                        </table>

                     
                       

                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                            {% if structuras.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1">&laquo; First</a>

                               </li>
                                <li class="page-item">
                                  

                                <a class="page-link" href="?page={{ structuras.previous_page_number }}">Previous</a>
                              </li>
                            {% else %}
                                <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                              </li>
                            {% endif %}
                    
                            {% if structuras.number|add:'-4' > 1 %}
                                <li class="page-item"><a class="page-link" href="?page={{ structuras.number|add:'-5' }}">&hellip;</a></li>
                            {% endif %}
                    
                            {% for i in structuras.paginator.page_range %}
                                {% if structuras.number == i %}
                                    <li class="page-item active" aria-current="page">
                                  <span class="page-link">
                                    {{ i }}
                                    <span class="sr-only">(current)</span>
                                  </span>
                                </li>
                                {% elif i > structuras.number|add:'-5' and i < structuras.number|add:'5' %}
                                     <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                    
                            {% if structuras.paginator.num_pages > structuras.number|add:'4' %}
                               <li class="page-item"><a class="page-link" href="?page={{ structuras.number|add:'5' }}">&hellip;</a></li>
                            {% endif %}
                    
                            {% if structuras.has_next %}
                                <li class="page-item">
                                <a class="page-link" href="?page={{ structuras.next_page_number }}">Next</a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" href="?page={{ structuras.paginator.num_pages }}">Last &raquo;</a>
                              </li>

                            {% else %}
                                <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                              </li>
                            {% endif %}
                          </ul>
                        </nav>

                        <div class="clearfix">aquiii
                        
                           {% load static %}
                            <img id="prueba" src="{% static "images/hi.jpg" %}" width="300" height="300"/>

                           

                        </div>
            
                    </div>
                </div>
            
            
            </div>
            














	   
		</div>			            
      </div>
		</div>
	</div>


{% comment %} ###################################Modal para el status ############################################### {% endcomment %}

<div class="modal fade" tabindex="-1" role="dialog" id="ModalEd">
    <div class="modal-dialog " role="document" id="modalContentEdit">
     
        
      
  <form class="form" id="enrollI" name="enrollI" onsubmit="cargaed();return false">
    {% csrf_token %}    
  
<div class="modal-content" onload="">
    <div class="modal-header">
        <h4 style="left: initial;" class="modal-title">Pay Details</h4>

 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        
     <div class="row">
            

            
                <div class="col-6">


            
            
             
           
           <input type="hidden" name="ol" id="ol"/>
           <input class="form-control" type="text" name="curso" id="curso" readonly/>

             </div>
  
  
                <div class="col-6">
                    
                    <select class="form-control" id="statusG" name="statusG" onchange="" required >
			       
                    <option id="a" value="Select" selected>Select </option>
                    <option id="b" value="Completed">Completed</option>
                    <option id="c" value="Rejected">Rejected</option>

            		 </select>
                   
                   
                  
                           
                </div>
                
                 
        </div>  
        
    </div>
    <div class="modal-footer">
         <input type="submit"  class="btn btn-default"  value="Save Changes"> 
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    </div>
</form>


    </div>
</div>

</div>
{% comment %}############################ modal de la imagen ########################################{% endcomment %}
<div class="modal fade" tabindex="-1" role="dialog" id="Modalver">
    <div class="modal-dialog modal-lg" role="document" id="modalContentEdit">
  <form class="form" id="enrollI" name="enrollI" onsubmit="enviarver();return false">
    {% csrf_token %}    
  
<div class="modal-content" onload="">
    <div class="modal-header">
        <h4 style="left: initial;" class="modal-title">Pay Details</h4>

 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        
     <div class="row">
            

            
                <div class="col-6">


            
            
             
           
           <input type="hidden" name="ol" id="ol"/>
           <input type="text" name="curso" id="curso" readonly/>

             </div>
  
  
                <div class="col-6">
                 
                  <img class="imagenUrl" id="imagenUrl" src="" width="200" height="200" >
                   
                </div>
                
                 
        </div>  
        
    </div>
    <div class="modal-footer">
         <input type="submit"  class="btn btn-default"  value="Save Changes"> 
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    </div>
</form>


    </div>
</div>


</div>



<script>
//mys();

function mys(){

//var tunombrevariable= JSON.stringify({{ doc_et | safe  }});
//var tunombrevariable=JSON.parse(tunombrevariable);

//var tunombrevariable2= JSON.stringify({{ doc_et2 | safe  }});
//var tunombrevariable2=JSON.parse(tunombrevariable2);
//var ax=[];
//alert(tunombrevariable[0].model);
//var a = 0;
//var b = 0;
//for (valor of tunombrevariable2) {

  // for (valor2 of tunombrevariable){

 //  if(valor.fields.fk_cta_usuario == valor2.pk){

 //    console.log(valor2.fields.codigo_cta);
 //    console.log(valor.fields.fecha_transaccion);
 //    console.log(valor.fields.desc_operacion);

 //        ax.push(valor.fields.fecha_transaccion);
    // ax.append({'id':b[0], 'title': b[1],'content': b[2]})
 
    

 //    break;
 //  }
 //   b=b+1;
 //  }


//a=a+1;
//if(a==2){break;}
//}
//enviarPack(ax);
}

function enviarPack(a){
//console.log(a);


  // let url='Getdata/?matricula='+a;
//fetch(url,{
//	mode: 'no-cors',
//  method: 'get'
//}).then(function(result){

//console.log(result)
//return result.text();

//}).then(function(result){
	


//});
    //$("#editarPrecio").modal("show");


}
function verI(a){
$("#Modalver").modal("show");
//cargaver(a);
 //const img = document.querySelector('.imagenUrl')
 //document.img.src="";
 //document.img[0].src = "objetos/imagen2.jpg"
 //var Aatrox = document.getElementById("imagenUrl");
 //var Aatroxclicks = 0;

   // Aatrox.setAttribute("src", a);
 //$("#imagenUrl").attr("src",a);
 
 //cargaver(a);
$("#prueba").attr("src",a);
}


function cargaver(a){
 let url='media/?Url='+a;
fetch(url,{
	mode: 'no-cors',
  method: 'get'
}).then(function(result){

//console.log(result)
return result.text();

}).then(function(result){
	
    

});
}

var idBusqueda;
var campo;
function editarm(a,b){
$("#ModalEd").modal("show");
//cargaed(a,b);
    curso.value=b;
    ol.value=a;
    idBusqueda = a;
}

 var select = document.getElementById('statusG');
   select.addEventListener('change',
  function(){
    var selectedOption = this.options[select.selectedIndex];
    console.log(selectedOption.value + ': ' + selectedOption.text);

     campo = selectedOption.value;



      });

//function cargaed(id,id2){
    function cargaed(){
    console.log(idBusqueda,campo);
   
  //  var tdElem = document.getElementById ( "precio" );
  //  var tdText = tdElem.innerHTML;
    // alert(document.getElementById ( id ).value);
  //  a.value =document.getElementById ( id ).value;
   // alert(a);
   // $('#statusG').val(id).html(id);
   //alert(statusG.value);
   // var id3 = statusG.value
    //let unit=document.getElementById("precio").innerHTML;
    //valor.value = unit;
   

   let url='GetEditStatus/?Combo='+campo+'&id='+idBusqueda;
fetch(url,{
	mode: 'no-cors',
  method: 'get'
}).then(function(result){

//console.log(result)
return result.text();

}).then(function(result){
	
	//let unit=document.getElementById("modalContent").innerHTML=result;
    //valor.value = result.id;
   //console.log(result)
   //var asd = JSON.parse(result.id);
  // console.log(result)
  // console.log(result)
  idBusqueda=0;
  Combo="";
  alert(result);
    location.href = "" ;

});
    //$("#editarPrecio").modal("show");
    
 
}




function enviar(){

var xhr = new XMLHttpRequest();
xhr.open("POST", "InsertC/"); 
xhr.onload = function(event){ 
alert("Success, server responded with: " + event.target.response); // raw response
//location.href = "" ;
}; 
// or onerror, onabort
var formData = new FormData(document.getElementById("enrollI")); 
formData.append('idNum', codigoMatricula.value);
xhr.send(formData);




}

function reload(){

    window.location.href="{% url 'EnrollmentList'%}";
}


</script>




{% endblock content %}
	
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
