.modal-body{
   position: relative;
   max-height: 65vh !important;
   overflow-y: auto;
}
.modal-header{
   background: #1a2035;
   color: #fff;
}

.modal-header > button > span{
   color: #fff;
}

.modal-title{
   font-size: 1.2rem !important;
   font-weight: bold;
}

.table-component-like > thead{
   background-color: #1a2035 !important;
   color: white;
}
.table-component-like > tbody:nth-child(3n){
   background-color: rgba(0, 0, 0, 0.2) !important;
}
.table-component-like{
   margin: 0;
   border-radius: .25rem;
}
