{% extends "layouts/base.html" %}
{% load static %}

{% block title %}{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<div class="content">
   <div class="page-inner">
      <div class="page-header">
         <h4 class="page-title">System tables</h4>
         <ul class="breadcrumbs">
            <li class="nav-home">
               <a href="{% url 'home' %}">
                  <i class="flaticon-home"></i>
               </a>
            </li>
            <li class="separator">
               <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
               <span>Settings</span>
            </li>
            <li class="separator">
               <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
               <a href="{% url 'system_tables' %}">Tables</a>
            </li>
         </ul>
      </div>
      <div class="page-category">
         <div class="card">
            <div class="card-header">
               <div class="form-row">
                  <div class="form-group col-md-6">
                     <h2 id="demo" class="card-text mt-2">
                        System tables
                     </h2>
                  </div>
                  <div class="form-group col-md-6 d-flex justify-content-end">
                     <button type="button" id="btnAddSetting" class="btn btn-success" data-toggle="modal" disabled data-target="#addNewTable"
                        onclick="limpiarModal()">
                        Add setting <i class="fas fa-plus ml-1"></i>
                     </button>
                  </div>
               </div>
            </div>
            <div class="card-body row">
               <div id="renderList" class="col-md-3">
                  <p>There aren't data to show</p>
               </div>
               <div id="renderContainer" class="col-md-9 p-2 table-responsive">
                  <h3 class="display-4">Select an element from list</h3>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="modal fade" id="addNewTable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><strong>New setting</strong></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form>
               <div class="form-row">
                  <div class="form-group col-12">
                     <label for="descriptionConfig" class="col-form-label">Description</label>
                     <input type="text" class="form-control" id="descriptionConfig">
                  </div>
               </div>
               <div class="form-row">
                  <div class="form-group col-4">
                     <label for="checkShowCB" class="col-form-label">Show on lists</label>
                     <input class="form-check-input" type="checkbox" value="" id="checkShowCB">
                  </div>
                  <div class="form-group col-4">
                     <label for="checkChangesCB" class="col-form-label">Allow changes</label>
                     <input class="form-check-input" type="checkbox" value="" id="checkChangesCB">
                  </div>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
            <button type="button" class="btn btn-primary">Save</button>
         </div>
      </div>
   </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
   const renderComponentLista = (name, page, limit) => {
      return fetch("{% url 'component_lista'%}",
         {
            headers: {
               'Accept': 'application/json',
               'X-Requested-With': 'XMLHttpRequest',
               "X-CSRFToken": getCookie('csrftoken')
            },
            mode: 'same-origin',
            method: 'POST',
            body: JSON.stringify({
               data: {
                  name,
                  page,
                  limit
               }
            }),
         })
         .then(async (res) => {
            result = await res.text()
            if (result[0] != '<') {
               result = "<p>There aren't records</p>"
            }
            return result
         })
   }
   const renderComponentTabla = (padre, name) => {
      return fetch("{% url 'component_tabla'%}",
         {
            headers: {
               'Accept': 'application/json',
               'X-Requested-With': 'XMLHttpRequest',
               "X-CSRFToken": getCookie('csrftoken')
            },
            mode: 'same-origin',
            method: 'POST',
            body: JSON.stringify({
               data: {
                  name: name,
                  padre: padre
               }
            }),
         })
         .then(async (res) => {
            result = await res.text()
            if (result[0] != '<') {
               result = "<h3 class='display-4'>Selected table has no childs</h3>"
            }
            return result

         })
   }
   const toggleContentChild = async (idPadre) => {
      const tablaHijo = document.getElementById(`tablaHijo${idPadre}`)
      const contenedor = document.getElementById(`contenidoHijo${idPadre}`)
      if (tablaHijo.hidden) {
         const result = await renderComponentTabla(idPadre, "tablaConfig")
         contenedor.innerHTML = result
      }
      else {
         contenedor.innerHTML = ''
      }
      tablaHijo.hidden = !tablaHijo.hidden
   }
   const contenedorLista = document.getElementById("renderList")
   renderComponentLista("listaConfig", 1, 5).then((resultado) => {
      contenedorLista.innerHTML = resultado
   })
   const changePerPage = async () => {
      const cbLista = document.getElementById("select-perpage")
      renderComponentLista("listaConfig", 1, cbLista.value).then((resultado) => {
         contenedorLista.innerHTML = resultado
      })
   }
   const goToPage = (page) => {
      const cbLista = document.getElementById("select-perpage")
      renderComponentLista("listaConfig", page, cbLista.value).then((resultado) => {
         contenedorLista.innerHTML = resultado
      })
   }
   const selectTable = async (idItem) => {
      const addButton = document.getElementById("btnAddSetting")
      const result = await renderComponentTabla(idItem, "tablaConfig")
      const contenedor = document.getElementById("renderContainer")
      contenedor.innerHTML = result
      addButton.disabled = false
   }
   const limpiarModal = () =>{
      return
   }
</script>

{% endblock javascripts %}
