{% extends "layouts/base.html" %}
{% load static %}

{% block title %}{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<div class="content">
   <div class="page-inner">
      <div class="page-header">
         <h4 class="page-title">System tables</h4>
         <ul class="breadcrumbs">
            <li class="nav-home">
               <a href="{% url 'home' %}">
                  <i class="flaticon-home"></i>
               </a>
            </li>
            <li class="separator">
               <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
               <span>Settings</span>
            </li>
            <li class="separator">
               <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
               <a href="{% url 'system_tables' %}">Tables</a>
            </li>
         </ul>
      </div>
      <div class="page-category">
         <div class="card">
            <div class="card-header">
               <div class="form-row">
                  <div class="form-group col-md-6">
                     <h2 id="demo" class="card-text mt-2">
                        System tables
                     </h2>

                  </div>
                  <div class="form-group col-md-6 d-flex justify-content-end">

                     <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addNewScale"
                        onclick="sisebana">
                        Add config <i class="fas fa-plus ml-1"></i>
                     </button>

                  </div>

               </div>

            </div>
            <div class="card-body row">
               <ul class="list-group list-group-flush col-md-3">
                  {%for table in tables%}
                  {% if table.mostrar_en_combos == 1 and table.fk_tabla_padre_id == 1 %}
                  <li class="list-group-item padres" id-tabla="{{table.id_tabla}}">
                     <div class="form-group magic-click">
                        {{table.desc_elemento}}
                     </div>
                  </li>
                  {% endif %}
                  {% endfor %}
               </ul>
               <div id="renderContainer" class="col-md-9 p-2 table-responsive">
                  <h3 class="display-4">Select an element from list</h3>
               </div>
            </div>
            <div class="card-footer row">
               <div class="px-3">
                  <select class="form-control" id="select-perpage" type="">
                     <option value="">5</option>
                     <option value="">10</option>
                     <option value="">15</option>
                  </select>
               </div>
               <nav aria-label="...">
                  <ul class="pagination mb-0  justify-content-start">
                     <li class="page-item">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                     </li>
                     <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                     </li>
                     <li class="page-item">
                        <a class="page-link" href="#">2</a>
                     </li>
                     <li class="page-item"><a class="page-link" href="#">3</a></li>
                     <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                     </li>
                  </ul>
               </nav>
            </div>
         </div>
      </div>
   </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
   const renderComponentTabla = (padre, name) => {
      return fetch("{% url 'component_tabla'%}",
         {
            headers: {
               'Accept': 'application/json',
               'X-Requested-With': 'XMLHttpRequest',
               "X-CSRFToken": getCookie('csrftoken')
            },
            mode: 'same-origin',
            method: 'POST',
            body: JSON.stringify({
               data: {
                  name: name,
                  padre: padre
               }
            }),
         })
         .then(async (res) => {
            result = await res.text()
            if (result[0] != '<') {
               result = "<h3 class='display-4'>Selected table has no childs</h3>"
            }
            return result

         })
   }
   const toggleContentChild = async (idPadre) => {
      const tablaHijo = document.getElementById(`tablaHijo${idPadre}`)
      const contenedor = document.getElementById(`contenidoHijo${idPadre}`)
      if (tablaHijo.hidden) {
         const result = await renderComponentTabla(idPadre, "tablaConfig")
         contenedor.innerHTML = result
      }
      else{
         contenedor.innerHTML = ''
      }
      tablaHijo.hidden = !tablaHijo.hidden
   }
   let listaPadres = document.querySelectorAll("li.list-group-item.padres")
   for (let padre of listaPadres) {
      padre.addEventListener("click", async (e) => {
         const result = await renderComponentTabla(padre.getAttribute("id-tabla"), "tablaConfig")
         const contenedor = document.getElementById("renderContainer")
         contenedor.innerHTML = result
      })
   }

</script>

{% endblock javascripts %}
