{% extends "layouts/base.html" %}
{% load static %}

{% block title %}{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<div class="content">
   <div class="page-inner animated fadeInRight">
      <div class="page-header">
         <h4 class="page-title">Academic</h4>
         <ul class="breadcrumbs">
            <li class="nav-home">
               <a href="{% url 'home' %}">
                  <i class="flaticon-home"></i>
               </a>
            </li>
            <li class="separator">
               <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
               <a href="{% url 'academic' %}">Academic</a>
            </li>
            <li class="separator">
               <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
               <a href="{% url 'programa' programa.url %}">{{programa.descripcion}}</a>
            </li>
            <li class="separator">
               <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
               <a href="{% url 'proceso' programa=programa.url proceso=proceso.url %}">{{proceso.descripcion}}</a>
            </li>
            <li class="separator">
               <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
               <a
                  href="{% url 'unidad' programa=programa.url proceso=proceso.url unidad=unidad.url %}">{{unidad.descripcion}}</a>
            </li>
            <li class="separator">
               <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
               <a
                  href="{% url 'curso' programa=programa.url proceso=proceso.url unidad=unidad.url curso=curso.url %}">{{curso.descripcion}}</a>
            </li>
            <li class="separator">
               <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
               <a
                  href="{% url 'curso' programa=programa.url proceso=proceso.url unidad=unidad.url curso=curso.url %}">{{topico.descripcion}}</a>
            </li>
            <li class="separator">
               <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
               {{actividad.descripcion}}
            </li>
         </ul>
      </div>
      <div class="page-category">
         <div class="card">
            <div class="card-header">
               <h2>{{actividad.descripcion}}</h2>
            </div>
            <main class="card-body">
               {% if actividad.fk_categoria.valor_elemento == 'activityLesson' %}
               <div class="owl-carousel owl-theme">
               {% for leccion in actividad.paginas_set.all|dictsort:'ordenamiento' %}
                  {% if leccion.contenido %}
                  <div class="item">
                     {{leccion.contenido | safe}}
                  </div>
                  {% endif %}
               {% endfor %}
               </div>
               {% elif actividad.fk_categoria.valor_elemento == 'activityHome' %}
               {% for tarea in actividad.paginas_set.all %}
               {{tarea.contenido | safe}}
               {% endfor %}
               {% else %}
               <p>There is no preview for this activity</p>
               {% endif %}
            </main>
         </div>
      </div>
   </div>
</div>

<!-- Modal amigable -->
<div class="modal fade" id="addNewModal" tabindex="-1" role="dialog">
   <div class="modal-dialog modal-lg modal-dialog-centered" role="document" id="addNewModalContent">

   </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
   let hijos = $('.owl-carousel').children.length
   if(hijos === 1){
      console.log("congratulations u have reached the last page")
   }
   const revisarPag = (event)=>{
      if(event.property.name === "position"){
         if(event.page.index === event.page.count -1){
            console.log("congratulations u have reached the last page")
         }
      }
   }
   $('.owl-carousel').owlCarousel({
      onChanged:revisarPag,
      loop: false,
      margin: 10,
      nav: true,
      responsive: {
         0: {
            items: 1
         }
      }
   })

</script>

{% endblock javascripts %}
