{% load Filter %}
{% if query%}
results for "{{query}}"
{% endif %}
<section>
   <div class="section-header">
      <h3 class="section-title">Courses</h3>
   </div>
   <div class="cards-container">
      {% if not query %}
      <div class="card-new">
         <div class="card-new-content">
            <h2 class="card-new-title">Add new course</h2>
            <div class="card-new-body">
               <div onclick="openAddCourses()" class="btn btn-icon btn-success btn-round add-btn btn-card-xl">
                  <i class="fas fa-plus"></i>
               </div>
            </div>
         </div>
      </div>
      {% endif%}
      {% for course in data%}
      {%if course.valor_elemento == 'Course'%}
      <div class="card-academic">
         <!-- <div class="card-academic-locked">
                     <i class="fas fa-lock"></i>
                  </div> -->
         <div class="card-academic-content">
            <div class="over-title">
               <p><span class="subtitle">Type</span> {{course.valor_elemento}}</p>
               {% with teachers=course.programaprofesores_set.all|dictsortreversed:'idprograma_profesores'%}
               {% with myteacher=teachers|first %}
               <p><span class="subtitle">Teacher</span>{{myteacher.fk_publico.nombre}} {{myteacher.fk_publico.apellido}}</p>
               {% endwith %}
               {% endwith %}
            </div>
            <h2 class="card-academic-title">{{course.descripcion}}</h2>
            <p class="card-academic-body">{{course.resumen}}</p>
            <div class="btn-group" role="group">
               {%if rol == 'Teacher'%}
                  {%if course|editableCourse:user %}
                  <a href="#" onclick="openEditCourses('{{course.pk}}')" class="button btn btn-primary"><i
                        class="fas fa-edit"></i></a>
                  {%endif%}
               {%else%}
                  {%if edit%}
                  <a href="#" onclick="openEditCourses('{{course.pk}}')" class="button btn btn-primary"><i
                        class="fas fa-edit"></i></a>
                  {%endif%}
               {%endif%}
               <a href="{% url 'curso' programa=programa.url proceso=proceso.url unidad=unidad.url curso=course.url %}"
                  class="button btn btn-success"><strong>Open</strong></a>
               {%if delete%}
               <a href="#" onclick="openDeleteCourses('{{course.pk}}')" class="button btn btn-danger"><i
                     class="fas fa-trash-alt"></i></a>
               {%endif%}
            </div>
         </div>
      </div>
      {%endif%}
      {% endfor %}
   </div>
</section>
