{% load Filter %}
{% if query%}
results for "{{query}}"
{% endif %}
<section>
   <div class="section-header">
      <h3 class="section-title">Units</h3>
   </div>
   <div class="cards-container">
      {% if request.user|isAdmin %}
      {% if not query %}
      <div class="card-new">
         <div class="card-new-content">
            <h2 class="card-new-title">Add new unit</h2>
            <div class="card-new-body">
               <div onclick="openAddUnits()" class="btn btn-icon btn-success btn-round add-btn btn-card-xl">
                  <i class="fas fa-plus"></i>
               </div>
            </div>
         </div>
      </div>
      {% endif%}
      {% endif%}
      {% for unit in data%}
      {%if unit.valor_elemento == 'Unit'%}
      <div class="card-academic">
         {%if unit|isEnrolled:request.user and unit.fk_estructura_padre|isEnrolled:request.user and unit.fk_estructura_padre.fk_estructura_padre|isEnrolled:request.user%}
         <div class="card-academic-locked">
            <i class="fas fa-lock"></i>
            {%if unit|isClosed:request.user %}
            <p>This enrollment has ended</p>
            {%endif%}
         </div>
         {% endif %}
         <div class="over-title">
            <p><span class="subtitle">Type</span> {{unit.valor_elemento}}</p>
            <p><span class="subtitle">Credits</span> {{unit.peso_creditos}}</p>
         </div>
         <div class="card-academic-content">
            <h2 class="card-academic-title">{{unit.descripcion}}</h2>
            <p class="card-academic-body">{{unit.resumen}}</p>
            <div class="btn-group" role="group">
               {%if edit%}
               <a href="#" onclick="openEditUnits('{{unit.pk}}')" class="button btn btn-primary"><i
                     class="fas fa-edit"></i></a>
               {%endif%}
               <a href="{% url 'unidad' programa=programa.url proceso=proceso.url unidad=unit.url %}"
                  class="button btn btn-success"><strong>Open</strong></a>
               {%if delete%}
               <a href="#" onclick="openDeleteUnits('{{unit.pk}}')" class="button btn btn-danger"><i
                     class="fas fa-trash-alt"></i></a>
               {%endif%}
            </div>
         </div>
      </div>
      {%endif%}
      {% endfor %}
   </div>
</section>
