{% load Filter %}
{% if query%}
results for "{{query}}"
{% endif %}
<section>
   <div class="section-header">
      <h3 class="section-title">Processes</h3>
   </div>
   <div class="cards-container">
      {% if request.user|isAdmin %}
      {% if not query %}
      <div class="card-new">
         <div class="card-new-content">
            <h2 class="card-new-title">Add new process</h2>
            <div class="card-new-body">
               <div onclick="openAddProcess()" class="btn btn-icon btn-success btn-round add-btn btn-card-xl">
                  <i class="fas fa-plus"></i>
               </div>
            </div>
         </div>
      </div>
      {% endif%}
      {% endif%}
      {% for process in data%}
      {%if process.valor_elemento == 'Process'%}
      <div class="card-academic">
         {%if process|isEnrolled:request.user and process.fk_estructura_padre|isEnrolled:request.user  %}
         <div class="card-academic-locked">
            <i class="fas fa-lock"></i>
         </div>
         {% endif %}
         <div class="over-title">
            <p><span class="subtitle">Type</span> {{process.valor_elemento}}</p>
            <p><span class="subtitle">Credits</span> {{process.peso_creditos}}</p>
         </div>
         <div class="card-academic-content">
            <h2 class="card-academic-title">{{process.descripcion}}</h2>
            <p class="card-academic-body">{{process.resumen}}</p>
            <div class="btn-group" role="group">
               {%if edit%}
               <a href="#" onclick="openEditProcess('{{process.pk}}')" class="button btn btn-primary"><i
                     class="fas fa-edit"></i></a>
               {%endif%}
               <a href="{% url 'proceso' programa=programa.url proceso=process.url %}"
                  class="button btn btn-success"><strong>Open</strong></a>
               {%if delete%}
               <a href="#" onclick="openDeleteProcess('{{process.pk}}')" class="button btn btn-danger"><i
                     class="fas fa-trash-alt"></i></a>
               {%endif%}
            </div>
         </div>
      </div>
      {%endif%}
      {% endfor %}
   </div>
</section>
