{% if rol == "Admin" %}
{% if query%}
results for "{{query}}"
{% else %}
<section>
   <div class="section-header">
      <h3 class="section-title">New category</h3>
      <div onclick="openAddCategory()" class="btn btn-icon btn-success btn-round add-btn btn-card-lg">
         <i class="fas fa-plus"></i>
      </div>
   </div>
   <div class="cards-container">
      <div class="card-new">
         <div class="card-new-content">
            <h2 class="card-new-title">Add new program</h2>
            <div class="card-new-body">
               <div onclick="openAddProgram()" class="btn btn-icon btn-success btn-round add-btn btn-card-xl">
                  <i class="fas fa-plus"></i>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
{% endif%}
{% endif %}
{% for key, value in data.items%}
{% if value%}
<section>
   <div class="section-header">
      <h3 class="section-title">{{key}}</h3>
   </div>
   <div class="cards-container">
      {% for programa in value %}
      <div class="card-academic">
         <!-- <div class="card-academic-locked">
            <i class="fas fa-lock"></i>
         </div> -->
         <div class="over-title">
            <p><span class="subtitle">Type</span> {{programa.valor_elemento}}</p>
            <p><span class="subtitle">Credits</span> {{programa.peso_creditos}}</p>
         </div>
         <div class="card-academic-content">
            <h2 class="card-academic-title">{{programa.descripcion}}</h2>
            <p class="card-academic-body">{{programa.resumen}}</p>
            <div class="btn-group" role="group">
               {%if edit%}
               <a href="#" onclick="openEditProgram('{{programa.pk}}')" class="button btn btn-primary"><i class="fas fa-edit"></i></a>
               {%endif%}
               {% if programa.valor_elemento == 'Program'%}
               <a href="{% url 'programa' programa=programa.url%}" class="button btn btn-success"><strong>Open</strong></a>
               {% elif programa.valor_elemento == 'Process'%}
               <a href="{% url 'proceso' programa=programa.fk_estructura_padre.url proceso=programa.url%}" class="button btn btn-success"><strong>Open</strong></a>
               {% elif programa.valor_elemento == 'Unit'%}
               <a href="{% url 'unidad' programa=programa.fk_estructura_padre.fk_estructura_padre.url proceso=programa.fk_estructura_padre.url unidad=programa.url%}" class="button btn btn-success"><strong>Open</strong></a>
               {% elif programa.valor_elemento == 'Course'%}
               <a href="{% url 'curso' programa=programa.fk_estructura_padre.fk_estructura_padre.fk_estructura_padre.url proceso=programa.fk_estructura_padre.fk_estructura_padre.url unidad=programa.fk_estructura_padre.url curso=programa.url%}" class="button btn btn-success"><strong>Open</strong></a>
               {% endif %}
               {%if delete%}
               <a href="#" onclick="openDeleteProgram('{{programa.pk}}')" class="button btn btn-danger"><i class="fas fa-trash-alt"></i></a>
               {%endif%}
            </div>
         </div>
      </div>
      {% endfor %}
   </div>
</section>
{% endif%}
{% endfor %}
