{% if query%}
results for "{{query}}"
{% endif %}
<section>
   <div class="section-header">
      <h3 class="section-title">Topics</h3>
   </div>
   {% if not query %}
   {% if add %}
   <ul class="card-list">
      <li class="card-list-item">
         <div class="card-list-item-inner">
            <div class="card-list-item-title">Add new topic</div>
            <div class="card-list-item-actions">
               <div onclick="openAddTopic()" class="btn btn-icon btn-success btn-round add-btn btn-card-lg">
                  <i class="fas fa-plus"></i>
               </div>
            </div>
         </div>
      </li>
   </ul>
   {% endif %}
   {% endif %}
   <ul class="card-list" id="listaPaginas">
      {% for topic in data%}
      {%if topic.valor_elemento == 'Topic'%}
      <li class="card-list-item">
         <div class="card-list-item-inner">
            <div class="card-list-item-title" onclick="showContent('{{topic.pk}}')">{{topic.descripcion}}</div>
            <div class="card-list-item-actions">
               <div class="btn-group" role="group">
                  {% if add %}
                  <button type="button" class="btn btn-icon btn-sm btn-success" data-placement="top" title="Add"
                     data-toggle="tooltip" data-target="tooltip" onclick="openAddActivity('{{topic.pk}}')">
                     <i class="fas fa-plus"></i>
                  </button>
                  {% endif %}
                  {% if edit %}
                  <button type="button" class="btn btn-icon btn-sm btn-info ml-1" data-toggle="tooltip"
                     data-placement="top" title="Edit" onclick="openEditTopic('{{topic.pk}}')">
                     <i class="fas fa-edit"></i>
                  </button>
                  {% endif %}
                  {% if delete %}
                  <button type="button" class="btn btn-icon btn-sm btn-danger ml-1" data-toggle="tooltip"
                     data-placement="top" title="Delete" onclick="openDeleteTopic('{{topic.pk}}')">
                     <i class="fas fa-trash-alt"></i>
                  </button>
                  {% endif %}
                  {% if topic.estructuraprograma_set.all %}
                  <button type="button" class="btn btn-icon btn-sm btn-warning ml-1" data-toggle="tooltip"
                  data-placement="top" title="Show/Hide" onclick="showChilds('{{topic.pk}}')">
                  <i class="fas fa-clipboard"></i>
               </button>
               {% endif %}
               {% if topic.estructuraprograma_set.all and edit %}
               <button type="button" class="btn btn-icon btn-sm btn-dark ml-1" data-toggle="tooltip"
                  data-placement="top" title="Sort" onclick="openSortTopic('{{topic.pk}}')">
                  <i class="fas fa-list-ol"></i>
               </button>
               {% endif %}
               </div>
            </div>
            <div class="card-list-item-extra">
               {% with teachers=topic.fk_estructura_padre.programaprofesores_set.all|dictsortreversed:'idprograma_profesores'%}
               {% with myteacher=teachers|first %}
               <span>Teacher: {{myteacher.fk_publico.nombre}} {{myteacher.fk_publico.apellido}}</span>
               {% endwith %}
               {% endwith %}
            </div>
         </div>
         <div id="contentTopic{{topic.pk}}" class="card-list-item-descripcion card-list-item-close"><strong>Description:</strong> &nbsp;{{topic.resumen}}</div>
         <ul id="childsTopic{{topic.pk}}" class="card-list-item-close">
            {% for activity in topic.estructuraprograma_set.all|dictsort:'orden_presentacion' %}
            {%if activity.valor_elemento == 'Activity'%}
            <li id="itemActivity{{activity.pk}}" class="card-list-item-content
            {% if activity.fk_categoria.valor_elemento == 'activityExpert'%} deg-primary{% endif %}
            {% if activity.fk_categoria.valor_elemento == 'activityTest'%} deg-success{% endif %}
            {% if activity.fk_categoria.valor_elemento == 'activityHome'%} deg-warning{% endif %}
            {% if activity.fk_categoria.valor_elemento == 'activityLesson'%} deg-info{% endif %}
            {% if activity.fk_categoria.valor_elemento == 'activityForum'%} deg-danger{% endif %}
            ">
               <div class="card-list-item-icon">
                  {% if activity.fk_categoria.valor_elemento == 'activityExpert'%}
                  <i class="fas fa-file-contract"></i>
                  {% endif %}
                  {% if activity.fk_categoria.valor_elemento == 'activityTest'%}
                  <i class="fas fa-file-alt"></i>
                  {% endif %}
                  {% if activity.fk_categoria.valor_elemento == 'activityHome'%}
                  <i class="fas fa-pencil-alt"></i>
                  {% endif %}
                  {% if activity.fk_categoria.valor_elemento == 'activityLesson'%}
                  <i class="fas fa-chalkboard-teacher"></i>
                  {% endif %}
                  {% if activity.fk_categoria.valor_elemento == 'activityForum'%}
                  <i class="fas fa-headset"></i>
                  {% endif %}
               </div>
               <div class="card-list-item-subtitle">{{activity.descripcion}}</div>
               <div class="card-list-item-resume">{{activity.resumen}}</div>
               <div class="card-list-item-actions">
                  <div class="btn-group" role="group">
                     {% if take %}
                     {% if activity.fk_categoria.valor_elemento == 'activityExpert' or activity.fk_categoria.valor_elemento == 'activityTest'%}
                     <a class="btn btn-icon btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Take"
                        href="{% url 'takeExam' %}?id={{activity.pk}}">
                        <i class="fas fa-sign-out-alt mt-2"></i>
                  	</a>
                     {% else %}
                     <a class="btn btn-icon btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Take"
                        href="{% url 'actividad' programa=programa.url proceso=proceso.url unidad=unidad.url curso=curso.url topico=topic.url idActividad=activity.pk %}">
                        <i class="fas fa-sign-out-alt mt-2"></i>
                     </a>
                     {% endif %}
                     {% endif %}
                     {% if go %}
                     <button type="button" class="btn btn-icon btn-sm btn-success ml-1" data-toggle="tooltip" data-placement="top" title="Go"
                        onclick="openGoActivity('{{activity.pk}}','{{activity.fk_categoria.desc_elemento}}')">
                        <i class="fas fa-door-open"></i>
                     </button>
                     {% endif %}
                     {% if see %}
                     <button type="button" class="btn btn-icon btn-sm btn-warning ml-1" data-toggle="tooltip" data-placement="top" title="See"
                        onclick="openSeeActivity('{{activity.pk}}','{{activity.fk_categoria.desc_elemento}}')">
                        <i class="fas fa-eye"></i>
                     </button>
                     {% endif %}
                     {% if edit %}
                     <button type="button" class="btn btn-icon btn-sm btn-info ml-1" data-toggle="tooltip" data-placement="top" title="Edit"
                        onclick="openEditActivity('{{activity.pk}}','{{activity.fk_categoria.desc_elemento}}')">
                        <i class="fas fa-edit"></i>
                     </button>
                     {% endif %}
                     {% if delete %}
                     <button type="button" class="btn btn-icon btn-sm btn-danger ml-1" data-toggle="tooltip" data-placement="top"
                        title="Delete" onclick="openDeleteActivity('{{activity.pk}}')">
                        <i class="fas fa-trash-alt"></i>
                     </button>
                     {% endif %}
                  </div>
               </div>
            </li>
            {% endif %}
            {% endfor%}
         </ul>
      </li>
      {% endif %}
      {% endfor %}
   </ul>

</section>
