{% extends "layouts/base.html" %}
{% load static %}

{% block title %}{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<div class="content">
   <div class="page-inner animated fadeInRight">
      <div class="page-header">
         <h4 class="page-title">Create lessons</h4>
         <ul class="breadcrumbs">
            <li class="nav-home">
               <a href="{% url 'home' %}">
                  <i class="flaticon-home"></i>
               </a>
            </li>
            <li class="separator">
               <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
               <a href="{% url 'academic' %}">Academic</a>
            </li>
            <li class="separator">
               <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
               <span>Lessons</span>
            </li>
         </ul>
      </div>
      <div class="page-category">
         <div class="card">
            <div class="card-header">
               <h2>{{lesson.fk_estructura_programa.descripcion}}</h2>
               <div class="form-group w-100 d-flex justify-content-end">
                  <div class="input-group">
                     <input id="txtSearch" type="text" class="form-control" placeholder="Search for...">
                     <div class="input-group-append">
                        <span id="clearBtn" class="btn btn-danger">
                           <i class="fa fa-broom"></i>
                        </span>
                        <span id="searchBtn" class="btn btn-primary">
                           <i class="fa fa-search"></i>
                        </span>
                        <span id="sortableBtn" class="btn btn-success">
                           <i class="fas fa-lock mr-1"></i>
                           Sort
                        </span>
                     </div>
                  </div>
               </div>
            </div>
            <main class="card-body is-loading-lg">

            </main>
         </div>
      </div>
   </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addNewModal" tabindex="-1" role="dialog">
   <div class="modal-dialog  modal-dialog-centered" role="document" id="addNewModalContent">

   </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
   let query = ""
   let selectedId = ""
   let editmode = false
   let sortable = false
   let ordenamientoArray = []
   let recursosArray = []
   let bankPage = 1
   const setBankEvents = (dropzoneObj) => {
      bankPage = 1
      $("#nav-recent-tab").click(() => {
         bankPage = 1
      })
      $("#nav-bank-tab").click(() => {
         bankPage = 2
      })
      $("#nav-upload-tab").click(() => {
         bankPage = 3
      })
      $("#nav-youtube-tab").click(() => {
         bankPage = 4
      })
      const formBotones = document.getElementById("formBotones")
      const formYoutube = document.getElementById("formYoutube")
      const youtubeBtn = document.getElementById("findInYoutube")
      const inputYT = document.getElementById("urlResource")
      const frameYT = document.getElementById("previewYoutube")
      const cleanBtn = document.getElementById("cleanBankBtn")
      formYoutube.addEventListener("submit", (e) => {
         e.preventDefault()
         if (inputYT.value.trim()) {
            let youtubeFrame = comprobarYoutube(inputYT.value.trim())
            frameYT.innerHTML = youtubeFrame
         }
         else {
            frameYT.innerHTML = ""
         }
      })
      formBotones.addEventListener("submit", async (e) => {
         e.preventDefault()
         $("#insertBankBtn").attr("disabled", "disabled")
         if (bankPage === 1) { }
         if (bankPage === 2) { }
         if (bankPage === 3) {
            if (dropzoneObj.getQueuedFiles().length >= 1 && $("#tagResource3").val().trim() != "") {
               dropzoneObj.processQueue()
            }
         }
         if (bankPage === 4) {
            let HTMLstring = comprobarYoutube(inputYT.value.trim())
            if (!HTMLstring.includes("Invalid Youtube video") && $("#tagResource4").val().trim() != "") {
               dataObj = {
                  titulo: document.getElementById("titleResource4").value,
                  path: extractCode(document.getElementById("urlResource").value),
                  tipo_path: 1,
                  compartido: document.getElementById("checkSharedCB4").checked,
                  tipo_recurso: "Recurso_video",
                  tags: $("#tagResource4").val().toLowerCase()
               }
               const response = await updateModel("{% url 'modalResourcesBank'%}", "Create", dataObj, null)
               const text = JSON.parse(await response.text())
               if (text.message == "error") {
                  alerta(5)
                  return
               }
               if (text.message == "Already exists") alerta(6)
               if (text.message == "Perfect") alerta(1)
               let recursoTemp = {
                  id: text.id,
                  path: text.path,
                  type: text.type
               }
               recursosArray.push(recursoTemp)
               $(`#summernote${selectedId}`).summernote('pasteHTML', HTMLstring)
               document.querySelector("#addNewModalContent").innerHTML = ""
               $("#addNewModal").modal("hide")
            }

         }
         $("#insertBankBtn").removeAttr("disabled")
      })
      cleanBtn.addEventListener("click", (e) => {
         e.preventDefault()
         if (bankPage === 1) { }
         if (bankPage === 2) { }
         if (bankPage === 3) {
            dropzoneObj.removeAllFiles()
            document.getElementById("checkSharedCB3").checked = false
            $("#tagResource3").tagsinput('removeAll')
         }
         if (bankPage === 4) {
            frameYT.innerHTML = ""
            inputYT.value = ""
            document.getElementById("checkSharedCB4").checked = false
            $("#titleResource4").val("")
            $("#tagResource4").tagsinput('removeAll')
         }
      })
   }
   const renderRecourcesHTML = (array)=>{
      let HTMLstring = ""
      array.map(({type, path})=>{
         let recursoHTML = ""
         if(type === "Recurso_pdf"){
            recursoHTML=`<iframe src="/media/${path}#toolbar=0" width="100%" height="600px"></iframe>`
         }
         if(type === "Recurso_audio"){
            recursoHTML=`<p><audio controls><source src="/media/${path}">Your browser does not support the audio element.</audio></p>`
         }
         if(type === "Recurso_image"){
            recursoHTML=`<img src="/media/${path}"/>`
         }
         HTMLstring+=recursoHTML
      })
      return HTMLstring
   }
   const renderResourcesBank = (id) => {
      //render resources bank
      fetch("{% url 'modalResourcesBank'%}", {
         ...fetchObject,
         body: JSON.stringify({
            method: "Show"
         })
      }).then(async (res) => {
         result = await res.text()
         document.querySelector("#addNewModalContent").innerHTML = result
         $("#addNewModal").modal("show")
         const dropzoneObj = new Dropzone("form#my-awesome-dropzone", {
            url: "{% url 'modalResourcesBank' %}",
            headers:{"idPagina":selectedId},
            autoProcessQueue: false,
            uploadMultiple:true,
            acceptedFiles: "image/*,audio/*, application/pdf",
            maxFiles: 100,
            parallelUploads: 100,
            init: function () {
               this.on("successmultiple", function (files, response) {
                  recursosArray.push(...response.recursos)
                  $(`#summernote${selectedId}`).summernote('pasteHTML', renderRecourcesHTML(response.recursos))
                  document.querySelector("#addNewModalContent").innerHTML = ""
                  $("#addNewModal").modal("hide")
                  alerta(1)
               });
               this.on("errormultiple", function (files, response) {
                  alerta(5)   
               });
            }
         });
         setBankEvents(dropzoneObj)
         $('#tagResource3').tagsinput({
            tagClass: 'badge badge-info d-inline',
            allowDuplicates: false,
            trimValue: true,
            maxChars: 10,
            maxTags: 3,
            cancelConfirmKeysOnEmpty: true
         });
         $('#tagResource4').tagsinput({
            tagClass: 'badge badge-info d-inline',
            allowDuplicates: false,
            trimValue: true,
            maxChars: 10,
            maxTags: 3,
            cancelConfirmKeysOnEmpty: true
         });
      })

   }
   const updateRecursosArray = ()=>{
      recursosArray = []
      let testArray = document.querySelector("#resourcesList")
      if(!testArray)return
      testArray = testArray.value.split("/")
      testArray.map((element)=>{
         if(element.trim() != ""){
            recursosArray.push(JSON.parse(element)) 
         }
      })
   }
   const comprobarRecursosArray = ()=>{
      let codigo = $(`#summernote${selectedId}`).summernote('code')
      recursos = []
      recursosArray.map((recurso)=>{
         if(codigo.includes(recurso.path))
         recursos.push(recurso)
      })
      return recursos
   }
   const extractCode = (linkEntry)=>{
      let codeIndex = 0
      if (linkEntry.includes("youtu.be/")) {
         codeIndex = linkEntry.indexOf("youtu.be/") + 9
      }
      if (linkEntry.includes("youtube.com/")) {
         codeIndex = linkEntry.indexOf("&v=") + linkEntry.indexOf("?v=") + 4
      }
      let code = linkEntry.slice(codeIndex, codeIndex + 11)
      return code
   }
   const comprobarYoutube = (linkEntry) => {
      if (linkEntry.match(/(?:https?:\/\/)?(?:www\.|m\.)?youtu(?:\.be\/|be.com\/\S*(?:watch|embed)(?:(?:(?=\/[^&\s\?]+(?!\S))\/)|(?:\S*v=|v\/)))([^&\s\?]+)/gm)) {
         let code = extractCode(linkEntry)
         return `<iframe width="560" height="315" src="https://www.youtube.com/embed/${code}" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>`
      }
      else {
         return `<div>Invalid Youtube video</div>`
      }
   }
   const HelloButton = (context) => {
      var ui = $.summernote.ui;
      // create button for resource bank
      var button = ui.button({
         contents: '<i class="fas fa-folder-open"/> Resources',
         tooltip: 'Resources bank',
         click: () => {
            // invoke resource bank here
            renderResourcesBank(selectedId)
         }
      });
      return button.render();
   }
   const closeAllPages = (id) => {
      let paginas = document.querySelectorAll(".card-list-item-descripcion")
      paginas.forEach((item) => {
         if (item.id != `contentPage${id}`) {
            item.innerHTML = ""
            idBtn = item.id.slice(11)
            item.classList.add("card-list-item-close")
            if (document.querySelector(`#openEditBtn${idBtn}`)) {
               document.getElementById(`openEditBtn${idBtn}`).innerHTML = `<i class="fas fa-edit"></i>`
            }
            if (document.querySelector(`#openCreateBtn${idBtn}`)) {
               document.getElementById(`openCreateBtn${idBtn}`).innerHTML = `<i class="fas fa-plus"></i>`
            }

         }
      })
   }
   const updateOrder = () => {
      let paginas = document.querySelectorAll(".card-list-item-descripcion")
      ordenamientoArray = []
      paginas.forEach((pagina, index) => {
         let orderObj = {
            pk: pagina.id.slice(11),
            order: index + 1
         }
         ordenamientoArray.push(orderObj)
      })
   }
   const renderContent = () => {
      document.querySelector("main.card-body").classList.add("is-loading")
      fetch("{% url 'contenidoLecciones'%}", {
         ...fetchObject,
         body: JSON.stringify({
            id: "{{lesson.pk}}",
            query
         })
      })
         .then(async (res) => {
            result = await res.text()
            document.querySelector("main.card-body").classList.remove("is-loading")
            document.querySelector("main.card-body").innerHTML = result
            updateOrder()
         })
   }
   renderContent()
   const setupSummernote = (id) => {

      $(document).ready(function () {
         $(`#summernote${id}`).summernote({
            dialogsInBody: true,
            height: 700,
            placeholder: 'write your lesson here...',
            disableDragAndDrop: true,
            toolbar: [
               ['style', ['style']],
               ['font', ['bold', 'underline', 'clear']],
               ['fontname', ['fontname']],
               ['color', ['color']],
               ['para', ['ul', 'ol', 'paragraph']],
               ['table', ['table']],
               ['insert', ['resource']],
            ],
            buttons: {
               resource: HelloButton
            }
         });
      });
   }
   const setFormEvents = (id) => {
      const formPagina = document.getElementById(`formPagina${id}`)
      formPagina.addEventListener("submit", (e) => {
         e.preventDefault()
         $(`#summernote${id}`).html($(`#summernote${id}`).summernote('code'))
         clickSave(formPagina, "{% url 'modalAddPagina' %}")
            .then(() => {
               renderContent()
            })
      })
   }
   const renderSortedContent = () => {
      updateOrder()
      document.querySelector("main.card-body").classList.add("is-loading")
      fetch("{% url 'createLessons'%}", {
         ...fetchObject,
         body: JSON.stringify({
            id: "{{lesson.pk}}",
            query,
            method: "Sort",
            order: ordenamientoArray
         })
      })
         .then(async (res) => {
            renderContent()
         })
   }
   const clickSave = (formElement, url) => {
      const formData = new FormData(formElement);
      const data = {}
      for (var [key, value] of formData.entries()) {
         data[key] = value
      }
      data["recursos"]=comprobarRecursosArray()
      if (editmode) {
         return updateModel(url, "Update", data, selectedId)
            .then(async (res) => {
               const text = JSON.parse(await res.text())
               if (text.message == "error") alerta(5)
               else alerta(2)
            })
      }
      else {
         return updateModel(url, "Create", data, null)
            .then(async (res) => {
               const text = JSON.parse(await res.text())
               if (text.message == "error") alerta(5)
               else alerta(1)
            })
      }
   }
   const updateModel = (url, method, data, id) => {
      return fetch(url, {
         ...fetchObject,
         body: JSON.stringify({
            method,
            data,
            id
         })
      })
   }
   const openAddPage = () => {
      recursosArray = []
      document.querySelector("main.card-body").classList.add("is-loading")
      fetch("{% url 'createLessons'%}", {
         ...fetchObject,
         body: JSON.stringify({
            id: "{{lesson.pk}}",
            method: "Create",
            query
         })
      }).then(async (res) => {
         const text = JSON.parse(await res.text())
         if (text.message == "error") alerta(5)
         else alerta(1)
      }).then(async (res) => {
         renderContent()
      })
   }
   const showContent = (id) => {
      const content = document.getElementById(`contentPage${id}`)
      selectedId = id
      if (content.innerHTML.trim()) {
         content.classList.add("card-list-item-close")
         content.style.display = "flex"
         content.innerHTML = ""
         return
      }
      editmode = true
      closeAllPages(id)
      document.querySelector("main.card-body").classList.add("is-loading")
      fetch("{% url 'previewLeccion'%}", {
         ...fetchObject,
         body: JSON.stringify({
            method: "Find",
            id
         })
      }).then(async (res) => {
         content.innerHTML = await res.text()
         content.style.display = "block"
         content.classList.remove("card-list-item-close")
      }).then(() => {
         document.querySelector("main.card-body").classList.remove("is-loading")
      })
   }
   const openCreatePage = (id) => {
      const content = document.getElementById(`contentPage${id}`)
      const createBtn = document.getElementById(`openCreateBtn${id}`)
      selectedId = id
      if (content.innerHTML.trim()) {
         content.classList.add("card-list-item-close")
         content.innerHTML = ""
         createBtn.innerHTML = `<i class="fas fa-plus"></i>`
         return
      }
      editmode = true
      closeAllPages(id)
      document.querySelector("main.card-body").classList.add("is-loading")
      fetch("{% url 'modalAddPagina'%}", {
         ...fetchObject,
         body: JSON.stringify({
            method: "Find",
            id
         })
      }).then(async (res) => {
         content.innerHTML = await res.text()
         setupSummernote(id)
         content.classList.remove("card-list-item-close")
         createBtn.innerHTML = `<i class="fas fa-minus"></i>`
      }).then(() => {
         document.querySelector("main.card-body").classList.remove("is-loading")
         const formPagina = document.getElementById("formPagina")
         setFormEvents(id)
      })
   }
   const openEditPage = (id) => {
      const content = document.getElementById(`contentPage${id}`)
      const editBtn = document.getElementById(`openEditBtn${id}`)
      recursosArray = []
      selectedId = id
      if (content.innerHTML.trim()) {
         content.classList.add("card-list-item-close")
         content.innerHTML = ""
         editBtn.innerHTML = `<i class="fas fa-edit"></i>`
         return
      }
      editmode = true
      closeAllPages(id)
      document.querySelector("main.card-body").classList.add("is-loading")
      fetch("{% url 'modalAddPagina'%}", {
         ...fetchObject,
         body: JSON.stringify({
            method: "Find",
            id
         })
      }).then(async (res) => {
         content.innerHTML = await res.text()
         setupSummernote(id)
         updateRecursosArray()
         content.classList.remove("card-list-item-close")
         editBtn.innerHTML = `<i class="fas fa-minus"></i>`
      }).then(() => {
         document.querySelector("main.card-body").classList.remove("is-loading")
         setFormEvents(id)
      })
   }
   const openDeletePage = async (id) => {
      const elimino = await alerta(3)
      if (elimino) {
         fetch("{% url 'createLessons'%}", {
            ...fetchObject,
            body: JSON.stringify({
               method: "Delete",
               id
            })
         })
            .then(async (res) => {
               const text = JSON.parse(await res.text())
               if (text.message == "error") alerta(5)
               else alerta(4)
            })
            .then(() => {
               renderContent()
            })
      }
   }
   const searchFor = (text) => {
      let output = text.trim()
      if (output.length > 20) return
      query = output
      renderContent()
   }

   const searchBar = document.querySelector('#txtSearch')
   const clearBtn = document.querySelector('#clearBtn')
   const searchBtn = document.querySelector('#searchBtn')
   const sortableBtn = document.querySelector('#sortableBtn')

   sortableBtn.addEventListener('click', () => {
      sortable = !sortable
      const listaPaginas = document.getElementById("listaPaginas")
      if (sortable) {
         sortableBtn.innerHTML = `<i class="fas fa-lock-open mr-1"></i> Sort`
         for (let item of listaPaginas.children) {
            item.children[0].classList.add("card-list-item-sortable")
         }
         new Sortable(listaPaginas, {
            animation: 150,
            ghostClass: 'blue-background-class'
         });
         return
      }
      sortableBtn.innerHTML = `<i class="fas fa-lock mr-1"></i> Sort`
      for (let item of listaPaginas.children) {
         item.children[0].classList.remove("card-list-item-sortable")
      }
      renderSortedContent()
   })
   clearBtn.addEventListener('click', () => {
      searchBar.value = ""
      query = ""
      searchFor("")
   })
   searchBtn.addEventListener('click', () => {
      searchFor(searchBar.value)
   })
   searchBar.addEventListener('keypress', (e) => {
      if (e.key === 'Enter') {
         searchFor(searchBar.value)
      }
   });
</script>
{% endblock javascripts %}
