{% extends "layouts/base.html" %}
{% load static %}

{% block title %}{% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}
{% load Filter %}

{% block content %}
    <div class="content">
        <div class="page-inner animated fadeInRight">
            <div class="page-header">
                <h4 class="page-title">Create questions </h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="{% url 'home' %}">
                           <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                       <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                       <span>Academic</span>
                    </li>
                    <li class="separator">
                       <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                       <a href="#">Questions</a>
                    </li>
                </ul>
            </div>
            <div class="page-category">         
                <form action="">
                    <div class="form-row d-flex justify-content-center">
                        <div class="card mt-3" style="width: 80rem;" >
                            <div class="card-header">
                                <div class="form-row">
                                    <div class="form-group col-md-6 d-flex justify-content-start">
                                        <h2>{{pregunta.fk_estructura_programa.descripcion}}</h2>
                                    </div>
                                    
                                    <div class="form-group col-md-6 d-flex justify-content-end">
                                        <span id="sortableBtn" class="btn btn-success">
                                            <i class="fas fa-lock mr-1"></i>
                                            Sort
                                         </span>

                                         &nbsp;
                                         &nbsp;
                                         &nbsp;
                                        <button type="button" class="btn btn-success" onclick="openAddInstructions()">
                                            Instructions<i class="fas fa-tasks ml-1"></i>
                                        </button>
                                        &nbsp;
                                        &nbsp;
                                        &nbsp;

                                        <button type="button" class="btn btn-success" onclick="openAddModalQuestion()">
                                            Add question <i class="fas fa-plus ml-1"></i>
                                        </button>
                                    </div>
                                </div>   
                                <div class="form-row">
                                    <div class="form-group col-md-6 d-flex justify-content-center">
                                        <h2>Max Point: {{escalaEvaluacion.maxima_puntuacion}}</h2>
                                    </div>
                                    <div class="form-group col-md-6 d-flex justify-content-center">
                                        <h2>Point in Use: {{pregunta.pointUse}}</h2>
                                    </div>
                                </div>                                    
                            </div>
                            <div class="card-body" id="tabQuestions">
                                <div class="form-row text-center">
                                    <div class="form-group col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-borderless table-striped table-hover text-center table-component-like ">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            N°
                                                        </th>
                                                        <th>
                                                           Question title
                                                        </th>
                                                        <th>
                                                           Question points
                                                        </th>
                                                        <th>
                                                            Type
                                                        </th>
                                                    
                                                        <th>
                                                            Actions
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody  id="tableContent">
                                                {% for pregunta in listaPreguntas %}
                                                <tr id="itemPregunta{{pregunta.pk}}" >
                                                    <td>
                                                        {{pregunta.orden}}
                                                    </td>
    
    
                                                <td>
                                                    {{pregunta.titulo_pregunta}}
                                                </td>
                                                <td>
                                                    {{pregunta.puntos_pregunta}}
                                                </td>
                                               
    
                                                <td>
                                                    {{pregunta.fk_tipo_pregunta_evaluacion|tipoPregunta}}
                                                </td>
                                                <td>
                                                    <div class="btn-group" role="group">
                                                 
                                                       <button onclick="openEditModal('{{pregunta.pk}}',{{pregunta.fk_tipo_pregunta_evaluacion}} )" type="button" class="btn btn-icon btn-sm btn-info ml-1" data-toggle="tooltip"  data-placement="top" title="Edit">
                                                          <i class="fas fa-edit"></i>
                                                       </button>
                                                    
                                                  
                                                       <button onclick="openDeleteModal('{{pregunta.pk}}' ,{{pregunta.fk_tipo_pregunta_evaluacion}} )" type="button" class="btn btn-icon btn-sm btn-danger ml-1" data-toggle="modal"
                                                          data-target="#newModal">
                                                          <i class="fas fa-trash-alt"></i>
                                                       </button>
                                                     
                                                  
                                                    </div>
                                                 </td>
    
                                                </tr>
                                                {% endfor %}
                                                
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                      {% comment %}
                                <div class="d-flex justify-content-end p-3">     
                                    <nav aria-label="...">
                                        <ul class="pagination mb-0  justify-content-end">
                                            <li class="page-item">
                                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                                            </li>
                                            <li class="page-item active">
                                                <a class="page-link" href="#">1</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">2</a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">Next</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>    


                                {% endcomment %}            
                            </div>
                            <div class="card-footer d-flex justify-content-end">
                            </div>
                        </div>           
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Modals-->
    
    <!-- Modal escoger tipo de pregunta -->
    <div class="modal fade" tabindex="-1" role="dialog" id="chooseTypeQuestion">
        <div class="modal-dialog modal-dialog-centered" role="document" id="modalChooseQuestion">
        
            
        </div>
    </div>

    <!-- Modal mostrar pregunta -->
    <div class="modal fade" tabindex="-1" role="dialog" id="addNewQuestion">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document" id="modalQuestion">
        
            
        </div>
    </div>

      <!-- Modal Instrucciones -->
      <div class="modal fade" tabindex="-1" role="dialog" id="addInstrucciones">
        <div class="modal-dialog modal-lg " role="document" id="addInstruccionesContent">
        
            
        </div>
    </div>


{% endblock content %}

{% block javascripts %}

    <script>

        // Variables
        let fatherId={{bloque.idevaluaciones_bloques}}
        let tablaPreguntas = []
        let respuesta=null
        let tablaCuerpo = document.getElementById("tableContent")
        let tipoPreguntaSelected=null
        let MaxPoint= {{escalaEvaluacion.maxima_puntuacion}}
        let PointinUse= {{pregunta.pointUse}}
        let indiceRespuesta= 0
        let indicePalabra=0
        let editModePoints=0
        let selectedId=null
        let editmode = false
        let ActivityId={{pregunta.idactividad_evaluaciones}}
        let numExamenes={{listaExamenes}}
        let sortable = false
        let ordenamientoArray = []
        let sortableList = {}

        const sortableBtn = document.querySelector('#sortableBtn')

sortableBtn.addEventListener('click', () => {
sortable = !sortable
const listaPaginas = document.getElementById("tableContent")
console.log(listaPaginas)
if (sortable) {
 sortableBtn.innerHTML = `<i class="fas fa-lock-open mr-1"></i> Sort`
 for (let item of listaPaginas.children) {
    //item.classList.add("card-list-item-sortable")
 }
 new Sortable(listaPaginas, {
    animation: 150,
    ghostClass: 'blue-background-class'
 });
 return
}
sortableBtn.innerHTML = `<i class="fas fa-lock mr-1"></i> Sort`
for (let item of listaPaginas.children) {
 //item.children[0].classList.remove("card-list-item-sortable")
}
renderSortedContent()
})

const renderSortedContent = () => {
      updateOrder()
      
     // document.querySelector("main.card-body").classList.add("is-loading")
      fetch("{% url 'sortPreguntas'%}", {
         ...fetchObject,
         body: JSON.stringify({
          data:{
            method: "Sort",
            order: ordenamientoArray
          }
           
         })
      })
      .then(async (res) => {
          alertaMensajitos(1,'Done!', 'Changes Saved')
          reload()
        // renderContent()
      })
   }

   const updateOrder = () => {
      let paginas = listaPaginas = document.getElementById("tableContent").children
      ordenamientoArray = []
      paginas.forEach((pagina, index) => {
         let orderObj = {
            pk: pagina.id.slice(12),
            order: index + 1
         }
         ordenamientoArray.push(orderObj)
      })
      console.log(ordenamientoArray)
   }


  
       


   

    function borrarItemSimple(id) {
        tablaPreguntas.splice(id, 1)

        if(tipoPreguntaSelected==1)
        actualizarListaSimple()
        if(tipoPreguntaSelected==2)
        actualizarListaMultiple()
        if(tipoPreguntaSelected==3)
        actualizarListaCompletations()
        if(tipoPreguntaSelected==4)
        actualizarListaAssociation()
        if(tipoPreguntaSelected==5)
        actualizarListaTF()
    }

    function respuestaCorrecta(radio){
            respuesta=radio.value
            for(const item of tablaPreguntas){
                item.isCorrect=false
            }
            tablaPreguntas[radio.value].isCorrect=true
          //  alert(radio.value)

        }
    

        const chooseModal = async (type) => {
            if(numExamenes>0){
                alertaMensajitos(5,'This Test can not be modified', 'This test has been already been taken by users')
                return;
            }
            
           $("#chooseTypeQuestion").modal("hide")
           await renderModalQuestions()
           let url
           if (type == "simple") {
              url = "{% url 'modalNewSimple' %}"
              tipoPreguntaSelected=1
           }
           if (type == "multiple") {
              url = "{% url 'modalNewMultiple' %}"
              tipoPreguntaSelected=2

           }
           if (type == "completion") {
              url = "{% url 'modalNewCompletion' %}"
              tipoPreguntaSelected=3

           }
           if (type == "association") {
              url = "{% url 'modalNewAssociation' %}"
              tipoPreguntaSelected=4

           }
           if (type == "tof") {
              url = "{% url 'modalNewTof' %}"
              tipoPreguntaSelected=5

           }
           await renderModalNewQuestion(url)
        }

        const openAddModalQuestion = () => {
            limpiarModalOpciones()
            renderModalTypeQuestion().then(()=>{
               editmode = false
               $("#chooseTypeQuestion").modal("show")
            })
        }    

       // Guardar
   
        async function clickSave (url)  {
            if(numExamenes>0){
                alertaMensajitos(5,'This Test can not be modified', 'This test has been already been taken by users')
                return;
            }

            
            const questionText= document.getElementById("questionText")
            const questionTittle= document.getElementById("questionTittle")

            const questionPoints= document.getElementById("questionPoints")
            

            if(isEmpty(questionPoints.value) || isEmpty(questionText.value) || isEmpty(questionTittle.value)){
                alertaMensajitos(5,'There are empty filds', 'You can not save a questions with empty filds')
                return;
            }

            if(tablaPreguntas.length<=0){
                alertaMensajitos(5,'There are no any options', 'You can not save a questions with no options')
                return;
            }

            if(questionPoints.value<=0){
                alertaMensajitos(5,'Invalid value', 'The questions points can not be negative or 0')
                return;
            }

           
       

            
                if(editmode==false){
                    if(MaxPoint-PointinUse<questionPoints.value){
                alertaMensajitos(5,'Invalid value', 'The questions points exceed the total points available');
                return;
                    }

            }
            else{
                console.log('aqui')
                console.log(editModePoints)
                console.log(MaxPoint-PointinUse+editModePoints)
               todal=Number(MaxPoint)+Number(editModePoints)-Number(PointinUse)
               console.log(todal)


                if(todal<questionPoints.value){
                alertaMensajitos(5,'Invalid value', 'The questions points exceed the total points available');
                return;
                    }



            }

            error= await verificaOpciones();  
               if(error)   {
                   return;
               }     

            
            
            if(tipoPreguntaSelected==1){
                   var select2=document.querySelector('input[name="listaSimpleRadio"]:checked').value
               }

             
               const metodo=editmode?'Update':'Create'
              
            form = {
               textoPregunta: questionText.value,
               tituloPregunta:questionTittle.value,
               puntosPregunta: questionPoints.value,
               //tipoPregunta: typeQuestion.value,
               tipoPregunta:tipoPreguntaSelected,
               seleccionada: respuestaCorrecta,
               indiceRespuesta:indicePalabra,
               select2:select2,
               fatherId:fatherId,
               method:metodo,
               hijos: tablaPreguntas,

            

            
            }
            if (editmode) {
                updateQuestion(form, selectedId, url)
            }
            else {
                createQuestion(form,url)
            }            
     
        }
           

        const updateQuestion = (form, idViejo, url) => {
        fetch(url, {
            ...fetchObject,
            body: JSON.stringify({
                data: {
                    ...form,
                    idViejo
                }
            }),
        })
            .then(async (res) => {
                let result = JSON.parse(await res.text())
                if (result.message === "Error") {
                    alerta(5)
                }
                alerta(2)
                reload()

            })
            .then(() => {
               // renderTable()
               form=null
               tablaPreguntas=[]
                $("#addNewQuestion").modal("hide");
            })
    }
        const createQuestion = (form,url) => {
            fetch(url, {
                ...fetchObject,
                body: JSON.stringify({
                   data: form
                }),
            })
            .then(async (res) => {
                let result = JSON.parse(await res.text())
                if (result.message === "Error") {
                   alerta(5)
                }
                alerta(1)
                reload()
            })
            .then(() => {
               form=null
               tablaPreguntas=[]
                $("#addNewQuestion").modal("hide");
            })
        }

        //Instrucciones

        const openAddInstructions = () => {
  
  renderModalAddInstructions().then(()=>{
  
     $("#addInstrucciones").modal("show")
  })
}    

        
      async function clickSaveInstructions  (url)  {

                const texto_instrucciones= document.getElementById("instruccionesText")
                const metodo='Add'
                
                form = {
                texto: texto_instrucciones.value,
                ActivityId:ActivityId,
                method:metodo,

                }
                fetch(url, {
                        ...fetchObject,
                        body: JSON.stringify({
                            data: form
                        }),
                    })
                    .then(async (res) => {
                        let result = JSON.parse(await res.text())
                        if (result.message === "Error") {
                            alerta(5);
                        }
                        alerta(1);
                        reload();
                    })
                    .then(() => {
                        form=null
                    
                        $("#addInstrucciones").modal("hide")
                        reload()
                    })

                }

  async function deleteInstructions  ()  {

                const elimino = await alerta(3)

                if (!elimino) {

                    return;
                }


                const metodo='delete'
                form = {

                ActivityId:ActivityId,
                method:metodo,

                }
                fetch("{% url 'getModalAddInstructions' %}", {
                ...fetchObject,
                body: JSON.stringify({
                    data: form
                }),
                })
                .then(async (res) => {
                let result = JSON.parse(await res.text())
                if (result.message === "Error") {
                    alerta(5);
                }
                alerta(4);
                reload();
                })
                .then(() => {
                form=null

                $("#addInstrucciones").modal("hide")
                reload()
                })

                }
        
    const renderModalAddInstructions = () => {
            let idTest=ActivityId
           return fetch("{% url 'getModalAddInstructions' %}", {
               ...fetchObject,
               body: JSON.stringify({
            data: {
                   
                   method:'Show',
                   idTest
               }
           })
           })
           .then(async (res) => {
               document.getElementById("addInstruccionesContent").innerHTML = await res.text()
           }).then(()=>{
               const formIns = document.getElementById("formInstructions")
               formIns.addEventListener("submit", (e) => {
                   e.preventDefault()
                   clickSaveInstructions("{% url 'getModalAddInstructions' %}")
               })   
           })
       }   


        // Renderizar  

        const renderModalTypeQuestion = () => {
            limpiarModalOpciones()
            return fetch("{% url 'modalTypeQuestion' %}", {
                ...fetchObject
            })
            .then(async (res) => {
                document.getElementById("modalChooseQuestion").innerHTML = await res.text()
            }).then(()=>{
                         
            })
        }   

        const renderModalQuestions = () => {
            return fetch("{% url 'modalAddQuestion' %}", {
                ...fetchObject
            })
            .then(async (res) => {
                document.getElementById("modalQuestion").innerHTML = await res.text()
            })  .then(() => {
            $("#addNewQuestion").modal("show")
            const formQuestion = document.getElementById("formQuestion")
           
         })
        }   

        const openDeleteModal = async (id, type) => {
            if(numExamenes>0){
                alertaMensajitos(5,'This Test can not be modified', 'This test has been already been taken by users')
                return;
            }
        const elimino = await alerta(3)
        console.log(type)
        if (elimino) {

            let urlDelete=''
          if (type == 1 ){
            urlDelete = "{% url 'modalNewSimple' %}"
              tipoPreguntaSelected=1
           }
           if (type == 2) {
            urlDelete = "{% url 'modalNewMultiple' %}"
              tipoPreguntaSelected=2

           }
           if (type == 3) {
            urlDelete = "{% url 'modalNewCompletion' %}"
              tipoPreguntaSelected=3

           }
           if (type == 4) {
            urlDelete = "{% url 'modalNewAssociation' %}"
              tipoPreguntaSelected=4

           }
           if (type == 5) {
            urlDelete = "{% url 'modalNewTof' %}"
              tipoPreguntaSelected=5

           }
            const res = await matarPregunta(id, urlDelete)
            if (res) {
                alerta(4)
                reload()
            }
            else {
                alerta(5)
            }
        }
    }

    const matarPregunta = (id, url) => {
        

        return fetch(url, {
            ...fetchObject,
            body: JSON.stringify({
                data: {
                    delete: true,
                    id
                }
            }),
        })
            .then(async (res) => {
                let result = JSON.parse(await res.text())
                if (result.message === "Error") {
                    return false
                }
                return true
            })
            .then((result) => {
               // renderTable()
                return result
            })
    }


        // Actualizar

        const openEditModal = (id, type) => {
        selectedId = id
        let url
           if (type == 1 ){
              url = "{% url 'modalNewSimple' %}"
              tipoPreguntaSelected=1
           }
           if (type == 2) {
              url = "{% url 'modalNewMultiple' %}"
              tipoPreguntaSelected=2

           }
           if (type == 3) {
              url = "{% url 'modalNewCompletion' %}"
              tipoPreguntaSelected=3

           }
           if (type == 4) {
              url = "{% url 'modalNewAssociation' %}"
              tipoPreguntaSelected=4

           }
           if (type == 5) {
              url = "{% url 'modalNewTof' %}"
              tipoPreguntaSelected=5

           }
        fetch(url, {
            ...fetchObject,
            body: JSON.stringify({
                data: {
                    idFind: id
                }
            }),
        })
            .then(async (res) => {
                await renderModalQuestions()
                await renderModalNewQuestion (url) 


               limpiarModalOpciones()
                let PreguntaDatos = JSON.parse(await res.text())
                
                document.getElementById("questionText").value=PreguntaDatos.data.texto_pregunta
                document.getElementById("questionTittle").value=PreguntaDatos.data.titulo_pregunta

                 document.getElementById("questionPoints").value=PreguntaDatos.data.puntos_pregunta
                 editModePoints=PreguntaDatos.data.puntos_pregunta
                

                let listaLoca = PreguntaDatos.childs
                console.log(listaLoca)
                if(listaLoca){
                    if (type==1){

                    
                    listaLoca.map((el)=>{
                     
                        

                        let datos = {
                            isCorrect:el.respuetaCorrecta,
                            id: el.idLista,
                            OpcionText: el.texto_opcion,
                            actions: `
                            <div class="btn-group" role="group">
                                <button onclick="borrarItem(${tablaPreguntas.length})" type="button" class="btn btn-icon btn-sm btn-danger ml-1" data-toggle="tooltip"  data-placement="top" title="Delete" >
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>`
                        }
                        tablaPreguntas.push(datos)
                        console.log(datos)

                    })

                    actualizarListaSimple()

                }

                if (type==2){

                                                
                            listaLoca.map((el)=>{
                            
                                

                                let datos = {
                                    value:el.puntos_porc,
                                    id: el.idLista,
                                    OpcionText: el.texto_opcion,
                                    actions: `
                                    <div class="btn-group" role="group">
                                        <button onclick="borrarItem(${tablaPreguntas.length})" type="button" class="btn btn-icon btn-sm btn-danger ml-1" data-toggle="tooltip"  data-placement="top" title="Delete" >
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </div>`
                                }
                                tablaPreguntas.push(datos)
                                console.log(datos)

                            })

                            actualizarListaMultiple()

                            }

                            if (type==3){
                                                                                
                                listaLoca.map((el)=>{

                                    if (el.respuetaCorrecta==true){



                                    indiceRespuesta=el.idLista
                                    indicePalabra=PreguntaDatos.data.indicePalabra
                                   

                                   
                                    }

                                    let datos = {
                                        isCorrect:el.respuetaCorrecta,
                                        id: el.idLista,
                                        OpcionText: el.texto_opcion,
                                        actions: `
                                        <div class="btn-group" role="group">
                                            <button onclick="borrarItem(${tablaPreguntas.length})" type="button" class="btn btn-icon btn-sm btn-danger ml-1" data-toggle="tooltip"  data-placement="top" title="Delete" >
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </div>`
                                    }
                                    tablaPreguntas.push(datos)
                                    console.log(datos)

                                })

                                actualizarListaCompletations()
                                 reDraw(document.getElementById("questionText"))


                                }
                

                           if (type==4){

                             let listaLocaA = PreguntaDatos.childsA
                             let listaLocaB = PreguntaDatos.childsB



                                                
                            listaLocaA.map((el)=>{
                            
                                

                                let datos = {
                                    value:el.puntos_porc,
                                    id: el.indiceAsociacion,
                                    OpcionTextA: el.texto_opcion,
                                    OpcionTextB: listaLocaB[el.indiceAsociacion].texto_opcion,

                                    actions: `
                                    <div class="btn-group" role="group">
                                        <button onclick="borrarItem(${tablaPreguntas.length})" type="button" class="btn btn-icon btn-sm btn-danger ml-1" data-toggle="tooltip"  data-placement="top" title="Delete" >
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </div>`
                                }
                                tablaPreguntas.push(datos)
                                console.log(datos)

                            })

                            actualizarListaAssociation()

                            }

                            if (type==5){

                           
                                                
                                listaLoca.map((el)=>{

                                

                                let datos = {
                                    value:el.puntos_porc,
                                    id: el.indiceAsociacion,
                                    OpcionText: el.texto_opcion,
                                    trueFalse:el.respuetaCorrecta==true?1:0,
                                   

                                    actions: `
                                    <div class="btn-group" role="group">
                                        <button onclick="borrarItem(${tablaPreguntas.length})" type="button" class="btn btn-icon btn-sm btn-danger ml-1" data-toggle="tooltip"  data-placement="top" title="Delete" >
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </div>`
                                }
                                tablaPreguntas.push(datos)
                                console.log(datos)

                                })

                                actualizarListaTF()

}

                }
                

                editmode = true
            })
            .then(() => {
                //$("#addNewScaleGe").modal("show")

                if (tipoPreguntaSelected==3){
                    console.log(indicePalabra)

                                    
                    document.getElementById(`wordSelected`).innerHTML=document.getElementById(`${indicePalabra}word`).innerHTML

                    document.getElementById(`${indicePalabra}word`).style.color="blue"
                }
            })
    }


        const renderModalNewQuestion = (url) => {
        return fetch(url, {
            ...fetchObject,
            body: JSON.stringify({
             data: {
                    
                    method:'Show'
                }
            })
        })
        .then(async (res) => {
            document.getElementById("seccionDetallada").innerHTML = await res.text()
        })
        .then(() => {
           //  const formActividad = document.getElementById("formQuestion")
             const formQuestion = document.getElementById("addNewQuestion")
                formQuestion.addEventListener("submit", (e) => {
                    e.preventDefault()
                    clickSave(url)
                })   
                 
                const questionText = document.getElementById("questionText")
                   console.log(questionText)
                   CargarModalOpciones()    

             
             
            
         })
        }    

        function limpiarModalOpciones(){
             tablaPreguntas=[]
             respuesta=null
             indicePalabra=null
             indiceRespuesta= null
             indicePalabra=null
             editmode = false

        }

   const renderComponentTabla = async (name) => {
            return await fetch("{% url 'component_tabla'%}",
                {
                    headers: {
                        'Accept': 'application/json',
                        'X-Requested-With': 'XMLHttpRequest',
                        "X-CSRFToken": getCookie('csrftoken')
                    },
                    mode: 'same-origin',
                    method: 'POST',
                    body: JSON.stringify({
                        data: {
                            name: name,
                        }
                    }),
                })
                .then(async (res) => {
                    result = await res.text()
                    if (result[0] != '<') {
                        console.log(result)
                        result = "<h3 class='display-4'>There are no items</h3>"
                    }
                    return result
                })
        }
        
const renderTable = async() => {
            const result = await renderComponentTabla("tablaPreguntas")
                const contenedor = document.getElementById("renderContainer")
                contenedor.innerHTML = result
        }
      //  renderTable()
     

     function reload(){

        location.reload()

     }

    function CargarModalOpciones(){

        
              
            if(tipoPreguntaSelected==1){

            $("#addRow").click(function () {
                event.preventDefault()



                for(const element of tablaPreguntas ){

                    if(element.OpcionText==document.getElementById("optionText").value){

                    alertaMensajitos(5,'Invalid description',"There is already a question with the same text")
                    return

                    }


                }
            

                let datos = {
                    OpcionText: document.getElementById("optionText").value,
                    isCorrect:false,
                    id:tablaPreguntas.length,
                    actions: `
                    <div class="btn-group" role="group">
                        <button onclick="borrarItem(${tablaPreguntas.length})" type="button" class="btn btn-icon btn-sm btn-danger ml-1" data-toggle="tooltip"  data-placement="top" title="Delete" >
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>`
                }

                tablaPreguntas.push(datos)
            
                actualizarListaSimple()

            })

            }

            if(tipoPreguntaSelected==2){

            $("#addRow").click(function () {
                event.preventDefault()



                for(const element of tablaPreguntas ){

                    if(element.OpcionText==document.getElementById("optionText").value){

                    alertaMensajitos(5,'Invalid description',"There is already a question with the same text")
                    return

                    }


                }
            

                let datos = {
                    OpcionText: document.getElementById("optionText").value,
                    id:tablaPreguntas.length,
                    value:0,
                    
                    actions: `
                    <div class="btn-group" role="group">
                        <button onclick="borrarItem(${tablaPreguntas.length})" type="button" class="btn btn-icon btn-sm btn-danger ml-1" data-toggle="tooltip"  data-placement="top" title="Delete" >
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>`
                }

                tablaPreguntas.push(datos)
            
                actualizarListaMultiple()

            })

            }
            if(tipoPreguntaSelected==3){

            $("#addRow").click(function () {
                event.preventDefault()



                for(const element of tablaPreguntas ){

                    if(element.OpcionText==document.getElementById("optionText").value){

                    alertaMensajitos(5,'Invalid description',"There is already a question with the same text")
                    return

                    }


                }
            

                let datos = {
                    OpcionText: document.getElementById("optionText").value,
                    id:tablaPreguntas.length,
                    isCorrect:0,
                    
                    actions: `
                    <div class="btn-group" role="group">
                        <button onclick="borrarItem(${tablaPreguntas.length})" type="button" class="btn btn-icon btn-sm btn-danger ml-1" data-toggle="tooltip"  data-placement="top" title="Delete" >
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>`
                }

                tablaPreguntas.push(datos)
            
                actualizarListaCompletations()

            })

            }
            if(tipoPreguntaSelected==4){

            $("#addRow").click(function () {
                event.preventDefault()


                if(document.getElementById("optionTextA").value.trim()=='' || document.getElementById("optionTextB").value.trim()==''){

                    alertaMensajitos(5,'Invalid description',"The description can not be empty")
                    return

                    }


                for(const element of tablaPreguntas ){

                    if(element.OpcionTextA==document.getElementById("optionTextA").value){

                    alertaMensajitos(5,'Invalid description',"There is already a question with the same text")
                    return

                    }
                    if(element.OpcionTextB==document.getElementById("optionTextB").value){

                    alertaMensajitos(5,'Invalid description',"There is already a question with the same text")
                    return

                    }


                }


                let datos = {
                    OpcionTextA: document.getElementById("optionTextA").value,
                    OpcionTextB: document.getElementById("optionTextB").value,

                    id:tablaPreguntas.length,
                    value:0,
                    
                    actions: `
                    <div class="btn-group" role="group">
                        <button onclick="borrarItem(${tablaPreguntas.length})" type="button" class="btn btn-icon btn-sm btn-danger ml-1" data-toggle="tooltip"  data-placement="top" title="Delete" >
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>`
                }

                tablaPreguntas.push(datos)

                actualizarListaAssociation()

            })

            }

            if(tipoPreguntaSelected==5){

            $("#addRow").click(function () {
                event.preventDefault()



                for(const element of tablaPreguntas ){

                    if(element.OpcionText==document.getElementById("optionText").value){

                    alertaMensajitos(5,'Invalid description',"There is already a question with the same text")
                    return

                    }


                }
            

                let datos = {
                    OpcionText: document.getElementById("optionText").value,
                    id:tablaPreguntas.length,
                    value:0,
                    trueFalse:1,
                    
                    actions: `
                    <div class="btn-group" role="group">
                        <button onclick="borrarItem(${tablaPreguntas.length})" type="button" class="btn btn-icon btn-sm btn-danger ml-1" data-toggle="tooltip"  data-placement="top" title="Delete" >
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>`
                }

                tablaPreguntas.push(datos)
            
                actualizarListaTF()

            })

            }

    }

   </script>
<!--Reparticiones-->
<script>

function Repartir(){
    console.log(22)

if(!document.getElementById("questionPoints") || document.getElementById("questionPoints")<=0 ){
    alertaMensajitos(5,'Invalid Value', 'The current point can not be divided')
    return;
}
let dividido=document.getElementById("questionPoints").value/tablaPreguntas.length
console.log(document.getElementById("questionPoints"))
console.log(tablaPreguntas.length)

console.log(dividido)

for (const item of tablaPreguntas){

console.log(item)

item.value=dividido


}


if(tipoPreguntaSelected==1)
        actualizarListaSimple()
        if(tipoPreguntaSelected==2)
        actualizarListaMultiple()
        if(tipoPreguntaSelected==3)
        actualizarListaCompletations()
        if(tipoPreguntaSelected==4)
        actualizarListaAssociation()
        if(tipoPreguntaSelected==5)
        actualizarListaTF()

}
</script>



<!--Metodos-->

   <script>

       async function verificaOpciones(){
           console.log('sss');
           let HayCorrectos=false;
           let totalValue=0;

        for(const element of tablaPreguntas ){
           console.log(element);

            if(tipoPreguntaSelected==1 || tipoPreguntaSelected==3 ){
                if(element.isCorrect==true){
                    HayCorrectos=true;
                }


            }
            if(tipoPreguntaSelected==2 || tipoPreguntaSelected==4 ||   tipoPreguntaSelected==5  )
            {
                if(element.value<0){
                    alertaMensajitos(5,'Invalid Option','An option value can not be less than 0');
                    return true;


                }
                totalValue=Number(totalValue)+Number(element.value);


            }
          
        }

        if(totalValue>document.getElementById("questionPoints").value){
                    alertaMensajitos(5,'Invalid Options Value','The options total value can not surpass the question max points');
                    return true;


                }
                if(tipoPreguntaSelected==1 || tipoPreguntaSelected==3 ){
                if(!HayCorrectos){
                    alertaMensajitos(5,'Invalid Options ','The options do not have any marked as correct');
                    return true;


                }
            }

       }


       function isEmpty(str) {
    return (!str || str.trim().length === 0 );
}
function isEmptyOrSpaces(str){
    return str === null || str.match(/^ *$/) !== null;
}

 function questionTextChange(text) {
     if(tipoPreguntaSelected!=3){

    return;
     }

     
    
        tablaPreguntas.forEach(function(item, index, object) {
         if(item.isCorrect==1){
             console.log(item);

              object.splice(index, 1);
             }
            });


        actualizarListaCompletations();


     const selection = document.getElementById('wordSelect');
     wordArray=text.value.split(' ');
     contenido='';
     counter=0

        for(const element of wordArray ){

           
            contenido=contenido+` <button class='btn btn-primary' id='${counter}word' onclick='addOpcion(${counter}, "${element}")' type="button">${element}</button> `

            counter++;
        }
     selection.innerHTML=contenido;
     document.getElementById(`wordSelected`).innerHTML='';


 }

 function reDraw(text){
   if(tipoPreguntaSelected!=3){

    return;
     }


     const selection = document.getElementById('wordSelect');
     wordArray=text.value.split(' ');
     contenido='';
     counter=0

        for(const element of wordArray ){

            contenido=contenido+` <button class='btn btn-primary' id='${counter}word' onclick='addOpcion(${counter}, "${element}")' type="button">${element}</button> `

            counter++;
        }
     selection.innerHTML=contenido;

 }

 function addOpcion(text, element) {
     if(element=='' || element==" "){
         alertaMensajitos(5,'Invalid Option','You can not select a empty option');
         return;
     }

     if(tablaPreguntas.length>0){
         if(indiceRespuesta){

         if(tablaPreguntas[indiceRespuesta].isCorrect==1)
         {
        tablaPreguntas.splice(indiceRespuesta, 1);
     
         }

        }
        
     }
            let datos = {
                        OpcionText: element,
                         id:tablaPreguntas.length,
                         isCorrect:1,
                         
                        actions: `
                        <div class="btn-group" role="group">
                          
                        </div>`
                    }

                    tablaPreguntas.push(datos);
                   
                    actualizarListaCompletations();
     indiceRespuesta=datos.id;
     indicePalabra=text;
     console.log((document.getElementById(`questionText`).value));

    
     reDraw(document.getElementById(`questionText`));
     document.getElementById(`wordSelected`).innerHTML=element;

    

     document.getElementById(`${text}word`).style.color="blue";
     

 }


 function actualizarValue(id, number) {


         tablaPreguntas[id].value=number.value;
         console.log( tablaPreguntas[id]);
     }

      function tfChange(id, tf) {


         tablaPreguntas[id].trueFalse=tf.value;
         console.log( tablaPreguntas[id]);
     }
   
       

     function actualizarListaAssociation() {
        tableContentAssociation.innerHTML = "";
        let contenido = "";

     


        tablaPreguntas.map((dato, index) => {
            let fila =
                `<tr>
                        <td>${dato.OpcionTextA}</td>
                        <td>   <----></td>
                        <td>${dato.OpcionTextB}</td>
                        <td>   </td>

                        <td>
                            <div class="btn-group" role="group">
                                <input type='number'  value='${dato.value}' onchange="actualizarValue(${index},this)"   >
                            </div>
                        </td>
                        
                
                        <td>
                            <div class="btn-group" role="group">
                                <button onclick="borrarItemSimple(${index})" type="button" class="btn btn-icon btn-sm btn-danger ml-1" data-toggle="tooltip"  data-placement="top" title="Delete" >
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                        </td>
                    </tr>`
            contenido += fila;
        })
        tableContentAssociation.innerHTML = contenido;
    }



     function actualizarListaSimple() {
            tableContentSimple.innerHTML = "";
        let contenido = "";

     


        tablaPreguntas.map((dato, index) => {
            let checked=dato.isCorrect? 'checked':''
            console.log(dato)
            let fila =
                `<tr>
                    <td>
                        ${dato.OpcionText}
                    </td>
                        
                    <td>
                        <div class="btn-group" role="group">
                            <input type='radio' name='listaSimpleRadio' ${checked} value='${index}'  onchange="respuestaCorrecta(this)"  >
                        </div>
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <button onclick="borrarItemSimple(${index})" type="button" class="btn btn-icon btn-sm btn-danger ml-1" data-toggle="tooltip"  data-placement="top" title="Delete" >
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </div>
                    </td>              
                </tr>`
            contenido += fila;
        })
        tableContentSimple.innerHTML = contenido;
    }


     function actualizarListaCompletations() {
            tableContentCompletations.innerHTML = "";
        let contenido = "";

     


        tablaPreguntas.map((dato, index) => {
              let check=''
              let tdBorrar=` <div class="btn-group" role="group">
                                <button onclick="borrarItemSimple(${index})" type="button" class="btn btn-icon btn-sm btn-danger ml-1" data-toggle="tooltip"  data-placement="top" title="Delete" >
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>`




            if(dato.isCorrect=='1'){

             check='checked'
             tdBorrar=''
        
            }  
            let fila =
                `<tr>
                        <td>${dato.OpcionText}</td>
                        
                        <td>
                            <div class="btn-group" role="group">
                                <input type='radio' disabled name='listaSimpleRadio' value='${index}' `+check+` onchange="respuestaCorrecta(this)"  >
                            </div>
                        </td>
                        <td>
                           ${tdBorrar}
                        </td>
                    </tr>`
            contenido += fila;
        })
        tableContentCompletations.innerHTML = contenido;
    }

    function actualizarListaMultiple() {
           document.getElementById('tableMultiple').innerHTML = "";
        let contenido = "";

     


        tablaPreguntas.map((dato, index) => {
            let fila =
                `<tr>
                        <td>${dato.OpcionText}</td>
                        
                        <td>
                            <div class="btn-group" role="group">
                                <input type='number'  value='${dato.value}' onchange="actualizarValue(${index},this)"   >
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                <button onclick="borrarItemSimple(${index})" type="button" class="btn btn-icon btn-sm btn-danger ml-1" data-toggle="tooltip"  data-placement="top" title="Delete" >
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                        </td>
                    </tr>`
            contenido += fila
        })
        document.getElementById('tableMultiple').innerHTML = contenido;
    }
    
    function actualizarListaTF() {
           document.getElementById('tableContentTF').innerHTML = "";
        let contenido = "";

     


        tablaPreguntas.map((dato, index) => {
            checkF=''
            checkT=''


            if(dato.trueFalse=='0'){

             checkF='checked'
        
            }  
             if(dato.trueFalse=='1'){

             checkT='checked'

            }

          
            let fila =
                `<tr>
                        <td>${dato.OpcionText}</td>

                          <td>
                            <div class="btn-group" role="group">
                                <input type='radio' name='listaTF${index}' value="1"`+checkT+  ` onchange="tfChange(${index},this)"  >
                            </div>
                        </td>

                          <td>
                            <div class="btn-group" role="group">
                                <input type='radio' name='listaTF${index}' value="0"  `+checkF+  ` onchange="tfChange(${index},this)"  >
                            </div>
                        </td>

                        
                        <td>
                            <div class="btn-group" role="group">
                                <input type='number'  value='${dato.value}' onchange="actualizarValue(${index},this)"   >
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                <button onclick="borrarItemSimple(${index})" type="button" class="btn btn-icon btn-sm btn-danger ml-1" data-toggle="tooltip"  data-placement="top" title="Delete" >
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                        </td>
                    </tr>`
            contenido += fila
           
        })
        document.getElementById('tableContentTF').innerHTML = contenido;
    }


   </script>

{% endblock javascripts %}
