{% extends "layouts/base.html" %}
{% load static %}

{% block title %}{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<div class="content">
   <div class="page-inner animated fadeInRight">
      <div class="page-header">
         <h4 class="page-title">Create lessons</h4>
         <ul class="breadcrumbs">
            <li class="nav-home">
               <a href="{% url 'home' %}">
                  <i class="flaticon-home"></i>
               </a>
            </li>
            <li class="separator">
               <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
               <a href="{% url 'academic' %}">Academic</a>
            </li>
            <li class="separator">
               <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
               <span>Lessons</span>
            </li>
         </ul>
      </div>
      <div class="page-category">
         <div class="card">
            <div class="card-header">
               <h2>{{lesson.fk_estructura_programa.descripcion}}</h2>
               <div class="form-group w-100 d-flex justify-content-end">
                  <div class="input-group">
                     <input id="txtSearch" type="text" class="form-control" placeholder="Search for...">
                     <div class="input-group-append">
                        <span id="clearBtn" class="btn btn-danger">
                           <i class="fa fa-broom"></i>
                        </span>
                        <span id="searchBtn" class="btn btn-primary">
                           <i class="fa fa-search"></i>
                        </span>
                        <span id="sortableBtn" class="btn btn-success">
                           <i class="fas fa-lock mr-1"></i>
                           Sort
                        </span>
                     </div>
                  </div>
               </div>
            </div>
            <main class="card-body is-loading-lg">

            </main>
         </div>
      </div>
   </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addNewModal" tabindex="-1" role="dialog">
   <div class="modal-dialog  modal-dialog-centered" role="document" id="addNewModalContent">

   </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
   let query = ""
   let selectedId = ""
   let editmode = false
   let sortable = false
   let ordenamientoArray = []
   const rederResourcesBank = (id) => {
      //render resources bank
      fetch("{% url 'modalResourcesBank'%}", {
         ...fetchObject,
         // body: JSON.stringify({
         //    id: "{{lesson.pk}}",
         //    query
         // })
      }).then(async (res) => {
            result = await res.text()
            document.querySelector("#addNewModalContent").innerHTML = result
            $("#addNewModal").modal("show")
      })

   }
   const HelloButton = (context) => {
      var ui = $.summernote.ui;
      // create button for resource bank
      var button = ui.button({
         contents: '<i class="fas fa-folder-open"/> Resources',
         tooltip: 'Resources bank',
         click: () => {
            // invoke resource bank here
            rederResourcesBank(selectedId)
         }
      });
      return button.render();
   }
   const closeAllPages = (id) => {
      let paginas = document.querySelectorAll(".card-list-item-descripcion")
      paginas.forEach((item) => {
         if (item.id != `contentPage${id}`) {
            item.innerHTML = ""
            idBtn = item.id.slice(11)
            item.classList.add("card-list-item-close")
            if (document.querySelector(`#openEditBtn${idBtn}`)) {
               document.getElementById(`openEditBtn${idBtn}`).innerHTML = `<i class="fas fa-edit"></i>`
            }
            if (document.querySelector(`#openCreateBtn${idBtn}`)) {
               document.getElementById(`openCreateBtn${idBtn}`).innerHTML = `<i class="fas fa-plus"></i>`
            }

         }
      })
   }
   const updateOrder = () => {
      let paginas = document.querySelectorAll(".card-list-item-descripcion")
      ordenamientoArray = []
      paginas.forEach((pagina, index) => {
         let orderObj = {
            pk: pagina.id.slice(11),
            order: index + 1
         }
         ordenamientoArray.push(orderObj)
      })
   }
   const renderContent = () => {
      document.querySelector("main.card-body").classList.add("is-loading")
      fetch("{% url 'contenidoLecciones'%}", {
         ...fetchObject,
         body: JSON.stringify({
            id: "{{lesson.pk}}",
            query
         })
      })
         .then(async (res) => {
            result = await res.text()
            document.querySelector("main.card-body").classList.remove("is-loading")
            document.querySelector("main.card-body").innerHTML = result
            updateOrder()
         })
   }
   renderContent()
   const setupSummernote = (id) => {

      $(document).ready(function () {
         $(`#summernote${id}`).summernote({
            dialogsInBody: true,
            height: 200,
            placeholder: 'write your lesson here...',
            disableDragAndDrop: true,
            toolbar: [
               ['style', ['style']],
               ['font', ['bold', 'underline', 'clear']],
               ['fontname', ['fontname']],
               ['color', ['color']],
               ['para', ['ul', 'ol', 'paragraph']],
               ['table', ['table']],
               ['insert', ['resource']],
            ],
            buttons: {
               resource: HelloButton
            }
         });
      });
   }
   const setFormEvents = (id) => {
      const formPagina = document.getElementById(`formPagina${id}`)
      formPagina.addEventListener("submit", (e) => {
         e.preventDefault()
         $(`#summernote${id}`).html($(`#summernote${id}`).summernote('code'))
         clickSave(formPagina, "{% url 'modalAddPagina' %}")
            .then(() => {
               renderContent()
            })
      })
   }
   const renderSortedContent = () => {
      updateOrder()
      document.querySelector("main.card-body").classList.add("is-loading")
      fetch("{% url 'createLessons'%}", {
         ...fetchObject,
         body: JSON.stringify({
            id: "{{lesson.pk}}",
            query,
            method: "Sort",
            order: ordenamientoArray
         })
      })
         .then(async (res) => {
            renderContent()
         })
   }
   const clickSave = (formElement, url) => {
      const formData = new FormData(formElement);
      const data = {}
      for (var [key, value] of formData.entries()) {
         data[key] = value
      }
      if (editmode) {
         return updateModel(url, "Update", data, selectedId)
            .then(async (res) => {
               const text = JSON.parse(await res.text())
               if (text.message == "error") alerta(5)
               else alerta(2)
            })
      }
      else {
         return updateModel(url, "Create", data, null)
            .then(async (res) => {
               const text = JSON.parse(await res.text())
               if (text.message == "error") alerta(5)
               else alerta(1)
            })
      }
   }
   const updateModel = (url, method, data, id) => {
      return fetch(url, {
         ...fetchObject,
         body: JSON.stringify({
            method,
            data,
            id
         })
      })
   }
   const openAddPage = () => {
      document.querySelector("main.card-body").classList.add("is-loading")
      fetch("{% url 'createLessons'%}", {
         ...fetchObject,
         body: JSON.stringify({
            id: "{{lesson.pk}}",
            method: "Create",
            query
         })
      }).then(async (res) => {
         const text = JSON.parse(await res.text())
         if (text.message == "error") alerta(5)
         else alerta(1)
      }).then(async (res) => {
         renderContent()
      })
   }
   const showContent = (id) => {
      const content = document.getElementById(`contentPage${id}`)
      selectedId = id
      if (content.innerHTML.trim()) {
         content.classList.add("card-list-item-close")
         content.style.display = "flex"
         content.innerHTML = ""
         return
      }
      editmode = true
      closeAllPages(id)
      document.querySelector("main.card-body").classList.add("is-loading")
      fetch("{% url 'previewLeccion'%}", {
         ...fetchObject,
         body: JSON.stringify({
            method: "Find",
            id
         })
      }).then(async (res) => {
         content.innerHTML = await res.text()
         content.style.display = "block"
         content.classList.remove("card-list-item-close")
      }).then(() => {
         document.querySelector("main.card-body").classList.remove("is-loading")
      })
   }
   const openCreatePage = (id) => {
      const content = document.getElementById(`contentPage${id}`)
      const createBtn = document.getElementById(`openCreateBtn${id}`)
      selectedId = id
      if (content.innerHTML.trim()) {
         content.classList.add("card-list-item-close")
         content.innerHTML = ""
         createBtn.innerHTML = `<i class="fas fa-plus"></i>`
         return
      }
      editmode = true
      closeAllPages(id)
      document.querySelector("main.card-body").classList.add("is-loading")
      fetch("{% url 'modalAddPagina'%}", {
         ...fetchObject,
         body: JSON.stringify({
            method: "Find",
            id
         })
      }).then(async (res) => {
         content.innerHTML = await res.text()
         setupSummernote(id)
         content.classList.remove("card-list-item-close")
         createBtn.innerHTML = `<i class="fas fa-minus"></i>`
      }).then(() => {
         document.querySelector("main.card-body").classList.remove("is-loading")
         const formPagina = document.getElementById("formPagina")
         setFormEvents(id)
      })
   }
   const openEditPage = (id) => {
      const content = document.getElementById(`contentPage${id}`)
      const editBtn = document.getElementById(`openEditBtn${id}`)
      selectedId = id
      if (content.innerHTML.trim()) {
         content.classList.add("card-list-item-close")
         content.innerHTML = ""
         editBtn.innerHTML = `<i class="fas fa-edit"></i>`
         return
      }
      editmode = true
      closeAllPages(id)
      document.querySelector("main.card-body").classList.add("is-loading")
      fetch("{% url 'modalAddPagina'%}", {
         ...fetchObject,
         body: JSON.stringify({
            method: "Find",
            id
         })
      }).then(async (res) => {
         content.innerHTML = await res.text()
         setupSummernote(id)
         content.classList.remove("card-list-item-close")
         editBtn.innerHTML = `<i class="fas fa-minus"></i>`
      }).then(() => {
         document.querySelector("main.card-body").classList.remove("is-loading")
         setFormEvents(id)
      })
   }
   const openDeletePage = async (id) => {
      const elimino = await alerta(3)
      if (elimino) {
         fetch("{% url 'createLessons'%}", {
            ...fetchObject,
            body: JSON.stringify({
               method: "Delete",
               id
            })
         })
            .then(async (res) => {
               const text = JSON.parse(await res.text())
               if (text.message == "error") alerta(5)
               else alerta(4)
            })
            .then(() => {
               renderContent()
            })
      }
   }
   const searchFor = (text) => {
      let output = text.trim()
      if (output.length > 20) return
      query = output
      renderContent()
   }

   const searchBar = document.querySelector('#txtSearch')
   const clearBtn = document.querySelector('#clearBtn')
   const searchBtn = document.querySelector('#searchBtn')
   const sortableBtn = document.querySelector('#sortableBtn')

   sortableBtn.addEventListener('click', () => {
      sortable = !sortable
      const listaPaginas = document.getElementById("listaPaginas")
      if (sortable) {
         sortableBtn.innerHTML = `<i class="fas fa-lock-open mr-1"></i> Sort`
         for (let item of listaPaginas.children) {
            item.children[0].classList.add("card-list-item-sortable")
         }
         new Sortable(listaPaginas, {
            animation: 150,
            ghostClass: 'blue-background-class'
         });
         return
      }
      sortableBtn.innerHTML = `<i class="fas fa-lock mr-1"></i> Sort`
      for (let item of listaPaginas.children) {
         item.children[0].classList.remove("card-list-item-sortable")
      }
      renderSortedContent()

   })
   clearBtn.addEventListener('click', () => {
      searchBar.value = ""
      query = ""
      searchFor("")
   })
   searchBtn.addEventListener('click', () => {
      searchFor(searchBar.value)
   })
   searchBar.addEventListener('keypress', (e) => {
      if (e.key === 'Enter') {
         searchFor(searchBar.value)
      }
   });
</script>
{% endblock javascripts %}
