{% extends "layouts/base.html" %}
{% load static %}

{% block title %}{% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
   <div class="content">
      <div class="page-inner">
         <div class="page-header">
            <h4 class="page-title">Create test</h4>
            <ul class="breadcrumbs">
               <li class="nav-home">
                  <a href="index.html">
                     <i class="flaticon-home"></i>
                  </a>
               </li>
               <li class="separator">
                  <i class="flaticon-right-arrow"></i>
               </li>
               <li class="nav-item">
                  <span>Module name</span>
               </li>
               <li class="separator">
                  <i class="flaticon-right-arrow"></i>
               </li>
               <li class="nav-item">
                  <a href="#">Page 1</a>
               </li>
            </ul>
         </div>
         <div class="page-category">

            <div class="form-row  d-flex justify-content-center">
               <div class="card mt-3" style="width: 80rem;" >
                  <div class="card-header">

                     <div class="form-row">
                        <h1>General settings</h1>
                     </div>

                     <div class="form-row">
                        <div class="form-group col-md-6">
                           <label for="title">Title</label>
                           <input type="text" name="title" class="form-control" id="title" placeholder="Enter a title" autocomplete="off" spellcheck="false">
                        </div>
                        <div class="form-group col-md-6">
                           <label for="repeats">Amount of repeats</label>
                           <input type="text" name="repeats" class="form-control" id="repeats" placeholder="Enter a number">
                        </div>
                     </div>

                     <div class="form-row">
                        <div class="form-group col-md-6">
                           <label for="min_app">Minimun score to approve</label>
                           <input type="text" name="min_app" class="form-control" id="min_app" placeholder="Enter a number">
                        </div>
                        <div class="form-group col-md-6">
                           <label for="desc_escala">Por definir</label>
                           <input type="text" name="desc_escala" class="form-control" id="desc_escala" placeholder="Enter a description">
                        </div>
                     </div>
                     <div class="form-row">
                        <div class="form-group col-md-6">
                                                             
                           <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="rememberme">
                              <label class="custom-control-label" for="rememberme">Timer</label>
                           </div>
                           <input type="number" class="form-control" id="timer" placeholder="Enter time" disabled>                       
                           
                        </div>
                       
                        <div class="form-group col-md-6">                     
                           <label class="form-label">Score split</label>
                           <div class="selectgroup w-100">
                              <label class="selectgroup-item">
                                 <input type="radio" name="value" value="50" class="selectgroup-input" checked="">
                                 <span class="selectgroup-button">Auto</span>
                              </label>
                              <label class="selectgroup-item">
                                 <input type="radio" name="value" value="100" class="selectgroup-input">
                                 <span class="selectgroup-button">Manual</span>
                              </label>                        
                           </div>                 
                        </div>
                     </div>

            
                  </div>
                  <form action="">
                     <div class="card-body">
                        <h1>Questions</h1>
                        <ul id="simpleList" class="list-group">
                           <li class="list-group-item">
                              <div class="form-group col-md-3 col-lg-2 d-flex align-items-center">
                                 <div class="card d-flex justify-content-center" >
                                    <div class="card-header">
                                       <div class="d-flex align-items-center">
                                          <span class="stamp stamp-md bg-dark2 mr-3">
                                             <i class="fas fa-bars"></i>
                                          </span>
                                          <div class="text-center">
                                             <h5 class="mb-1">Question #1</h5>
                                       
                                          </div>
                                       </div>

                                    </div>
                                    <div class="card-body">
                                       <label for="desc_escala">Score</label>
                                       <input type="text" name="desc_escala" class="form-control" id="desc_escala" placeholder="Enter a number">
                                       
                                    </div>

                                 </div>

                              </div>
                              <div class="form-group col-md-10">
                                <textarea name="" class="form-control" id="" cols="30" rows="10"></textarea>

                              </div>

               


                              
                           </li>
                           <li class="list-group-item">2</li>
                           <li class="list-group-item">3</li>
                           
                        </ul>

                     <div class="card-footer d-flex justify-content-end">
                        <button type="submit" value="Submit" class="btn btn-primary">Save<i class="fas fa-save ml-2"></i></button>
                     </div>
                  </form>
               </div>
            </div>           
         </div>
      </div>
   </div>
{% endblock content %}
{% block javascripts %}
   <script>
      Sortable.create(simpleList, {
        
      });

      // const contenido = document.getElementById("")
      // const asdasdq = document.createElement("li")
      // asdasdq.classList.add("list-group-item")
      // asdasdq.innerHTML = ""

      // contenido.appendChild(asdasdq)
   </script>
{% endblock javascripts %}
