{% extends "layouts/base.html" %}

{% block title %}{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% load Filter %}

{% block content %}

	<div class="content" id='Contenido'>
		<style>
			.center {
			margin: auto;
			width: 70%;
			
			padding: 10px;
			}

			.centerB {
			margin: auto;
			width: 100%;
			text-align: center;
			
			padding: 10px;
			}
			h4{
				text-align: center;

			}
			h2{
				text-align: center;

			}

		</style>
	
			<div class="page-category col-md-12 d-flex justify-content-center">
				<div class="d-flex justify-content-center mt-2"> 
	   			
						<div class="card" style="width: 30rem;">
							<div class="card-header" style="background-color: #1a2035 !important;
							color: white;">
								<h2>Test: {{pregunta.fk_estructura_programa.descripcion}}</h2>
							</div>
							<div class="card-body" >
						{% if examen.count == 0 %}

						<div class="center">
									<div class="centerB">
							
                             		<button class="btn btn-primary" onclick="takeTest()"> Take Test </button>
									</div>
							 <br>
							 <br>

							 <p>
								<b>  Max Points</b>: {{escalaEvaluacion.maxima_puntuacion}}
							  <br>
							  <b>  Minimum to Approve</b>: {{pregunta.calificacion_aprobar}}
							  <br>
							 
							  <b>  Number of repetitions allow</b>: {{pregunta.nro_repeticiones}}
							  <br>
							  {% if pregunta.duracion %}
							  <b>  Duration</b>: {{pregunta.duracion}}&nbsp; Minutes {% comment %} {{pregunta.fk_tipo_duracion}} {% endcomment%}
							  {% endif %}
							  <br>
							  {% if instrucciones != None %}
							  <b> Instructions</b>: 
							  <br>
							 <p>  
								<textarea rows="10" class="form-control" disabled> 	{{instrucciones.texto_instrucciones}}</textarea>
							 </p>
							 {% endif %}
							  
                               


							 </p>
							</div>
							 {% else %}

							 {% if examen.0.estadoExamen == 2 %}

							 <div class="center">

								<div class="centerB">

							 <button class="btn btn-primary" onclick="ContinueTest()"> Continue Test </button>
								</div>
							 <br>
							 <br>

							 <p>

							 <b>Started </b>: {{examen.0.fechaInicio}}
							  <br>
							  <b> Max Points </b>: {{escalaEvaluacion.maxima_puntuacion}}
							  <br>
							  <b>Repetition</b>: {{examen.0.nro_repeticiones}}
							  <br>
							 
							  <b> Minimum to Approve </b>: {{pregunta.calificacion_aprobar}}
							  <br>
							  {% if pregunta.duracion %}
							  <b> Duration </b>: {{pregunta.duracion}}&nbsp; Minutes {% comment %} {{pregunta.fk_tipo_duracion}} {% endcomment%}
							  {% endif %}
							  <br>
							  <b> Number of repetitions </b>: {{pregunta.nro_repeticiones}}
							  <br>
							  {% if instrucciones != None %}
							  <b> Instructions</b>: 
							  <br>
							 <p>  
								<textarea  rows="10" class="form-control" disabled> 	{{instrucciones.texto_instrucciones}}</textarea>
							 </p>
							 {% endif %}
							  
                               


							 </p>
							 	</div>
							 {% endif %}


							 {% if examen.0.estadoExamen == 3 %}
							 <div class="center">

							 <h2  >Test Finished</h2>
							 <br>

							 <div class="centerB">

							 <button class="btn btn-primary" onclick="ReviewTest()"> Review Test </button>
							 </div>
							 <br>
							 <br>

							 <p>

							  <b>Started</b>: {{examen.0.fechaInicio}}
							  <br>
							  <b> Max Points</b>: {{escalaEvaluacion.maxima_puntuacion}}
							  <br>
							  <b>Repetition</b>: {{examen.0.nro_repeticiones}}
							  <br>
							  <b> Minimum to Approve</b>: {{pregunta.calificacion_aprobar}}
							  <br>
							 
							  <b>  Finished</b>: {{examen.0.fechaTermino}}
							  <br>
							  <b> Score</b>: {{examen.0.PuntuacionFinal}}
							  <br>
							  {% if pregunta.duracion %}
							  <b>  Duration </b>: {{pregunta.duracion}}&nbsp;Minutes {% comment %} {{pregunta.fk_tipo_duracion}} {% endcomment%}
							  {% endif %}
							  <br>
							  <b>  Number of repetitions allow: </b> {{pregunta.nro_repeticiones}}
							  <br>	 
							   {% if instrucciones != None %}
							  <b> Instructions</b>: 
							  <br>
							 <p>  
								<textarea rows="10" class="form-control" disabled> 	{{instrucciones.texto_instrucciones}}</textarea>
							 </p>
							 {% endif %}
							 <br>	 

							  {% if exam.estadoExamen == 3 %}
							  <b>  Scale Results: </b>   {{examamen.pk|scalaPuntuacion}}
							  {% endif %}
							
							  <br>
							  <br>
							  <br>
								{%if pregunta.fk_estructura_programa.fk_categoria.valor_elemento != 'activityExpert' %}	
								<div class="center" style="text-align: center;">
										{% if examen.0.PuntuacionFinal <= pregunta.calificacion_aprobar%}
											<h1 style='color:red'> Repproved! </h2>
											
											{%else%}
											<h1 style='color:green'> Approved! </h2>
											

										{% endif %}
										
										{% if examen.0.nro_repeticiones < pregunta.nro_repeticiones %}
										<br>	 
										<div class="centerB">

											<button class="btn btn-success"onclick="retake()" type="button"  > Retake Test</button>
											</div>
											{% endif %}
									</div>

										{%else%}
								<div class="centerB">

									<button class="btn btn-success"onclick="openSeeResults({{examen.0.pk}})" > See Results </button>
									</div>
								{% endif %}

							  
                               


							 </p>
							 </div>
							 {% endif %}
							  
							 {% if examen.0.estadoExamen == 4 %}
							 <div class="center">

							 <h2  >Test Finished</h2>
							 <br>

							 <div class="centerB">

							 </div>
							 <br>
							 <br>

							 <p>

							  <b>Started</b>: {{examen.0.fechaInicio}}
							  <br>
							  <b> Max Points</b>: {{escalaEvaluacion.maxima_puntuacion}}
							  <br>
							  <b>Repetition</b>: {{examen.0.nro_repeticiones}}
							  <br>
							  <b> Minimum to Approve</b>: {{pregunta.calificacion_aprobar}}
							  <br>
							 
							  <b>  Finished</b>: {{examen.0.fechaTermino}}
							  <br>
							  <b> Score</b>: {{examen.0.PuntuacionFinal}}
							  <br>
							  {% if pregunta.duracion %}
							  <b>  Duration </b>: {{pregunta.duracion}}&nbsp;Minutes {% comment %} {{pregunta.fk_tipo_duracion}} {% endcomment%}
							  {% endif %}
							  <br>
							  <b>  Number of repetitions allow: </b> {{pregunta.nro_repeticiones}}
							  <br>	 
							   {% if instrucciones != None %}
							  <b> Instructions</b>: 
							  <br>
							 <p>  
								<textarea rows="10" class="form-control" disabled> 	{{instrucciones.texto_instrucciones}}</textarea>
							 </p>
							 {% endif %}
							 <br>	 

							  {% if exam.estadoExamen == 3 %}
							  <b>  Scale Results: </b>   {{examamen.pk|scalaPuntuacion}}
							  {% endif %}
							
							  <br>
							  <br>
							  <br>
								{%if pregunta.fk_estructura_programa.fk_categoria.valor_elemento != 'activityExpert' %}	
								<div class="center" style="text-align: center;">
									
											<h1 style='color:red'> TimeOut! </h2>
										
									
										
										{% if examen.0.nro_repeticiones < pregunta.nro_repeticiones %}
										<br>	 
										<div class="centerB">

											<button class="btn btn-success"onclick="retake()" type="button"  > Retake Test</button>
											</div>
											{% endif %}
									</div>

								
								{% endif %}

							  
                               


							 </p>
							 </div>
							 {% endif %}


							 {% endif %}

						
							

							
						
						</div>		
	   				
						</div>			            
     		</div>
	
	</div>
</div>


		<!--  Modal-->
<div class="modal fade " tabindex="-1" role="dialog" id="ModalResults">
    <div class="modal-dialog modal-lg modal-dialog-centered"" role="document" id="modalContentResults">
     
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

<!-- /.modal -->




{% endblock content %}

{% block javascripts %}
<script>
	idActividad={{pregunta.pk}};
	preguntas=[];
	respuestas=[];
	let autoSave=false
	preguntasOpciones=[];
	let hayVacias=false;
	let time ='{{time}}'
	//console.log(time)
	let timerOn=false
	let manejaTiempo={{manejaTiempo}}
	let TimeServer=null



	examenId='{{examen.0.pk}}';

	{% for bloque in pregunta.bloque_actividad.all   %}
     var count=0;
	 {% for pregunta in bloque.bloque_pregunta.all %}

             datosPregunta={
                orden: {{pregunta.orden}},
                id: {{pregunta.pk}},
                texto_pregunta: '{{pregunta.texto_pregunta}}',
				indicePalabra:{{pregunta.indicePalabra|Nuller}},
				puntos_pregunta:{{pregunta.puntos_pregunta}},
				tipo:{{pregunta.fk_tipo_pregunta_evaluacion}},
				bloque:{{pregunta.fk_evaluaciones_bloque.pk}},

				titulo_pregunta:'{{pregunta.titulo_pregunta}}',
				opciones:[]
          

			}
			preguntas.push(datosPregunta)
            
							{% for opciones in pregunta.soyUnaOpcion.all %}


							datosOpciones={
							
								id: {{opciones.pk}},
								value:{{opciones.puntos_porc|Nuller}},
                                OpcionText: '{{opciones.texto_opcion}}',
                                isCorrect: {{opciones.respuetaCorrecta|tf}},
                                colummna: {{opciones.columnaPregunta|Nuller}},
								indiceAsociacion:{{opciones.indiceAsociacion|Nuller}},
								padre:{{opciones.fk_evaluacion_pregunta.pk}},


							
						

							}
							preguntas[ count ].opciones.push(datosOpciones)
								
								
								{% endfor %}
				count++;
       
	{% endfor %}

     
	{% endfor %}
	
//	console.log(preguntas)
  
  const takeTest = () => {
        
            createTest().then(async () => {
			await renderContent();
			
            })
        }    

		const retake= () => {
        
		retakeTest().then(async () => {
		await renderContent();
		timerOn=true;

		})
	}    


	const retakeTest = () => {
           
		   return fetch("{% url 'contenidoExamen' %}", {
			   ...fetchObject,
			   body: JSON.stringify({
			data: {
				   
				   method:'Retake',
				   idExamen:examenId

			   }
		   })
		   })
		   .then(async (res) => {
			
			
		   }).then(()=>{
			 
		   })
	   }   

	  async function ContinueTest (){
        
            
		await	 renderContent();

           
        }    	

		async function ReviewTest () {
        
            
			fetch("{% url 'reviewExamen' %}", {
            ...fetchObject,
            body: JSON.stringify({
                data: {
					method:'Show',
					testId:examenId,
					ActivityId:idActividad


                }
            }),
        }).then(async (res) => {
                document.getElementById("Contenido").innerHTML= await res.text()

            
            })
            .then(() => {
			
          
            })
	  
   }    	


		const createTest = () => {
           
		   return fetch("{% url 'contenidoExamen' %}", {
			   ...fetchObject,
			   body: JSON.stringify({
			data: {
				   
				   method:'Create',
				   ActivityId:idActividad

			   }
		   })
		   })
		   .then(async (res) => {
			 idTest= JSON.parse(await res.text());
			examenId=idTest.id;
			time=idTest.inicio;
		//	console.log(time)
			
		   }).then(()=>{
			 
		   })
	   }   


	   async function renderContent (){
		fetch("{% url 'contenidoExamen' %}", {
            ...fetchObject,
            body: JSON.stringify({
                data: {
					method:'Show',
					ActivityId:idActividad,
					idExamen:examenId


                }
            }),
        }).then(async (res) => {
                document.getElementById("Contenido").innerHTML= await res.text()
			
		
		await getServerTime()
		


            
            })
            .then(() => {
				const questionsForm = document.getElementById("questionsForm")
                questionsForm.addEventListener("submit", (e) => {
                    e.preventDefault()
                    clickSave()
                })   
          
            })


	   }


	       async function clickSave ()  {

			   await reviewRespuestas();
			   let guardar=true;
			   if(hayVacias== true && autoSave==false){

				const save = await alertaMensajitos(6,'There are Questions without answer', 'Continue Anyway?')
				if(!save){
				guardar=false;
				return;
				}
			   }

			   if(guardar){
					form={

						method:'Save',
						respuestas:respuestas,
						ActivityId:idActividad,
						examenId:examenId,
					}
               
					saveTest(form);

			   }
       

   }


   async function saveTest(form){

	fetch("{% url 'contenidoExamen' %}", {
                ...fetchObject,
                body: JSON.stringify({
                   data: form
                }),
               
            })
            .then(async (res) => {
                let result = JSON.parse(await res.text())
                if (result.message === "Error") {
                   alerta(5)
                }
                alerta(1)

				window.location='{%url "MyTest"%}'

            })
            .then(() => {
             
            })
   }

   
   async function getServerTime(){

fetch("{% url 'getCurrentTime' %}", {
			...fetchObject,
			body: JSON.stringify({
			  
			}),
		   
		})
		.then(async (res) => {
			respuesta=await res.text()
			//console.log(respuesta+'aquitoy')
			TimeServer= respuesta
		//	console.log(TimeServer+'aquitoy22')
			setTimers()

			timerOn=true;
			
		})
		
}

   async function reviewRespuestas(){


  preguntas.forEach(function(item, index, object) {

					if(item.tipo==1){
						const select=document.querySelector(`input[name="Simple${item.id}"]:checked`);

						if( select!=null){
							var	datos={
									opcionID:select.value,
									isCorrect:false,
									idRelacional:null,
									idpadre:null,
									idPregunta:item.id,
									tipoPregunta:1,
									bloques:item.bloque


								

								}
                         respuestas.push(datos);

						}else{

							hayVacias=true;
						}



					}

					if(item.tipo==6){
						const select=document.querySelector(`input[name="Simple${item.id}"]:checked`);

						if( select!=null){
							var	datos={
									opcionID:select.value,
									isCorrect:false,
									idRelacional:null,
									idpadre:null,
									idPregunta:item.id,
									tipoPregunta:6,
									bloques:item.bloque


								

								}
                         respuestas.push(datos);

						}else{

							hayVacias=true;
						}



					}

						if(item.tipo==2){
					
  						item.opciones.forEach(function(opciones, index, object) {
							  console.log(`Multiple${opciones.id}`)
							  const elemento=document.getElementById(`Multiple${opciones.id}`)

							  if(elemento.checked ==true){
								var	datos={
									opcionID:elemento.value,
									isCorrect:false,
									idRelacional:null,
									idpadre:null,
									idPregunta:item.id,
									tipoPregunta:2,
									bloques:item.bloque


								

								}
                         respuestas.push(datos);


							  }

				
   								});


					}

					
			if(item.tipo==3){
					
							  const elemento=document.getElementById(`Completar${item.id}`);
							  console.log(elemento)
							

							    if(elemento.value !=""  && elemento.selectedIndex  >-1){
								var	datos={
									opcionID:elemento.value,
									isCorrect:null,
									idRelacional:null,
									idpadre:null,
									idPregunta:item.id,
									tipoPregunta:3,
									bloques:item.bloque


								

									}

                         respuestas.push(datos);

								 }else{

									 hayVacias=true;
								 }
					


					}


				if(item.tipo==4){
					
							 item.opciones.forEach(function(opciones, index, object) {
							   
							   if(opciones.colummna==1){
							    const elemento=document.getElementById(`Asociar${opciones.id}`);

							  	    if(elemento.value !=""  && elemento.selectedIndex  >-1){
										var	datos={
											opcionID:elemento.value,
											isCorrect:null,
											idRelacional:opciones.id,
											idpadre:null,
											idPregunta:item.id,
									      tipoPregunta:4,
										  bloques:item.bloque


										

											}

								  respuestas.push(datos);

								 }else{

									 hayVacias=true;
								 }

								   


							   }

				
   								});


					}	

						if(item.tipo==5){
					
							 item.opciones.forEach(function(opciones, index, object) {
						   const select=document.querySelector(`input[name="tf${opciones.id}"]:checked`);
							
							if( select!=null){
										var	datos={
											opcionID:opciones.id,
											isCorrect:select.value==1?true:false,
											idRelacional:null,
											idpadre:null,
											idPregunta:item.id,
											tipoPregunta:5,
											bloques:item.bloque


										

											}

								  respuestas.push(datos);

								 }else{

									 hayVacias=true;
								 }

				
   								});


					}
		
		console.log(respuestas);
 
            });

   }
     
    



	       const showContentBlock = (id) => {
      let contenido = document.getElementById(`contentBlock${id}`)
      contenido.classList.toggle("card-list-item-close")
   }
   
     const showChilds = (id) => {
      let contenido = document.getElementById(`childsBlock${id}`)
      contenido.classList.toggle("card-list-item-close")
   }
       




</script>
<!--timer-->
<script>
//Set the date we're counting down to
var countDownDate = null
var serverTime = null
async function setTimers(){

	 countDownDate = new Date(time).getTime();
 serverTime = new Date(TimeServer).getTime();
}

// Update the count down every 1 second
let counterT=0
var x = setInterval(function() {
	if(manejaTiempo==0){
		return
	}
if(timerOn==false){
	return
}


  // Get today's date and time
 // var now = new Date().getTime();
    
  // Find the distance between now and the count down date
  //var distance = countDownDate - now;
  


  var distance = countDownDate - serverTime-counterT;
  //console.log(distance)

    
  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  //var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var hours = Math.floor(distance /(1000 * 60 * 60) );
 
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
  // Output the result in an element with id="demo"
  document.getElementById("timer").innerHTML =  hours + "h "
  + minutes + "m " + seconds + "s ";
    
  // If the count down is over, write some text 

  if (distance == 30000) {
	document.getElementById("timer").style.color = "#ff0000"

  }
  if (distance == 10000) {
alertaMensajitos(7,'Timer Alert','You have a little time left')

  }
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("timer").innerHTML = "EXPIRED";
	autoSave=true
	clickSave () ;
  }
  counterT=counterT+1000
}, 1000);

</script>
<!--Grafica-->
<script>
	var labeles=[];
	var variablesTitulos=[];
	var titulos=[];
	
function matricular(id){




let url="{% url 'saveMatricula'%}";
    let formData = new FormData(); 
    formData.append("id", id);



    fetch(url,{
        headers: {
						'Accept': 'application/json',
						'X-Requested-With': 'XMLHttpRequest',
						"X-CSRFToken": getCookie('csrftoken')
					},
					mode: 'same-origin',
					method: 'POST',
                    body:formData
    }).then(async function(result){
		let resultado=await result.text()
	
		if(resultado==2){
		alertaMensajitos(5,'There was a error with you application','You already have a application including this structure');
		return
	}

	
alerta(1); // raw response
window.location.href="{% url 'MyEnrollments'%}";
    
    }).then(function(result){
        
    
    });
        
        
      
    }

	
	async function openSeeResults  (id)  {
		   
				renderModalResults(id).then(()=>{
				
				   $("#ModalResults").modal("show");
				})
			}    
	
	async function renderModalResults(id){
		return fetch("{% url 'GraficaResultados' %}", {
					...fetchObject,
					body: JSON.stringify({
				 data: {
						
						method:'Show',
						id:id
						
					}
				})
				})
				.then(async (res) => {
					document.getElementById("modalContentResults").innerHTML = await res.text()
					await getGrafica(id)
	
				}).then(()=>{
				 
	
				})
	
	}
	
	async function getGrafica(id){
	
		return fetch("{% url 'GraficaResultados' %}", {
					...fetchObject,
					body: JSON.stringify({
				 data: {
						
						method:'Set',
						id:id
					}
				})
				})
				.then(async (res) => {
					let datos = JSON.parse(await res.text())
				//	console.log(datos)
	
					escalaBloques=datos.escalaBloquesJson;
					escalaTOtal=datos.escalaTotalJson;
					resultados=datos.resultadosJson;
					//console.log(resultados)
					//console.log(datos.resultadosJson)
	
				   
					variablesTitulos=[...datos.dataSet]
					labeles.push('')
	
					resultados.forEach(function(item, index, object) {
	
	
						labeles.push(item.bloque_respuesta)
					//	console.log(item.bloque_respuesta)
	
				 
	
					})
	
					escalaBloques.forEach(function(item, index, object) {
	
					  titulos.push(item.desc_calificacion)      
						
					
					})      
				//	console.log(variablesTitulos)
					labeles.push('')
					
	
	
					await setGrafica()
	
	
	
				
					
				}).then(()=>{
				 
			   
	
				})
	
	}
		
		</script>


<script>


	async function setGrafica(){
	
	
		var lineChart = document.getElementById('lineChart').getContext('2d');
	
		const data = {
	  labels: labeles,
	  datasets: [
	  
		{
		  
		  data: variablesTitulos,
		  borderColor: '#1d7af3',
		  backgroundColor: '#1d7af3',
		  
		  yAxisID: 'y2',
		}
	  ]
	};
		var myLineChart = new Chart(lineChart, {
		type: 'line',
		data: data,
	  
		options: {
		responsive: true,
		plugins: {
		  title: {  
			  text:'Results',
			display: true,
		   
		  },
		  legend: {
			display: false,
		  },
		},
		scales: {
	   
		  y2: {
			type: 'category',
			labels: titulos.reverse(),
			offset: true,
			position: 'left',
		 
			stackWeight: 1,
			grid: {
			  borderColor: '#1d7af3',
			}
		  }
		}
	  },
	
	});
	
	
	
	
	
	
	
	}
	
	
	
	
	</script>

{% endblock javascripts %}