{% extends "layouts/base.html" %}

{% block title %}{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% load Filter %}

{% block content %}

	<div class="content" id='Contenido'>
		<style>
			.center {
			margin: auto;
			width: 70%;
			
			padding: 10px;
			}

			.centerB {
			margin: auto;
			width: 100%;
			text-align: center;
			
			padding: 10px;
			}
			h4{
				text-align: center;

			}

		</style>
	
			<div class="page-category col-md-12 d-flex justify-content-center">
				<div class="d-flex justify-content-center mt-2"> 
	   			
						<div class="card" style="width: 30rem;">
							<div class="card-header" style="background-color: #1a2035 !important;
							color: white;">
								<h2>Test: {{pregunta.fk_estructura_programa.descripcion}}</h2>
							</div>
							<div class="card-body" style='height: 600px;'>
							{% if examen.count == 0 %}

								<div class="center">
									<div class="centerB">
							
                             <button class="btn btn-primary" onclick="takeTest()"> Take Test </button>
									</div>
							 <br>
							 <br>

							 <p>
								<b>  Max Points</b>: {{escalaEvaluacion.maxima_puntuacion}}
							  <br>
							  <b>  Minimum to Approve</b>: {{pregunta.calificacion_aprobar}}
							  <br>
							  {% if pregunta.duracion %}
							  <b>  Duration</b>: {{pregunta.duracion}}&nbsp; {{pregunta.fk_tipo_duracion}}
							  {% endif %}
							  <br>
							  <b>  Number of repetitions</b>: {{pregunta.nro_repeticiones}}
							  <br>
							  
                               


							 </p>
							</div>
							 {% else %}

							 {% if examen.0.estadoExamen == 2 %}

							 <div class="center">

								<div class="centerB">

							 <button class="btn btn-primary" onclick="ContinueTest()"> Continue Test </button>
								</div>
							 <br>
							 <br>

							 <p>

							 <b>Started </b>: {{examen.0.fechaInicio}}
							  <br>
							  <b> Max Points </b>: {{escalaEvaluacion.maxima_puntuacion}}
							  <br>
							 
							  <b> Minimum to Approve </b>: {{pregunta.calificacion_aprobar}}
							  <br>
							  {% if pregunta.duracion %}
							  <b> Duration </b>: {{pregunta.duracion}}&nbsp; {{pregunta.fk_tipo_duracion}}
							  {% endif %}
							  <br>
							  <b> Number of repetitions </b>: {{pregunta.nro_repeticiones}}
							  <br>
							  
                               


							 </p>
							 	</div>
							 {% endif %}


							 {% if examen.0.estadoExamen == 3 %}
							 <div class="center">

							 <h4  >Test Finished</h4>
							 <br>

							 <div class="centerB">

							 <button class="btn btn-primary" onclick="ReviewTest()"> Review Test </button>
							 </div>
							 <br>
							 <br>

							 <p>

							  <b>Started</b>: {{examen.0.fechaInicio}}
							  <br>
							  <b> Max Points</b>: {{escalaEvaluacion.maxima_puntuacion}}
							  <br>
							  <b> Minimum to Approve</b>: {{pregunta.calificacion_aprobar}}
							  <br>
							 
							  <b>  Finished</b>: {{examen.0.fechaTermino}}
							  <br>
							  <b> Score</b>: {{examen.0.PuntuacionFinal}}
							  <br>
							  {% if pregunta.duracion %}
							  <b>  Duration </b>: {{pregunta.duracion}}&nbsp; {{pregunta.fk_tipo_duracion}}
							  {% endif %}
							  <br>
							  <b>  Number of repetitions allow: </b> {{pregunta.nro_repeticiones}}
							  <br>

							  {% if exam.estadoExamen == 3 %}
							  <b>  Scale Results: </b>   {{examamen.pk|scalaPuntuacion}}
							  {% endif %}
							
							  <br>
							  <br>
							  <br>
								{%if pregunta.fk_estructura_programa.fk_categoria.valor_elemento != 'activityExpert' %}	
								<div class="center" style="text-align: center;">
										{% if examen.PuntuacionFinal <= pregunta.calificacion_aprobar%}
											<h1 style='color:red'> Reproved! </h2>
											
											{%else%}
											<h1 style='color:green'> Approved! </h2>

										{% endif %}

										{%else%}
								<div class="centerB">

									<button class="btn btn-success"onclick="openSeeResults({{examen.0.pk}})" > See Results </button>
									</div>
								{% endif %}

								</div>
							  
                               


							 </p>
							 </div>
							 {% endif %}
							  
                               


							 {% endif %}

						
							

							
						
						</div>		
	   				</form>
				</div>			            
     		</div>
	
	</div>


		<!--  Modal-->
<div class="modal fade " tabindex="-1" role="dialog" id="ModalResults">
    <div class="modal-dialog modal-lg modal-dialog-centered"" role="document" id="modalContentResults">
     
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

<!-- /.modal -->




{% endblock content %}

{% block javascripts %}
<script>
	idActividad={{pregunta.pk}};
	preguntas=[];
	respuestas=[];

	preguntasOpciones=[];
	let hayVacias=false;



	examenId='{{examen.0.pk}}';

	{% for bloque in pregunta.bloque_actividad.all   %}
     var count=0;
	 {% for pregunta in bloque.bloque_pregunta.all %}

             datosPregunta={
                orden: {{pregunta.orden}},
                id: {{pregunta.pk}},
                texto_pregunta: '{{pregunta.texto_pregunta}}',
				indicePalabra:{{pregunta.indicePalabra|Nuller}},
				puntos_pregunta:{{pregunta.puntos_pregunta}},
				tipo:{{pregunta.fk_tipo_pregunta_evaluacion}},
				bloque:{{pregunta.fk_evaluaciones_bloque.pk}},

				titulo_pregunta:'{{pregunta.titulo_pregunta}}',
				opciones:[]
          

			}
			preguntas.push(datosPregunta)
            
							{% for opciones in pregunta.soyUnaOpcion.all %}


							datosOpciones={
							
								id: {{opciones.pk}},
								value:{{opciones.puntos_porc|Nuller}},
                                OpcionText: '{{opciones.texto_opcion}}',
                                isCorrect: {{opciones.respuetaCorrecta|tf}},
                                colummna: {{opciones.columnaPregunta|Nuller}},
								indiceAsociacion:{{opciones.indiceAsociacion|Nuller}},
								padre:{{opciones.fk_evaluacion_pregunta.pk}},


							
						

							}
							preguntas[ count ].opciones.push(datosOpciones)
								
								
								{% endfor %}
				count++;
       
	{% endfor %}

     
	{% endfor %}
	
	console.log(preguntas)
  
  const takeTest = () => {
        
            createTest().then(async () => {
			await renderContent();
            })
        }    

	  const ContinueTest = () => {
        
            
			 renderContent();
           
        }    	

		async function ReviewTest () {
        
            
			fetch("{% url 'reviewExamen' %}", {
            ...fetchObject,
            body: JSON.stringify({
                data: {
					method:'Show',
					testId:examenId,
					ActivityId:idActividad


                }
            }),
        }).then(async (res) => {
                document.getElementById("Contenido").innerHTML= await res.text()

            
            })
            .then(() => {
			
          
            })
	  
   }    	


		const createTest = () => {
           
		   return fetch("{% url 'contenidoExamen' %}", {
			   ...fetchObject,
			   body: JSON.stringify({
			data: {
				   
				   method:'Create',
				   ActivityId:idActividad

			   }
		   })
		   })
		   .then(async (res) => {
			 idTest= JSON.parse(await res.text());
			examenId=idTest.id;
			
		   }).then(()=>{
			 
		   })
	   }   


	   const renderContent= ()=>{
		fetch("{% url 'contenidoExamen' %}", {
            ...fetchObject,
            body: JSON.stringify({
                data: {
					method:'Show',
					ActivityId:idActividad


                }
            }),
        }).then(async (res) => {
                document.getElementById("Contenido").innerHTML= await res.text()

            
            })
            .then(() => {
				const questionsForm = document.getElementById("questionsForm")
                questionsForm.addEventListener("submit", (e) => {
                    e.preventDefault()
                    clickSave()
                })   
          
            })


	   }


	       async function clickSave ()  {

			   await reviewRespuestas();
			   let guardar=true;
			   if(hayVacias){

				const save = await alertaMensajitos(6,'There are Questions without answer', 'Continue Anyway?')
				if(!save){
				guardar=false;
				return;
				}
			   }

			   if(guardar){
					form={

						method:'Save',
						respuestas:respuestas,
						ActivityId:idActividad,
						examenId:examenId,
					}
               
					saveTest(form);

			   }
       

   }


   async function saveTest(form){

	fetch("{% url 'contenidoExamen' %}", {
                ...fetchObject,
                body: JSON.stringify({
                   data: form
                }),
               
            })
            .then(async (res) => {
                let result = JSON.parse(await res.text())
                if (result.message === "Error") {
                   alerta(5)
                }
                alerta(1)
            })
            .then(() => {
             
            })
   }

   async function reviewRespuestas(){


  preguntas.forEach(function(item, index, object) {

					if(item.tipo==1){
						const select=document.querySelector(`input[name="Simple${item.id}"]:checked`);

						if( select!=null){
							var	datos={
									opcionID:select.value,
									isCorrect:false,
									idRelacional:null,
									idpadre:null,
									idPregunta:item.id,
									tipoPregunta:1,
									bloques:item.bloque


								

								}
                         respuestas.push(datos);

						}else{

							hayVacias=true;
						}



					}

					if(item.tipo==6){
						const select=document.querySelector(`input[name="Simple${item.id}"]:checked`);

						if( select!=null){
							var	datos={
									opcionID:select.value,
									isCorrect:false,
									idRelacional:null,
									idpadre:null,
									idPregunta:item.id,
									tipoPregunta:6,
									bloques:item.bloque


								

								}
                         respuestas.push(datos);

						}else{

							hayVacias=true;
						}



					}

						if(item.tipo==2){
					
  						item.opciones.forEach(function(opciones, index, object) {
							  console.log(`Multiple${opciones.id}`)
							  const elemento=document.getElementById(`Multiple${opciones.id}`)

							  if(elemento.checked ==true){
								var	datos={
									opcionID:elemento.value,
									isCorrect:false,
									idRelacional:null,
									idpadre:null,
									idPregunta:item.id,
									tipoPregunta:2,
									bloques:item.bloque


								

								}
                         respuestas.push(datos);


							  }

				
   								});


					}

					
			if(item.tipo==3){
					
							  const elemento=document.getElementById(`Completar${item.id}`);
							  console.log(elemento)
							

							    if(elemento.value !=""  && elemento.selectedIndex  >-1){
								var	datos={
									opcionID:elemento.value,
									isCorrect:null,
									idRelacional:null,
									idpadre:null,
									idPregunta:item.id,
									tipoPregunta:3,
									bloques:item.bloque


								

									}

                         respuestas.push(datos);

								 }else{

									 hayVacias=true;
								 }
					


					}


				if(item.tipo==4){
					
							 item.opciones.forEach(function(opciones, index, object) {
							   
							   if(opciones.colummna==1){
							    const elemento=document.getElementById(`Asociar${opciones.id}`);

							  	    if(elemento.value !=""  && elemento.selectedIndex  >-1){
										var	datos={
											opcionID:elemento.value,
											isCorrect:null,
											idRelacional:opciones.id,
											idpadre:null,
											idPregunta:item.id,
									      tipoPregunta:4,
										  bloques:item.bloque


										

											}

								  respuestas.push(datos);

								 }else{

									 hayVacias=true;
								 }

								   


							   }

				
   								});


					}	

						if(item.tipo==5){
					
							 item.opciones.forEach(function(opciones, index, object) {
						   const select=document.querySelector(`input[name="tf${opciones.id}"]:checked`);
							
							if( select!=null){
										var	datos={
											opcionID:opciones.id,
											isCorrect:select.value==1?true:false,
											idRelacional:null,
											idpadre:null,
											idPregunta:item.id,
											tipoPregunta:5,
											bloques:item.bloque


										

											}

								  respuestas.push(datos);

								 }else{

									 hayVacias=true;
								 }

				
   								});


					}
		
		console.log(respuestas);
 
            });

   }
     
    



	       const showContentBlock = (id) => {
      let contenido = document.getElementById(`contentBlock${id}`)
      contenido.classList.toggle("card-list-item-close")
   }
   
     const showChilds = (id) => {
      let contenido = document.getElementById(`childsBlock${id}`)
      contenido.classList.toggle("card-list-item-close")
   }
       




</script>

<!--Grafica-->
<script>
	var labeles=[];
	var variablesTitulos=[];
	var titulos=[];
	
	async function openSeeResults  (id)  {
		   
				renderModalResults(id).then(()=>{
				
				   $("#ModalResults").modal("show");
				})
			}    
	
	async function renderModalResults(id){
		return fetch("{% url 'GraficaResultados' %}", {
					...fetchObject,
					body: JSON.stringify({
				 data: {
						
						method:'Show',
						
					}
				})
				})
				.then(async (res) => {
					document.getElementById("modalContentResults").innerHTML = await res.text()
					await getGrafica(id)
	
				}).then(()=>{
				 
	
				})
	
	}
	
	async function getGrafica(id){
	
		return fetch("{% url 'GraficaResultados' %}", {
					...fetchObject,
					body: JSON.stringify({
				 data: {
						
						method:'Set',
						id:id
					}
				})
				})
				.then(async (res) => {
					let datos = JSON.parse(await res.text())
					console.log(datos)
	
					escalaBloques=datos.escalaBloquesJson;
					escalaTOtal=datos.escalaTotalJson;
					resultados=datos.resultadosJson;
					console.log(resultados)
					console.log(datos.resultadosJson)
	
				   
					variablesTitulos=[...datos.dataSet]
					labeles.push('')
	
					resultados.forEach(function(item, index, object) {
	
	
						labeles.push(item.bloque_respuesta)
						console.log(item.bloque_respuesta)
	
				 
	
					})
	
					escalaBloques.forEach(function(item, index, object) {
	
					  titulos.push(item.desc_calificacion)      
						
					
					})      
					console.log(variablesTitulos)
					labeles.push('')
					
	
	
					await setGrafica()
	
	
	
				
					
				}).then(()=>{
				 
			   
	
				})
	
	}
		
		</script>


<script>


	async function setGrafica(){
	
	
		var lineChart = document.getElementById('lineChart').getContext('2d');
	
		const data = {
	  labels: labeles,
	  datasets: [
	  
		{
		  
		  data: variablesTitulos,
		  borderColor: '#1d7af3',
		  backgroundColor: '#1d7af3',
		  
		  yAxisID: 'y2',
		}
	  ]
	};
		var myLineChart = new Chart(lineChart, {
		type: 'line',
		data: data,
	  
		options: {
		responsive: true,
		plugins: {
		  title: {  
			  text:'Results',
			display: true,
		   
		  },
		  legend: {
			display: false,
		  },
		},
		scales: {
	   
		  y2: {
			type: 'category',
			labels: titulos.reverse(),
			offset: true,
			position: 'left',
		 
			stackWeight: 1,
			grid: {
			  borderColor: '#1d7af3',
			}
		  }
		}
	  },
	
	});
	
	
	
	
	
	
	
	}
	
	
	
	
	</script>

{% endblock javascripts %}