{% extends "layouts/base.html" %}

{% block title %}{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% load Filter %}

{% block content %}

	<div class="content">
		<div class="page-inner animated fadeInRight">
			<div class="page-header">
				<h4 class="page-title">Enrollment Applications</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="{% url 'home' %}">
                            <i class="flaticon-home"></i>
                        </a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<span>Academic</span>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="">Evaluations List</a>
					</li>
				</ul>
			</div>
			<div class="page-category">
                <div class="">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="card">
                                <div class="card-header">
                                    <div class="dropdown" id="panelBuscar">
                                        <button   class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <i class="glyphicon glyphicon-search"></i> Filter
                                        
                                        </button>
                                        <div class="dropdown-menu">
                                            <div class="panel">
                                                <div class="panel-body">
                                                    <form id="buscar" name="buscar" method="POST" action=".">
                                                        {% csrf_token %}
                    
                                                        <table style="width:100%">                                            
                                                            <tr>
                                                                <td class="p-2">Initial Date Finished</td>
                                                                <td></td>
                                                                <td class="p-2">
                                                                    <input id="fechaInicialPersona" name="fechaInicialPersona" value="{{fechaInicialPersona}}" type="date" class="form-control" >
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="p-2">Final Date Finished </td>
                                                                <td></td>
                                                                <td class="p-2">
                                                                    <input id="fechaFinalPersona" name="fechaFinalPersona" value="{{fechaFinalPersona}}" type="date" class="form-control" >
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="p-2">Name</td>
                                                                <td></td>
                                                                <td class="p-2">
                                                                    <input id="personaBuscarNombrePersona" name="personaBuscarNombrePersona" value="{{personaBuscarNombrePersona}}" type="text" class="form-control" >
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="p-2">Id Number</td>
                                                                <td></td>
                                                                <td class="p-2">
                                                                    <input id="idNumberPersona" name="idNumberPersona" value="{{idNumberPersona}}"  type="text" class="form-control" >
                                                                </td>
                                                            </tr>
                                                   
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td class="p-2">
                                                                    <input type="" class="btn btn-primary" value="Filter" >
                                                                    &nbsp;
                                                                    <input type="button" onclick="reload()" class="btn btn-default" value="Clean">
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-component-like table-borderless text-center">
                                            <thead>
                                                <tr>
                                                    <th style="width: 65px;"></th>
                                                    <th>Names</th>
                                                    <th>Activity</th>
                                                    <th>Topic</th>

                                                    <th>Take Date</th>
                                                    <th>Type</th>
                                                    <th>Status</th>
                                                    <th>Tota Score</th>

                                                    <th>Scale Result</th>

                                                    
                                                    <th></th>
                                                    <th></th>  
                                                    <th></th>       
                                                </tr>
                                            </thead>
                                            <tbody class="data-cargando">
                                                {% for exam in ExamenList %}
                            
                                                <tr style="cursor:pointer;"  >
                                                    <td ></td>
                                                   <td>{{exam.usuario}}</td>
                                                   <td>{{exam.fk_Actividad.fk_estructura_programa}}</td>
                                                   <td>{{exam.fk_Actividad.fk_estructura_programa.fk_estructura_padre}}</td>

                                                   <td>{{exam.fechaInicio}}</td>
                                                   <td>{{exam.fk_Actividad.fk_estructura_programa.fk_categoria}}</td>
                                                   <td>{{exam.estadoExamen|tipoExamen}}</td>
                                                   <td>{{exam.PuntuacionFinal}}</td>


                                                   <td>  
                                                    {% if exam.estadoExamen == 3 %}
                                                       {{exam.pk|scalaPuntuacion}}
                                                       {% endif %}
                                                    </td>


                                                   <td> 
                                                       {% if exam.estadoExamen == 3 %} <a target="blank" href="{%url 'SeeTest'  %}?id={{exam.pk}}"   onclick="" > <button class="btn btn-info btn-sm"> <i class="fas fa-search"></i> Review</a> </button> {% endif %}
                                                    </td>
                                                   <td>  
                                                    
                                                    {%if exam.fk_Actividad.fk_estructura_programa.fk_categoria.valor_elemento == 'activityExpert' %}	
                                      
                                                    {% if exam.estadoExamen == 3 %}        <a  href="javascript:void(0);" ><button class="btn btn-info btn-sm" onclick="openSeeResults({{exam.pk}})" > <i class="fas fa-search"></i> See Results</a> </button> {% endif %}

                                                    {% endif %}
                                                       
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                
                                                {% endfor %}
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                                <div class="card-footer">
                                    
                                     <nav aria-label="Page navigation example">
                                         <ul class="pagination justify-content-center">
                                         {% if ExamenList.has_previous %}
                                             <li class="page-item">
                                                 <a class="page-link" href="?page=1">&laquo; First</a>
                                             </li>
                                             <li class="page-item">
                                                 <a class="page-link" href="?page={{ ExamenList.previous_page_number }}">Previous</a>
                                             </li>
                                         {% else %}
                                             <li class="page-item disabled">
                                                 <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                             </li>
                                         {% endif %}
                                 
                                         {% if ExamenList.number|add:'-4' > 1 %}
                                             <li class="page-item"><a class="page-link" href="?page={{ ExamenList.number|add:'-5' }}">&hellip;</a></li>
                                         {% endif %}
                                 
                                         {% for i in ExamenList.paginator.page_range %}
                                             {% if ExamenList.number == i %}
                                             <li class="page-item active" aria-current="page">
                                               <span class="page-link">
                                                 {{ i }}
                                                 <span class="sr-only">(current)</span>
                                               </span>
                                             </li>
                                             {% elif i > ExamenList.number|add:'-5' and i < ExamenList.number|add:'5' %}
                                                 <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                             {% endif %}
                                         {% endfor %}
                                 
                                         {% if ExamenList.paginator.num_pages > ExamenList.number|add:'4' %}
                                            <li class="page-item"><a class="page-link" href="?page={{ ExamenList.number|add:'5' }}">&hellip;</a></li>
                                         {% endif %}
                                 
                                         {% if ExamenList.has_next %}
                                             <li class="page-item">
                                                 <a class="page-link" href="?page={{ ExamenList.next_page_number }}">Next</a>
                                             </li>
                                             <li class="page-item">
                                                 <a class="page-link" href="?page={{ ExamenList.paginator.num_pages }}">Last &raquo;</a>
                                             </li>
             
                                         {% else %}
                                             <li class="page-item disabled">
                                                 <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                                             </li>
                                         {% endif %}
                                         </ul>
                                     </nav>
                                     <div class="clearfix"></div>

                                </div>
                            </div>
                          
                           
                
                        </div>
                    </div>
                </div>
            </div>
 
		</div>			            
    </div>
	
<script>
var Persona=0;

function sendForm(id){
    Persona=id;

    
   
    //$(this).append('<input type="hidden" name="idPersona" id="idPersona" value="value"  /> ');
    document.getElementById('PersonId').value=Persona;
   // alert(document.getElementById('idPersona').value)

    document.getElementById("PersonaForm").submit();

}


function ManagePersonas(id){
    Persona=id;
    



}


function showModal(id){
    Persona=id;
    

let url='MatriculacionAddModal/';
fetch(url,{
	
}).then(function(result){

return result.text();

}).then(function(result){
	
	let unit=document.getElementById("modalContent").innerHTML=result;

});
    $("#AdministrarMatricula").modal("show");
    
  
}


function enviar(){

var xhr = new XMLHttpRequest();
xhr.open("POST", "save/"); 
xhr.onload = function(event){ 
//alert("Success, server responded with: " + event.target.response); // raw response
alerta(1); // raw response

$("#AdministrarMatricula").modal('toggle');

}; 
// or onerror, onabort
var formData = new FormData(document.getElementById("enroll")); 
formData.append('id', Persona);

xhr.send(formData);

}



</script>



<script>
var labeles=[];
var variablesTitulos=[];
var titulos=[];

async function openSeeResults  (id)  {
       
            renderModalResults(id).then(()=>{
            
               $("#ModalResults").modal("show");
            })
        }    

async function renderModalResults(id){
    return fetch("{% url 'GraficaResultados' %}", {
                ...fetchObject,
                body: JSON.stringify({
             data: {
                    
                    method:'Show',
                    
                }
            })
            })
            .then(async (res) => {
                document.getElementById("modalContentResults").innerHTML = await res.text()
                await getGrafica(id)

            }).then(()=>{
             

            })

}

async function getGrafica(id){

    return fetch("{% url 'GraficaResultados' %}", {
                ...fetchObject,
                body: JSON.stringify({
             data: {
                    
                    method:'Set',
                    id:id
                }
            })
            })
            .then(async (res) => {
                let datos = JSON.parse(await res.text())
                console.log(datos)

                escalaBloques=datos.escalaBloquesJson;
                escalaTOtal=datos.escalaTotalJson;
                resultados=datos.resultadosJson;
                console.log(resultados)
                console.log(datos.resultadosJson)

               
                variablesTitulos=[...datos.dataSet]
                labeles.push('')

                resultados.forEach(function(item, index, object) {


                    labeles.push(item.bloque_respuesta)
                    console.log(item.bloque_respuesta)

             

                })

                escalaBloques.forEach(function(item, index, object) {

                  titulos.push(item.desc_calificacion)      
                    
                
                })      
                console.log(variablesTitulos)
                labeles.push('')
                


                await setGrafica()



            
                
            }).then(()=>{
             
           

            })

}
    
    </script>




<!--  Modal-->
<div class="modal fade " tabindex="-1" role="dialog" id="ModalResults">
    <div class="modal-dialog modal-lg modal-dialog-centered"" role="document" id="modalContentResults">
     
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

<!-- /.modal -->


<!-- /.Graficaa -->
<script>


async function setGrafica(){


    var lineChart = document.getElementById('lineChart').getContext('2d');

    const data = {
  labels: labeles,
  datasets: [
  
    {
      
      data: variablesTitulos,
      borderColor: '#1d7af3',
      backgroundColor: '#1d7af3',
      
      yAxisID: 'y2',
    }
  ]
};
    var myLineChart = new Chart(lineChart, {
	type: 'line',
	data: data,
  
    options: {
    responsive: true,
    plugins: {
      title: {  
          text:'Results',
        display: true,
       
      },
      legend: {
        display: false,
      },
    },
    scales: {
   
      y2: {
        type: 'category',
        labels: titulos.reverse(),
        offset: true,
        position: 'left',
     
        stackWeight: 1,
        grid: {
          borderColor: '#1d7af3',
        }
      }
    }
  },

});







}




</script>
{% endblock content %}
	
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
