{% extends "layouts/base.html" %}

{% block title %}{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% load Filter %}

{% block content %}

	<div class="content">
		<div class="page-inner animated fadeInRight">
			<div class="page-header">
				<h4 class="page-title">Tests list</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="{% url 'home' %}">
                            <i class="flaticon-home"></i>
                        </a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<span>Academic</span>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
					    <span>Tests list</span>
					</li>
				</ul>
			</div>
			<div class="page-category">
                <div class="">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="card">
                                <div class="card-header">
                                    <div class="dropdown" id="panelBuscar">
                                        <button   class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <i class="glyphicon glyphicon-search"></i> Filter
                                        
                                        </button>
                                        {% if isAdmin == True %}
                                        <button   class="btn btn-default btn-info" type="button" id="SetTime" onclick="SetTimeOuts()">
                                            <i class="fa fa-clock mr-1"></i> Update TimeOuts
                                        
                                        </button>
                                        {%endif%}
                                        <div class="dropdown-menu">
                                            <div class="panel">
                                                <div class="panel-body">
                                                    <form id="buscar" name="buscar" method="POST" action=".">
                                                        {% csrf_token %}
                    
                                                        <table style="width:100%">    
                                                            
                                                            {% if isAdmin == True %}
                                                            <tr>
                                                                <td class="p-2">Person</td>
                                                                <td></td>
                                                                <td class="p-2">
                                                                    <input  class="form-control" type="text" readonly id="PersonExamen" name="PersonExamen" value="{{personaBuscarNombre}}" >
                                                                    <input   type="hidden" readonly id="PersonIdExamen" name="PersonIdExamen" value="{{idPersonaExamen}}" >
                            
                                                                </td>
                                                                <td class="p-2">
                                                                 <a href="javascript:void(0);"  onclick="modalBuscarPersona()">   <span class="fas fa-search">     </span></a> 
                                                                </td>
                                                                
                                                            </tr>


                                                            {% endif %}
                                                            <tr>
                                                                <td class="p-2">Initial Date </td>
                                                                <td></td>
                                                                <td class="p-2">
                                                                    <input id="fechaInicialPersona" name="fechaInicialExamen" value="{{fechaInicialExamen}}" type="date" class="form-control" >
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="p-2">Final Date  </td>
                                                                <td></td>
                                                                <td class="p-2">
                                                                    <input id="fechaFinalPersona" name="fechaFinalExamen" value="{{fechaFinalExamen}}" type="date" class="form-control" >
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="p-2">Type </td>
                                                                <td></td>
                                                                <td class="p-2">
                                                                    <select id="tipoExamen" name="tipoExamen"  class="form-control" >
                                                                            <option value="">  </option>
                                                                            <option value="1"{% if tipoExamen == 1 %} selected {% endif %} >Regular Test </option>
                                                                            <option value="2" {% if tipoExamen == 2 %} selected {% endif %}> Expert Test </option>


                                                                    </select>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td class="p-2">Only Finished </td>
                                                                <td></td>
                                                                <td class="p-2">
                                                                  <input type="checkbox" {% if soloListos == 'on' %}  checked {% endif %} name="soloListos" id="soloListos">
                                                                </td>
                                                            </tr>
                                                      
                                                   
                                                      
                                                   
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td class="p-2">
                                                                    <input type="submit" class="btn btn-primary" value="Filter" >
                                                                    &nbsp;
                                                                    <input type="button" onclick="reload()" class="btn btn-default" value="Clean">
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-component-like table-borderless text-center">
                                            <thead>
                                                <tr>
                                                    {% if isAdmin == True %}
                                                    <th>Names</th>
                                                    {%endif%}
                                                    <th>Activity</th>
                                                    <th>Topic</th>

                                                    <th>Take Date</th>
                                                    <th>Type</th>
                                                    <th>Status</th>
                                                    <th>Total Score</th>

                                                    <th>Scale Result</th>

                                                    
                                                    <th></th>
                                                    <th></th>  
                                                    <th></th>       
                                                </tr>
                                            </thead>
                                            <tbody class="data-cargando">
                                                {% for exam in ExamenList %}
                            
                                                <tr style="cursor:pointer;"  >
                                                    {% if isAdmin == True %}
                                                   <td>{{exam.usuario}}</td>
                                                   {%endif%}
                                                   <td>{{exam.fk_Actividad.fk_estructura_programa}}</td>
                                                   <td>{{exam.fk_Actividad.fk_estructura_programa.fk_estructura_padre}}</td>

                                                   <td>{{exam.fechaInicio}}</td>
                                                   <td>{{exam.fk_Actividad.fk_estructura_programa.fk_categoria}}</td>
                                                   <td>{{exam.estadoExamen|tipoExamen}}</td>
                                                   <td>{{exam.PuntuacionFinal}}</td>


                                                   <td>  
                                                    {% if exam.estadoExamen == 3 %}
                                                       {{exam.pk|scalaPuntuacion}}
                                                       {% endif %}
                                                    </td>


                                                   <td> 
                                                       {% if exam.estadoExamen != 1 %} <a style="color: white;" target="blank" href="{%url 'SeeTest'  %}?id={{exam.pk}}"   onclick="" > <button class="btn btn-info btn-sm"> <i class="fas fa-search mr-1"></i> Review</a> </button> {% endif %}
                                                    </td>
                                                   <td>  
                                                    
                                                    {%if exam.fk_Actividad.fk_estructura_programa.fk_categoria.valor_elemento == 'activityExpert' %}	
                                      
                                                    {% if exam.estadoExamen == 3 %}        <a style="color: white;"   href="javascript:void(0);" ><button class="btn btn-info btn-sm" onclick="openSeeResults({{exam.pk}})" > <i class="fas fa-search mr-1"></i> See Results</a> </button> {% endif %}

                                                    {% endif %}
                                                       
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                
                                                {% endfor %}
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                                <div class="card-footer">
                                    
                                     <nav aria-label="Page navigation example">
                                         <ul class="pagination justify-content-center">
                                         {% if ExamenList.has_previous %}
                                             <li class="page-item">
                                                 <a class="page-link" href="?page=1">&laquo; First</a>
                                             </li>
                                             <li class="page-item">
                                                 <a class="page-link" href="?page={{ ExamenList.previous_page_number }}">Previous</a>
                                             </li>
                                         {% else %}
                                             <li class="page-item disabled">
                                                 <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                             </li>
                                         {% endif %}
                                 
                                         {% if ExamenList.number|add:'-4' > 1 %}
                                             <li class="page-item"><a class="page-link" href="?page={{ ExamenList.number|add:'-5' }}">&hellip;</a></li>
                                         {% endif %}
                                 
                                         {% for i in ExamenList.paginator.page_range %}
                                             {% if ExamenList.number == i %}
                                             <li class="page-item active" aria-current="page">
                                               <span class="page-link">
                                                 {{ i }}
                                                 <span class="sr-only">(current)</span>
                                               </span>
                                             </li>
                                             {% elif i > ExamenList.number|add:'-5' and i < ExamenList.number|add:'5' %}
                                                 <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                             {% endif %}
                                         {% endfor %}
                                 
                                         {% if ExamenList.paginator.num_pages > ExamenList.number|add:'4' %}
                                            <li class="page-item"><a class="page-link" href="?page={{ ExamenList.number|add:'5' }}">&hellip;</a></li>
                                         {% endif %}
                                 
                                         {% if ExamenList.has_next %}
                                             <li class="page-item">
                                                 <a class="page-link" href="?page={{ ExamenList.next_page_number }}">Next</a>
                                             </li>
                                             <li class="page-item">
                                                 <a class="page-link" href="?page={{ ExamenList.paginator.num_pages }}">Last &raquo;</a>
                                             </li>
             
                                         {% else %}
                                             <li class="page-item disabled">
                                                 <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                                             </li>
                                         {% endif %}
                                         </ul>
                                     </nav>
                                     <div class="clearfix"></div>

                                </div>
                            </div>
                          
                           
                
                        </div>
                    </div>
                </div>
            </div>
 
		</div>			            
    </div>
	
    <!--Buscar Personas DB Modal-->
<div class="modal fade" tabindex="-1" role="dialog" id="BuscarPersonaModal">
    <div class="modal-dialog" role="document" id="modalContentPersona">
     
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

<!-- /.modal -->
<script>
var Persona=0;

function reload(){

    window.location.href="{% url 'TestList' %}";
}
function sendForm(id){
    Persona=id;

    
   
    //$(this).append('<input type="hidden" name="idPersona" id="idPersona" value="value"  /> ');
    document.getElementById('PersonId').value=Persona;
   // alert(document.getElementById('idPersona').value)

    document.getElementById("PersonaForm").submit();

}


function ManagePersonas(id){
    Persona=id;


}


function showModal(id){
    setLoading()
    Persona=id;
    

let url='MatriculacionAddModal/';
fetch(url,{
	
}).then(function(result){

return result.text();

}).then(function(result){
	
	let unit=document.getElementById("modalContent").innerHTML=result;
    $("#AdministrarMatricula").modal("show");
    stopLoading()

});
    
  
}


function enviar(){

var xhr = new XMLHttpRequest();
xhr.open("POST", "save/"); 
xhr.onload = function(event){ 
//alert("Success, server responded with: " + event.target.response); // raw response
alerta(1); // raw response

$("#AdministrarMatricula").modal('toggle');

}; 
// or onerror, onabort
var formData = new FormData(document.getElementById("enroll")); 
formData.append('id', Persona);

xhr.send(formData);

}



</script>

<!--Filtros-->


<script>
 
 
function modalBuscarPersona(){
    

setLoading()
    let url="{% url 'ModalPublico'%}";
    fetch(url,{
        mode: 'no-cors',
      method: 'get'
    }).then(function(result){
    
    return result.text();
    
    }).then(function(result){
        
        let unit=document.getElementById("modalContentPersona").innerHTML=result;
        $("#BuscarPersonaModal").modal("show");
        stopLoading()

    
    });
        
      
    }


    function BuscarPersonaPost(){
	
        setLoading()
    let url="{% url 'ModalPublico'%}";
    let formData = new FormData(); 
    formData.append("nombreBuscar", nombreBuscar.value);


    fetch(url,{
        headers: {
						'Accept': 'application/json',
						'X-Requested-With': 'XMLHttpRequest',
						"X-CSRFToken": getCookie('csrftoken')
					},
					mode: 'same-origin',
					method: 'POST',
                    body:formData
    }).then(function(result){
    
    return result.text();
    
    }).then(function(result){
        
        let unit=document.getElementById("modalContentPersona").innerHTML=result;
        $("#BuscarPersonaModal").modal("show");
        stopLoading()
     
    
    });
        
      
    }


function SelectPersona(nombre, id){
$("#BuscarPersonaModal").modal("toggle");

PersonExamen.value=nombre;
PersonIdExamen.value=id;




}
function goToPage(page){
    setLoading()

    paginaActual=paginaActual+1;
    let url='ModalPublico/'+"?page="+page.toString();
    fetch(url,{
        mode: 'no-cors',
      method: 'get'
    }).then(function(result){
    
    return result.text();
    
    }).then(function(result){
        
        let unit=document.getElementById("modalContentPersona").innerHTML=result;
        $("#BuscarPersonaModal").modal("show");
        stopLoading()
    
    });
        
      
    }

</script>

<script>
var labeles=[];
var variablesTitulos=[];
var titulos=[];

async function openSeeResults  (id)  {
    setLoading()
       
            renderModalResults(id).then(()=>{
            
               $("#ModalResults").modal("show");
               stopLoading()
            })
        }    

async function renderModalResults(id){
    return fetch("{% url 'GraficaResultados' %}", {
                ...fetchObject,
                body: JSON.stringify({
             data: {
                    
                    method:'Show',
                    id:id
                }
            })
            })
            .then(async (res) => {
                document.getElementById("modalContentResults").innerHTML = await res.text()
                await getGrafica(id)

            }).then(()=>{
             

            })

}

async function SetTimeOuts(id){
    setLoading()
    return fetch("{% url 'setTimeOuts' %}", {
                ...fetchObject,
                body: JSON.stringify({
           
            })
            })
            .then(async (res) => {
                stopLoading()
                alertaMensajitos(1,'Done', 'Registers Updated')
                window.location.href="{% url 'TestList' %}"

            }).then(()=>{
             

            })

}

async function getGrafica(id){

    return fetch("{% url 'GraficaResultados' %}", {
                ...fetchObject,
                body: JSON.stringify({
             data: {
                    
                    method:'Set',
                    id:id
                }
            })
            })
            .then(async (res) => {
                let datos = JSON.parse(await res.text())
                console.log(datos)

                escalaBloques=datos.escalaBloquesJson;
                escalaTOtal=datos.escalaTotalJson;
                resultados=datos.resultadosJson;
                console.log(resultados)
                console.log(datos.resultadosJson)

               
                variablesTitulos=[...datos.dataSet]
                labeles.push('')

                resultados.forEach(function(item, index, object) {


                    labeles.push(item.bloque_respuesta)
                    console.log(item.bloque_respuesta)

             

                })

                escalaBloques.forEach(function(item, index, object) {

                  titulos.push(item.desc_calificacion)      
                    
                
                })      
                console.log(variablesTitulos)
                labeles.push('')
                


                await setGrafica()



            
                
            }).then(()=>{
             
           

            })

}
    
    </script>




<!--  Modal-->
<div class="modal fade " tabindex="-1" role="dialog" id="ModalResults">
    <div class="modal-dialog modal-lg modal-dialog-centered"" role="document" id="modalContentResults">
     
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

<!-- /.modal -->


<!-- /.Graficaa -->
<script>

	
function matricular(id){


setLoading()

let url="{% url 'saveMatricula'%}";
    let formData = new FormData(); 
    formData.append("id", id);



    fetch(url,{
        headers: {
						'Accept': 'application/json',
						'X-Requested-With': 'XMLHttpRequest',
						"X-CSRFToken": getCookie('csrftoken')
					},
					mode: 'same-origin',
					method: 'POST',
                    body:formData
    }).then(async function(result){
        stopLoading()
		let resultado=await result.text()
	
		if(resultado==2){
		alertaMensajitos(5,'There was a error with you application','You already have a application including this structure');
		return
	}

	
alerta(1); // raw response
window.location.href="{% url 'MyEnrollments'%}";
    
    }).then(function(result){
        
    
    });
        
        
      
    }
async function setGrafica(){


    var lineChart = document.getElementById('lineChart').getContext('2d');

    const data = {
  labels: labeles,
  datasets: [
  
    {
      
      data: variablesTitulos,
      borderColor: '#1d7af3',
      backgroundColor: '#1d7af3',
      
      yAxisID: 'y2',
    }
  ]
};
    var myLineChart = new Chart(lineChart, {
	type: 'line',
	data: data,
  
    options: {
    responsive: true,
    plugins: {
      title: {  
          text:'Results',
        display: true,
       
      },
      legend: {
        display: false,
      },
    },
    scales: {
   
      y2: {
        type: 'category',
        labels: titulos.reverse(),
        offset: true,
        position: 'left',
     
        stackWeight: 1,
        grid: {
          borderColor: '#1d7af3',
        }
      }
    }
  },

});







}




</script>
{% endblock content %}
	
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
