{% extends "layouts/base.html" %}
{% load static %}

{% block title %}{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<div class="content">
   <div class="page-inner animated fadeInRight">
      <div class="page-header">
         <h4 class="page-title">Academic</h4>
         <ul class="breadcrumbs">
            <li class="nav-home">
               <a href="{% url 'home' %}">
                  <i class="flaticon-home"></i>
               </a>
            </li>
            <li class="separator">
               <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
               <a href="{% url 'academic' %}">Academic</a>
            </li>
            <li class="separator">
               <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
               <a href="{% url 'programa' programa.url %}">{{programa.descripcion}}</a>
            </li>
            <li class="separator">
               <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
               <a href="{% url 'proceso' programa=programa.url proceso=proceso.url %}">{{proceso.descripcion}}</a>
            </li>
            <li class="separator">
               <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
               <a
                  href="{% url 'unidad' programa=programa.url proceso=proceso.url unidad=unidad.url %}">{{unidad.descripcion}}</a>
            </li>
            <li class="separator">
               <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
               <a
                  href="{% url 'curso' programa=programa.url proceso=proceso.url unidad=unidad.url curso=curso.url %}">{{curso.descripcion}}</a>
            </li>
         </ul>
      </div>
      <div class="page-category">
         <div class="card">
            <div class="card-header">
               <h2>{{curso.descripcion}}</h2>
               <div class="form-group w-100 d-flex justify-content-end">
                  <div class="input-group">
                     <input id="txtSearch" type="text" class="form-control" placeholder="Search for...">
                     <div class="input-group-append">
                        <span id="clearBtn" class="btn btn-danger">
                           <i class="fa fa-broom"></i>
                        </span>
                        <span id="searchBtn" class="btn btn-primary">
                           <i class="fa fa-search"></i>
                        </span>
                        <span id="sortableBtn" class="btn btn-success">
                           <i class="fas fa-lock mr-1"></i>
                           Sort
                        </span>
                     </div>
                  </div>
               </div>
            </div>
            <main class="card-body is-loading-lg">

            </main>
         </div>
      </div>
   </div>
</div>

<!-- Modal nuevo tópico -->
<div class="modal fade" id="addNewModal" tabindex="-1" role="dialog">
   <div class="modal-dialog  modal-dialog-centered" role="document" id="addNewModalContent">

   </div>
</div>
<!-- Modal escoger actividad -->
<div class="modal fade" id="addChooseActivities" tabindex="-1" role="dialog">
   <div class="modal-dialog  modal-dialog-centered" role="document" id="modalContentChoose">

   </div>
</div>

<!-- Modal nueva evaluación -->
<div class="modal fade" id="addNewTest" tabindex="-1" role="dialog">
   <div class="modal-dialog  modal-dialog-centered" role="document" id="modalContentTest">

   </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
   let editmode = false
   let sortable = false
   let sortableActivity = false
   let query = ""
   let selectedId = ""
   let selectedActivity = ""
   let ordenamientoArray = []
   let ordenamientoArrayActivity = []
   let sortableList = {}
   const updateOrderActivity = (id) =>{
      let actividades = document.getElementById(`childsTopic${id}`).children
      ordenamientoArrayActivity = []
      actividades.forEach((pagina, index) => {
         let orderObj = {
            pk: pagina.id.slice(12),
            order: index + 1
         }
         ordenamientoArrayActivity.push(orderObj)
      })
      fetch("{% url 'modalAddActividad'%}", {
         ...fetchObject,
         body: JSON.stringify({
            query,
            method: "Sort",
            order: ordenamientoArrayActivity
         })
      })
      .then(async (res) => {
         let resultado = JSON.parse(await res.text())
         if(resultado.message === "Perfect"){
            alerta(7)
         }
         if(resultado.message === "Error"){
            alerta(5)
         }
         sortableList[id].destroy()
      })
   }
   const updateOrder = () => {
      let paginas = document.querySelectorAll(".card-list-item-descripcion")
      ordenamientoArray = []
      paginas.forEach((pagina, index) => {
         let orderObj = {
            pk: pagina.id.slice(12),
            order: index + 1
         }
         ordenamientoArray.push(orderObj)
      })
   }
   const renderSortedContent = () => {
      updateOrder()
      document.querySelector("main.card-body").classList.add("is-loading")
      fetch("{% url 'modalAddTopico'%}", {
         ...fetchObject,
         body: JSON.stringify({
            query,
            method: "Sort",
            order: ordenamientoArray
         })
      })
      .then(async (res) => {
         renderContent()
      })
   }
   const chooseModal = async (type) => {
      $("#addChooseActivities").modal("hide")
      await renderModalActivity()
      let url
      if (type == "test") {
         url = "{% url 'modalNewTest' %}"
      }
      if (type == "lesson") {
         url = "{% url 'modalNewLesson' %}"
      }
      if (type == "homework") {
         url = "{% url 'modalNewHomework' %}"
      }
      if (type == "forum") {
         url = "{% url 'modalNewForum' %}"
      }
      await renderModalNewActivity(url)
   }
   const showContent = (id) => {
      let contenido = document.getElementById(`contentTopic${id}`)
      contenido.classList.toggle("card-list-item-close")
   }
   const showChilds = (id) => {
      let contenido = document.getElementById(`childsTopic${id}`)
      contenido.classList.toggle("card-list-item-close")
      if(sortableActivity){
         updateOrderActivity(id)
      }
      sortableActivity = false
      for (let item of contenido.children) {
         item.classList.remove("card-list-item-sortable")
      }
   }
   const renderContent = () => {
      document.querySelector("main.card-body").classList.add("is-loading")
      fetch("{% url 'contenidoTopicos'%}", {
         ...fetchObject,
         body: JSON.stringify({
            url: "{{programa.url}}",
            urlProceso: "{{proceso.url}}",
            urlUnidad: "{{unidad.url}}",
            urlCurso: "{{curso.url}}",
            query
         })
      })
         .then(async (res) => {
            result = await res.text()
            document.querySelector("main.card-body").classList.remove("is-loading")
            document.querySelector("main.card-body").innerHTML = result
            updateOrder()
         })
   }
   renderContent()
   const updateModel = (url, method, data, id) => {
      return fetch(url, {
         ...fetchObject,
         body: JSON.stringify({
            method,
            data,
            id,
            padreActivity: selectedActivity
         })
      })
   }

   const openAddActivity = (idPadre) => {
      editmode = false
      selectedActivity = idPadre
      renderModalChooseActivities().then(() => {
         $("#addChooseActivities").modal("show")
      })
   }

   const renderModalChooseActivities = () => {
      return fetch("{% url 'modalChooseActivity' %}", {
         ...fetchObject
      })
         .then(async (res) => {
            document.getElementById("modalContentChoose").innerHTML = await res.text()
         })
   }
   const renderModalActivity = () => {
      return fetch("{% url 'modalAddActividad'%}", {
         ...fetchObject,
         body: JSON.stringify({
            method: "Show",
         })
      })
         .then(async (res) => {
            document.getElementById("addNewModalContent").innerHTML = await res.text()
         })
         .then(() => {
            $("#addNewModal").modal("show")
         })
   }
   const renderModalNewActivity = (url) => {
      return fetch(url, {
         ...fetchObject,
         body: JSON.stringify({
            method: "Show",
         })
      })
         .then(async (res) => {
            document.getElementById("sectionDetailed").innerHTML = await res.text()
         })
         .then(() => {
            const formActividad = document.getElementById("formActividad")
            formActividad.addEventListener("submit", (e) => {
               e.preventDefault()
               clickSave(formActividad, url)
                  .then(() => {
                     $("#addNewModal").modal("hide")
                     renderContent()
                  })
            })
         })
   }
   const renderModalEditActivity = (id, type) => {
      let url
      if (type == "Test" || type == "Expert test") {
         url = "{% url 'modalNewTest' %}"
      }
      if (type == "Lesson") {
         url = "{% url 'modalNewLesson' %}"
      }
      if (type == "Homework") {
         url = "{% url 'modalNewHomework' %}"
      }
      if (type == "Forum") {
         url = "{% url 'modalNewForum' %}"
      }
      return fetch(url, {
         ...fetchObject,
         body: JSON.stringify({
            method: "Find",
            id
         })
      })
         .then(async (res) => {
            document.getElementById("sectionDetailed").innerHTML = await res.text()
         })
         .then(() => {
            const formActividad = document.getElementById("formActividad")
            formActividad.addEventListener("submit", (e) => {
               e.preventDefault()
               clickSave(formActividad, url)
                  .then(() => {
                     $("#addNewModal").modal("hide")
                     renderContent()
                  })
            })
         })
   }

   const clickSave = (formElement, url) => {
      const formData = new FormData(formElement);
      const data = {}
      for (var [key, value] of formData.entries()) {
         data[key] = value
      }
      if (editmode) {
         return updateModel(url, "Update", data, idSeleted)
            .then(async (res) => {
               const text = JSON.parse(await res.text())
               if (text.message == "error") alerta(5)
               else alerta(2)
            })
      }
      else {
         return updateModel(url, "Create", data, null)
            .then(async (res) => {
               const text = JSON.parse(await res.text())
               if (text.message == "error") alerta(5)
               else alerta(1)
            })
      }
   }
   const openGoActivity = (id, type) => {
      if (type === "Test") {
         window.location.href = `{% url 'createQuestions' %}?id=${id}`;
      }
      if (type === "Expert test") {
         window.location.href = `{% url 'createQuestions' %}?id=${id}`;

      }
      if (type === "Lesson") {
         window.location.href = `{% url 'createLessons' %}?id=${id}`;
      }
      if (type === "Homework") {
         return
      }
      if (type === "Forum") {
         return
      }
   }
   const openEditActivity = (id, type) => {
      editmode = true
      idSeleted = id
      fetch("{% url 'modalAddActividad'%}", {
         ...fetchObject,
         body: JSON.stringify({
            method: "Find",
            id
         })
      })
         .then(async (res) => {
            document.getElementById("addNewModalContent").innerHTML = await res.text()
            await renderModalEditActivity(id, type)
         })
         .then(() => {
            $("#addNewModal").modal("show")
         })
   }
   const openDeleteActivity = async (id) => {
      const elimino = await alerta(3)
      if (elimino) {
         fetch("{% url 'modalAddActividad'%}", {
            ...fetchObject,
            body: JSON.stringify({
               method: "Delete",
               id
            })
         })
            .then(async (res) => {
               const text = JSON.parse(await res.text())
               if (text.message == "error") alerta(5)
               else alerta(4)
            })
            .then(() => {
               renderContent()
            })
      }
   }
   const openDeleteTopic = async (id) => {
      const elimino = await alerta(3)
      if (elimino) {
         fetch("{% url 'modalAddTopico'%}", {
            ...fetchObject,
            body: JSON.stringify({
               method: "Delete",
               id
            })
         })
            .then(async (res) => {
               const text = JSON.parse(await res.text())
               if (text.message == "error") alerta(5)
               else alerta(4)
            })
            .then(() => {
               renderContent()
            })
      }
   }
   const openEditTopic = (id) => {
      editmode = true
      idSeleted = id
      fetch("{% url 'modalAddTopico'%}", {
         ...fetchObject,
         body: JSON.stringify({
            method: "Find",
            id
         })
      })
         .then(async (res) => {
            document.getElementById("addNewModalContent").innerHTML = await res.text()
         })
         .then(() => {
            $("#addNewModal").modal("show")
            const formTopico = document.getElementById("formTopico")
            formTopico.addEventListener("submit", (e) => {
               e.preventDefault()
               clickSave(formTopico, "{% url 'modalAddTopico' %}")
                  .then(() => {
                     $("#addNewModal").modal("hide")
                     renderContent()
                  })
            })
         })
   }
   const openAddTopic = () => {
      editmode = false
      fetch("{% url 'modalAddTopico'%}", {
         ...fetchObject,
         body: JSON.stringify({
            method: "Show",
            id: "{{curso.pk}}"
         })
      })
         .then(async (res) => {
            document.getElementById("addNewModalContent").innerHTML = await res.text()
         })
         .then(() => {
            $("#addNewModal").modal("show")
            const formTopico = document.getElementById("formTopico")
            formTopico.addEventListener("submit", (e) => {
               e.preventDefault()
               clickSave(formTopico, "{% url 'modalAddTopico' %}")
                  .then(() => {
                     $("#addNewModal").modal("hide")
                     renderContent()
                  })
            })
         })
   }
   const openSortTopic = (id)=>{
      let contenido = document.getElementById(`childsTopic${id}`)
      let isClosed = contenido.classList.toString().includes("card-list-item-close")
      if(isClosed){
         showChilds(id)
      }
      sortableActivity = !sortableActivity
      const listaPaginas = document.getElementById(`childsTopic${id}`)
      if (sortableActivity) {
         for (let item of listaPaginas.children) {
            item.classList.add("card-list-item-sortable")
         }
         sortableList[id] = new Sortable(listaPaginas, {
            animation: 150,
            ghostClass: 'blue-background-class'
         });
         return
      }
      updateOrderActivity(id)
      for (let item of listaPaginas.children) {
         item.classList.remove("card-list-item-sortable")
      }
   }
   const toggleTime = () => {
      const time = document.getElementById("timeActivity")
      const duration = document.getElementById("durationActivity")
      if (!time.disabled) {
         time.value = null
         duration.value = null
      }
      time.disabled = !time.disabled
      duration.disabled = !duration.disabled

   }

   const toggleExpert = () => {
      const time = document.getElementById("timeActivity")
      const toggle = document.getElementById("checkDurationCB")
      const duration = document.getElementById("durationActivity")
      const block = document.getElementById("Blockqualification")
      const repeats = document.getElementById("repeats")
      const Minimun = document.getElementById("minApp")



      if (!time.disabled) {
         time.value = null
         duration.value = null
         time.disabled = !time.disabled
         duration.disabled = !duration.disabled
      }

      if (!block.disabled) {
         block.value = null


      }
      repeats.value = null
      Minimun.value = null
      repeats.disabled = !repeats.disabled
      Minimun.disabled = !Minimun.disabled
      toggle.checked = false

      toggle.disabled = !toggle.disabled
      block.disabled = !block.disabled

   }
   const searchFor = (text) => {
      let output = text.trim()
      if (output.length > 20) return
      query = output
      renderContent()
   }

   const searchBar = document.querySelector('#txtSearch')
   const clearBtn = document.querySelector('#clearBtn')
   const searchBtn = document.querySelector('#searchBtn')
   const sortableBtn = document.querySelector('#sortableBtn')

   sortableBtn.addEventListener('click', () => {
      sortable = !sortable
      const listaPaginas = document.getElementById("listaPaginas")
      if (sortable) {
         sortableBtn.innerHTML = `<i class="fas fa-lock-open mr-1"></i> Sort`
         for (let item of listaPaginas.children) {
            item.children[0].classList.add("card-list-item-sortable")
         }
         new Sortable(listaPaginas, {
            animation: 150,
            ghostClass: 'blue-background-class'
         });
         return
      }
      sortableBtn.innerHTML = `<i class="fas fa-lock mr-1"></i> Sort`
      for (let item of listaPaginas.children) {
         item.children[0].classList.remove("card-list-item-sortable")
      }
      renderSortedContent()
   })

   clearBtn.addEventListener('click', () => {
      searchBar.value = ""
      query = ""
      searchFor("")
   })
   searchBtn.addEventListener('click', () => {
      searchFor(searchBar.value)
   })
   searchBar.addEventListener('keypress', (e) => {
      if (e.key === 'Enter') {
         searchFor(searchBar.value)
      }
   });
</script>
{% endblock javascripts %}
