{% extends "layouts/base.html" %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
	<style>
		.owl-carousel .item {
    		height: 10rem;
			background-image: url("/static/assets/img/bg-card.jpg") ;
			background-position: center;
			background-size: cover;
			color:white;
    		padding: 1rem;
		}
	</style>
{% endblock stylesheets %}

{% block content %}
	<div class="content">
		<div class="panel-header">
			<div class="page-inner py-5">
				<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
					<div>
						<h1 class="pb-2 mt-2 fw-bold">Welcome {{request.user.username}}!</h1>
					</div>
					<div class="ml-md-auto py-2 py-md-0">
						<a href="{% url 'editProfile' %}" class=" text-white btn bg-dark2 btn-round">My profile</a>
					</div>
				</div>
			</div>
		</div>
		<div class="page-inner animated fadeInUp mt--5">
			{% if rol == 'Student'%}
			<section id="alumno">
				<div class="row mt--2 d-flex justify-content-center">
					<div class="col-md-12">
						<div class="card full-height">
							<div class="card-body">
								<div class="form-row">
									<div class="form-group d-flex justify-content-center col-md-6">
										<div class="card-title text-center d-flex align-items-center">
											<h3 class="section-title text-align-justify" style="font-size: 76px">
												Start your lessons now
												<br>
												<img src="/static/assets/img/index-img2.png"  style="width: 10rem;" alt="">
												<br>
												<div>
													<a href="{% url 'academic' %}" class="btn btn-primary"  style="color: white;">
														<h4 class="card-title" style="color: white;">Go
															<i class="icon-arrow-right-circle ml-2"></i>
														</h4>
													</a>
												</div>
											
											</h3>
										</div>
									</div>
									<div class="form-group d-flex justify-content-center col-md-6">
										<div class="pb-2 pt-4 text-center">
											<img src="/static/assets/img/index-img.png" alt="">
											<br>
											<h3><strong>Learn with us from anywhere!</strong></h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="row d-flex justify-content-center py-3">
					<div class="form-group col-md-12">
						<div class="form-row d-flex justify-content-center">
							<h1>Keep learning!</h1>
						</div>
						<div class="form-row">
							<div class="owl-carousel owl-theme owl-img-responsive">
								<div class="item"> 
										<div class="form-row d-flex justify-content-center">
											<h4>Course</h4>

										</div>
										<div class="form-row d-flex justify-content-center mt-2">
											<h2 class="text-center">Css</h2>

										</div>
										<div class="form-row  d-flex justify-content-center py-2">
											<button class="btn btn-primary btn-sm">
												<i class="fas fa-sign-out-alt fa-2x"></i>
											</button>

										</div>
								</div>
								<div class="item"> 
									<div class="form-row d-flex justify-content-center">
										<h4>Program</h4>

									</div>
									<div class="form-row d-flex justify-content-center mt-2">
										<h2 class="text-center">Extreme fishing</h2>

									</div>
									<div class="form-row d-flex justify-content-center py-2">
										<button class="btn btn-primary btn-sm">
											<i class="fas fa-sign-out-alt fa-2x"></i>
										</button>

									</div>
								</div>
								<div class="item"> 
									<div class="form-row d-flex justify-content-center">
										<h4>Topic</h4>

									</div>
									<div class="form-row d-flex justify-content-center mt-2">
										<h2 class="text-center">Solar panels</h2>

									</div>
									<div class="form-row d-flex justify-content-center py-2">
										<button class="btn btn-primary btn-sm">
											<i class="fas fa-sign-out-alt fa-2x"></i>
										</button>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div> -->
			</section>

			{% elif rol == 'Teacher' %}
			<section id="profesor">
				<div class="row mt--2 d-flex justify-content-center">
					<div class="col-md-12">
						<div class="card full-height">
							<div class="card-body">
								<div class="form-row">
									<div class="form-group d-flex justify-content-center col-md-12">
										<div class="card-title text-center d-flex align-items-center">
											<h3 class="section-title text-align-justify" style="font-size: 76px">
												Create new courses now!
												<br>
												<img src="/static/assets/img/index-img3.png"  style="width: 15rem;" alt="">
												<br>
												<div>
													<a href="{% url 'academic' %}" class="btn btn-primary"  style="color: white;">
														<h4 class="card-title" style="color: white;">Go
															<i class="icon-arrow-right-circle ml-2"></i>
														</h4>
													</a>
												</div>
											
											</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			{% elif rol == 'Admin'  %}
			<section id="gestor">
				<div class="row mt--2 d-flex justify-content-center">
					<div class="col-md-12">
						<div class="card full-height">
							<div class="card-body">
								<div class="row mb-2"><h1><strong>Shortcuts:</strong></h1></div>
								<div class="row">
									<div class="col-sm-6 col-md-3">
										<div class="card card-stats card-primary card-round">
											<div class="card-body">
												<div class="row">
													<div class="col-5">
														<div class="icon-big text-center">
															<i class="fas fa-chalkboard-teacher"></i>
														</div>
													</div>
													<div class="col-7 col-stats text-center">
														<div class="numbers">
															<p class="card-category">Academic</p>
															<h4 class="card-title" style="color: white;">Go
																<a href="{% url 'academic' %}"  style="color: white;">
																	<i class="icon-arrow-right-circle ml-2"></i>
																</a>
															</h4>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-6 col-md-3">
										<div class="card card-stats card-info card-round">
											<div class="card-body">
												<div class="row">
													<div class="col-5">
														<div class="icon-big text-center">
															<i class="fas fa-address-card"></i>
														</div>
													</div>
													<div class="col-7 col-stats">
														<div class="numbers">
															<p class="card-category">Registration</p>
															<h4 class="card-title" style="color: white;">Go
																<a href="{% url 'ManagePersons' %}"  style="color: white;">
																	<i class="icon-arrow-right-circle ml-2"></i>
																</a>
															</h4>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-6 col-md-3">
										<div class="card card-stats card-success card-round">
											<div class="card-body ">
												<div class="row">
													<div class="col-5">
														<div class="icon-big text-center">
															<i class="fas fa-university"></i>
														</div>
													</div>
													<div class="col-7 col-stats">
														<div class="numbers">
															<p class="card-category">Planning</p>
															<h4 class="card-title" style="color: white;">Go
																<a href="{% url 'showProfilage' %}"  style="color: white;">
																	<i class="icon-arrow-right-circle ml-2"></i>
																</a>
															</h4>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-6 col-md-3">
										<div class="card card-stats card-secondary card-round">
											<div class="card-body ">
												<div class="row">
													<div class="col-5">
														<div class="icon-big text-center">
															<i class="fas fa-cog"></i>
														</div>
													</div>
													<div class="col-7 col-stats">
														<div class="numbers">
															<p class="card-category">Settings</p>
															<h4 class="card-title" style="color: white;">Go
																<a href="{% url 'indexSettings' %}"  style="color: white;">
																	<i class="icon-arrow-right-circle ml-2"></i>
																</a>
															</h4>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</section>
			{% endif %}
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
// Donas

var doughnutChart = document.getElementById('doughnutChart').getContext('2d');
var doughnutChartAlumno = document.getElementById('doughnutChartAlumno').getContext('2d');

var myDoughnutChart = new Chart(doughnutChart, {
	type: 'doughnut',
	data: {
		datasets: [{
			data: [10, 20, 30],
			backgroundColor: ['#f3545d','#fdaf4b','#1d7af3']
		}],

		labels: [
		'Red',
		'Yellow',
		'Blue'
		]
	},
	options: {
		responsive: true,
		maintainAspectRatio: false,
		legend : {
			position: 'bottom'
		},
		layout: {
			padding: {
				left: 20,
				right: 20,
				top: 20,
				bottom: 20
			}
		}
	}
});


var myDoughnutChartAlumno = new Chart(doughnutChartAlumno, {
	type: 'doughnut',
	data: {
		datasets: [{
			data: [20, 10],
			backgroundColor: ['#fdaf4b','#1d7af3']
		}],

		labels: [
		'Courses bought',
		'Courses finished',
		]
	},
	options: {
		responsive: true,
		maintainAspectRatio: false,
		legend : {
			position: 'bottom'
		},
		layout: {
			padding: {
				left: 20,
				right: 20,
				top: 20,
				bottom: 20
			}
		}
	}
});

// Carrusel

$('.owl-carousel').owlCarousel({
	animateOut: 'slideOutDown',
    animateIn: 'flipIn',
	center: true,
    loop:true,
    margin:15,
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
            nav:true
        },
        600:{
            items:3,
            nav:false
        },
        1000:{
            items:5,
            nav:true,
            loop:false
        }
    }
})
</script>

{% endblock javascripts %}
